[2014-01-14 16:46] emcho opened #1 "Dead rooms"
In some cases participants would sometimes join a room and "nothing would happen". No audio/video connection is established. In such cases it is however possible to use the text chat of the application.

[2014-01-14 16:48] emcho opened #2 "Log stats"
Make WebRTC stats part of the JitMeet logs so that they would be available for analysis when bugs are being reported.

[2014-01-14 16:51] emcho opened #3 "Focus indication"
Add an indication that clearly allows users to determine if they are the focus in a particular conference and, if not, identify the person that is.

[2014-01-14 18:46] mokkin opened #4 "Firefox support"
This is just a support request.

Chromium works very well.
Please support also other browsers such as Firefox in the future.

Thank you for your great work!

[2014-01-15 06:14] emcho opened #5 "Chat panel broken layout"
![broken chat layout](https://f.cloud.github.com/assets/1817019/1917918/372892d6-7dac-11e3-9e7c-e926e83b1e41.png)
In some cases the layout in the chat panel appears broken and the topmost messages are hidden.

[2014-01-15 06:19] emcho opened #6 "Start muted"
@yanas will add a GUI option that allows organisers to specify whether participants in a conference are supposed to start with their microphone muted and/or webcam turned off.

Once this is ready, we would need the focus to indicate it in its invitations.

[2014-01-15 06:22] emcho opened #7 "Chat notifications"
Add visual and audio notifications when new chat messages are being received, while the chat panel is not open.

[2014-01-15 06:23] emcho opened #8 "Smileys"
Replace common smiley combinations with images. (Make sure copy pasting text still works that way)

[2014-01-15 06:25] emcho opened #9 "LastN"
Jitsi Videobridge now has a LastN feature that allows it to only forward the video for the last N active speakers. This is a mandatory feature for large scale conferences.

[2014-01-15 06:32] emcho opened #10 "Presentations"
Add the possibility to make presentations in a JitMeet conference.

This includes:
- upload a PDF or a number of images
- allow the presenter to pick which one they are showing
- allow participants to switch to slides as they do for regular video
- allow presenter to navigate through slides
- update slides for participants as the presenter moves through them

[2014-01-15 06:33] emcho opened #11 "Use multiple bridges"
Add to JitMeet the possibility to use multiple bridges on the same server (for scalability reasons)

[2014-01-15 06:34] emcho opened #12 "Show MUC roster"
Conferences with more than 8 or 10 participants wouldn't be showing all of them. For such cases it would be important to have an alternative means of seeing a list of the conference participants.

[2014-01-15 06:36] emcho opened #13 "Recording"
Make it possible to record a JitMeet conference. This includes audio, video and potentially even text.

[2014-01-15 06:37] emcho opened #14 "Force mute participants"
Add the possibility for the focus to force mute, kick and ban participants (i.e. without giving them the technical option of disobeying).

This would also mean placing their Jitsi Videobridge channel on hold, etc.

It would also mean that we would need to first finish #16

[2014-01-15 06:38] emcho opened #15 "Full MUC integration"
Focus should follow MUC settings and mute or kick people out of the conference as they are muted or kicked in the MUC

[2014-01-15 06:40] emcho opened #16 "Server-side focus"
Create a server-side JitMeet focus. This would imply adding a new role to JitMeet: that of a conference organiser.

The change would make chat rooms stabler and allow conference organisers to arrive later or reload their web pages without killing the entire conference.

[2014-01-15 08:25] emcho opened #17 "Selecting the local video mutes all audio"

[2014-01-15 08:38] emcho opened #18 "File sharing"
Make it possible for participants to share a list of URLs as meeting materials. This could also be used as a basis for shared presentations

[2014-01-16 12:34] #2 closed, assigned to fippo

[2014-01-16 13:26] emcho opened #19 "Log conference lifecycle on the videobridge"
This is an entirely videobridge task but since most of the work on the bridge currently happens within the context of JitMeet.

The goal of this ticket is to create, clear and easily greppable logging on the videobridge.

[2014-01-16 13:44] emcho opened #20 "Keeping alive connections with paused video (holding muted video streams)"
Muting video should better work by stopping video transmission because that would have a significant impact on bandwidth requirements, especially for large scale conferences.

To achieve this however we'd first need to make sure that the videobridge wouldn't expire connections without data and that it would keep them alive with ICE connectivity checks.

So for the time being this ticket lies with

[2014-01-24 19:44] fippo opened #21 "clientside ipv6 support"
The updates to
https://code.google.com/p/webrtc/issues/detail?id=1406
and specifically
https://code.google.com/p/webrtc/issues/detail?id=2828
suggest that ipv6 clientside support has just landed in chrome canary. I'll see about adding that.

I don't expect many problems, I think I saw it in action at IETF Berlin.

[2014-01-28 11:38] #3 closed, assigned to yanas

[2014-01-28 11:41] #10 closed, assigned to nobody

[2014-01-28 11:44] yanas opened #22 "Opening the chat breaks the remote video layout"
If there's a large number of remote videos, opening the chat will break the remote video layout by moving the last 2-3 videos on a new line.

[2014-01-28 11:46] yanas opened #23 "Add display names"
Send display names in presence. Show them to the user and save them in local storage.

[2014-01-28 11:48] yanas opened #24 "Check your hair screen"
Add  a check your hair screen before entering the conference.

[2014-01-28 11:53] yanas opened #25 "Chat link recognition"

[2014-01-28 11:54] yanas opened #26 "Custom tooltips"

[2014-01-28 11:55] yanas opened #27 "Integrate etherpad"

[2014-01-28 11:57] yanas opened #28 "Chat improvements"
Add dates to chat messages, add themes, improve layout.

[2014-01-28 11:58] yanas opened #29 "Full screen mode"

[2014-01-28 12:00] yanas opened #30 "Alternative video layouts"
Allow the user to choose between other video layouts, e.g. show more than one participants in large resolution or allow the user to show/ hide the remote participants.

[2014-01-28 12:05] #1 closed, assigned to lyubomir

[2014-01-28 13:45] #17 closed, assigned to yanas

[2014-01-28 14:11] #22 closed, assigned to yanas

[2014-01-28 19:48] fippo opened #31 "Duplicate empty span"
under certain conditions it seems that there is a duplicate span created with a non-unique id.
I think this goes along with the "can not associate stream" warning.

Need to check if presence update is sent before jingle action.

[2014-01-28 19:50] fippo opened #32 "support for audio-only conferences and focus users without a webcam"
partially implemented, need to test.

In particular, a focus without video might cause strange things to happen because its offer has a=recvonly.

[2014-01-30 12:43] emcho opened #33 "Focus and Participant should behave the same way"
@lyubomir @fippo and I have been chatting about this today. Having the focus behave differently when joining conferences causes a few instabilities because it hits several Chrome bugs (e.g. one where Chrome gets confused between the local candidates that it should use).

The best way to resolve these short term would be to make the focus join conferences the same way as participants: putting it at

[2014-01-30 12:45] emcho opened #34 "Auto-elect a new focus if the original bails"
@fippo  and discussed this yesterday. Currently having the focus leave during a call would not only break the call but also completely kill the channel.

We need some sort of a saving mechanism and a procedure for electing a new focus if (and only if) this happens.

Note that this is only a work-around as eventually we should be moving the focus on the server-side.

[2014-02-03 16:27] emcho opened #35 "Constrained participants break the conference for everyone else."
If the first person to join a conference as a participant has constrained connectivity (e.g. only connects through an http proxy) the conference would then be broken for everyone else.

This would be resolved after moving to a server-side focus but until then we may also try a few things with the current arch. Inviting participants asynchronously sounds like one idea. Retrying and eventually aband

[2014-02-03 22:37] #31 closed, assigned to fippo

[2014-02-04 17:31] #33 closed, assigned to fippo

[2014-02-04 21:36] #18 closed, assigned to yanas

[2014-02-04 21:37] emcho opened #36 "Add etherpad support"
Allow participants to share etherpads for collaborative editing.

[2014-02-04 21:39] #19 closed, assigned to lyubomir

[2014-02-05 13:01] #5 closed, assigned to yanas

[2014-02-08 08:59] emcho opened #37 "Audio notifications for people joining and leaving"
People would often enter a conference and then continue doing other things while waiting for everyone else to join. So, when people start arriving there wouldn't necessarily notice until greeted. It would be cool to have audio notifications generated by the app for newcomers.

[2014-02-08 20:21] #8 closed, assigned to yanas

[2014-02-08 20:21] #25 closed, assigned to yanas

[2014-02-09 10:36] #35 closed, assigned to emcho

[2014-02-11 14:48] emcho opened #38 "Unplugging a USB microphone during a call irreparably breaks conferences"
This is probably not going to be a very easy one. @fippo  what do you think?

[2014-02-12 17:17] #38 closed, assigned to fippo

[2014-02-13 14:20] #27 closed, assigned to yanas

[2014-02-13 14:21] #36 closed, assigned to yanas

[2014-02-14 13:50] emcho opened #39 "Desktop streaming"
Many users seem to be asking about this and they don't seem to mind needing to set a flag in chrome. We might as well oblige them :)

@bgrozev , @yanas , @fippo , any takers? :)

[2014-02-18 19:13] #37 closed, assigned to nobody

[2014-02-18 19:14] #7 closed, assigned to yanas

[2014-02-19 06:56] fippo opened #40 "reduce subsequent wait callouts for modifysources in colibri.js"
it seems we can safely remove the 2500ms timeout in colibri.js after https://code.google.com/p/webrtc/issues/detail?id=2688 is resolved. If that means supplying a patch...

[2014-02-19 07:16] #20 closed, assigned to lyubomir

[2014-02-19 07:20] emcho opened #41 "Video off should stop video rather than just mute it"
Since @lyubomir added support for keeping video channels alive in #20, we can make the video button turn video off (a=recvonly) rather than just sending black video. This should pave our way toward a resolution for #6

[2014-02-19 09:25] #21 closed, assigned to emcho

[2014-02-20 10:30] emcho opened #42 "Displaying connection states"
OK, this is very important. We need to be able to tell users about their join progress. The idea is that when a user is joining a conference now, they are only seeing an avatar for an indefinitely long time and there's no way for them to know if that's because a join is in progress or because it has failed. We need to be able to tell this to users.

@fippo  Could you please add an API that sends n

[2014-02-27 07:19] #41 closed, assigned to fippo

[2014-02-28 21:11] fippo opened #44 "browser requirements page"
we should have a separate page for firefox which explains why firefox is not supported. Currently, this is redirects to chromeonly.

The webrtc-required page should also recommend other browsers this works with such as Chromium or Opera.

[2014-02-28 21:37] #44 closed, assigned to nobody

[2014-02-28 21:53] fippo opened #45 "firefox audio-only support"
issue #4 deals with full audio/video support for Firefox.
Audio-only should be easier, since the bridge only sends a single mixed stream.

[2014-02-28 22:29] fippo opened #46 "firefox 1-1 session"
having a 1-1 session relayed via the bridge would be another step towards firefox compability.

That is not impacted by multi-stream support either, but may break due to lack of a=ssrc lines in firefox SDP

[2014-03-01 17:35] bgrozev opened #48 "Keep focus on presentations and etherpad"
When a new participant joins, their video replaces whatever is shown in the "big video" field. This is somewhat annoying if you're watching/presenting a presentation or looking at the etherpad.

Presentations and etherpad should not be replaced when a new participant joins.

[2014-03-02 00:26] #23 closed, assigned to yanas

[2014-03-03 10:19] bgrozev opened #49 "Extra colibri channels allocated"
In the beginning of a conference unnecessary colibri channels are allocated. For example, in a conference of two the focus requests a total of three pairs of channels (3 audio, 3 video). I observed the following: Initially the focus requests 2 audio and 2 video channels. The bridge replies setting channel ids. Something like:

[code]

The focus then appears to use only one of the channels for each

[2014-03-03 15:11] arthurzenika opened #50 "Debian package"
this software is really exiting. Any plans to do debian packaging ?

[2014-03-05 06:00] #49 closed, assigned to fippo

[2014-03-21 06:33] fippo opened #51 "RTCP FIR for keyframes"
On discuss-webrtc juberti said: "Note also that resetting a remote description to trigger a key frame is going away in M35. You should use RTCP FIR instead."

We do this in a number of places and should investigate where we can remove it.

[2014-03-28 20:39] fippo opened #54 "showDisplayName escapes too much"
It appears that displaynames like "&yet" are transformed into "&amp;yet".
That might well be double-escaping, but it seems you could avoid the whole escaping when using .text() instead of .html() in some places inside showDisplayName.

[2014-03-31 12:57] #54 closed, assigned to yanas

[2014-04-01 15:15] bgrozev opened #55 "Clicking "mute" early has no effect on sound"
Clicking the "mute" button before audio/video is shown results in the "mute" icon changing, but no effect on the sound afterwards. Clicking again after audio/video are shown toggles both the icon and the sound, however they are out of sync (icon shows mute and the sound is on, or vice-versa).

I think that ideally clicking mute before the conference is established should result in muted sound afte

[2014-04-11 11:38] ghost opened #57 "Hide Filmstrip"
Ability to hide filmstrip during presentations or wanting to feature someone

[2014-04-12 23:17] peili opened #59 "Participate without calling getUserMedia at the beginning"
I would suggest a feature to enable attending meetings without being forced to allow audio/video access when entering room. This is for some users a privacy issue.

If the participant decides to share audio/video you could call GetUserMedia at a later time.

[2014-04-14 11:10] #46 closed, assigned to fippo

[2014-04-15 08:19] ducdung0909 opened #60 "Failed installation jitmeet and prosody on local network."
HI,
 I tried to install and run jitmeet with prosody on my local network. . Because of installing on localnetwork, I don't have a domain name. I only used IP address of server and followed instructions except steps for stun server and behind NAT machine. After all, I open jitsi-meet client on chrome and see the black screen without any negotation of using camera and microphone from browser. Do we

[2014-04-15 16:28] #60 closed, assigned to nobody

[2014-05-02 16:20] petervnv opened #63 "etherpad and desktop streaming not working on my self-hosted jitmeet"
Hi,
I put these issues to the jitsi-dev list but this is probably the correct place for them.
Basically, I'm trying to figure out why desktop sharing and etherpad only seem to work for me on the meet.jit.si site and not when I try to host my own.

Is there some related code that is hosted only on meet.jit.si? That's the only thing I can think of that's different from my setup and the demo one. Whe

[2014-05-02 20:57] #63 closed, assigned to nobody

[2014-05-07 20:48] jungle-boogie opened #64 "Server Installation for Jitsi Meet: nginx bosh issues"
Problem:
Not able to add in the BOSH and xmpp websockets section into my site's conf file

/etc/nginx/nginx.conf:
include /etc/nginx/conf.d/*.conf;

Existing /etc/nginx/conf/chat.conf:

Adding in:
# BOSH

[code]

nginx: [emerg] "location" directive is not allowed here in /etc/nginx/conf.d/chat.conf:34

Should the BOSH and xmpp go outside the server or inside? both ways it, shows same message.

[2014-05-08 08:18] #64 closed, assigned to nobody

[2014-05-08 22:57] jungle-boogie opened #65 "Failed to load class "org.slf4j.impl.StaticLoggerBinder""
Brand new VPS:
# ./jitsivideo/jvb.sh --host=localhost --domain=chat.example.net --port=5347 --secret=emiljitsi

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
Exception in thread "main" org.xmpp.component.ComponentException: host-unknown

[2014-05-08 23:31] #65 closed, assigned to nobody

[2014-05-16 05:26] celevra opened #67 "Asterisk 11 WebRTC Support + Jitsi Meet"
Hi,

is it possible to run Jitsi Meet with Asterisk in a ConfBridge per WebRTC so that it is possible to login per call also?

regards

celevra

[2014-05-16 05:28] #67 closed, assigned to nobody

[2014-05-20 15:43] emcho opened #70 ""Invite others" reports "null" when pressed too early"
If the "invite others" button is pressed before we are actually part of the MUC it reports "null".

We might want to change that to some text indicating "your conference is currently being created" and then change that automatically as soon as we have the MUC jid.

[2014-06-09 17:55] fippo opened #77 "remove workaround for ice/dtls update bug"
Just checked M37 and it seems we can now remove the ugly "wait" stuff in https://github.com/jitsi/jitsi-meet/blob/master/libs/strophe/strophe.jingle.adapter.js#L283
(and for some reason its also in sessionbase)

[2014-06-11 10:09] Q-collective opened #78 "Auto-focus when someone is talking"
A straightforward request: Currently you need to manually toggle between video streams to have someone in the 'main' display. Could there be an option to enable auto-focus? This would help especially smaller meetings.

[2014-06-11 10:11] Q-collective opened #79 "A way to lock use of the server"
Currently, everyone can start a session that knows the url. This could potentially cause a DDOS situation.
Feature request: Add a password possibility or another manner to only allow authorised people to create a session.

[2014-06-11 10:16] Q-collective opened #80 "More administrative options"
Currently you can kick and mute persons. These are both 'soft' options: People can rejoin the session (if they know the password) and people can unmute themselves. This might encourage undesired behaviour in some situations.

Feature request: Add an option to forcibly mute participants as owner of a session (and be able to unmute them from that position). Be able to ban people, for eample based on

[2014-06-11 10:21] #80 closed, assigned to nobody

[2014-06-19 14:30] fippo opened #81 "nack pli"
Just noticed that chrome 35 includes a
a=rtcp-fb:100 nack pli
line in addition to the nack one (is that legal even?)

This is currently not in
https://github.com/jitsi/jitsi-meet/blob/master/libs/colibri/colibri.focus.js#L297
(which I think is from chrome 33)

[2014-06-24 19:16] gusandrews opened #83 "No password prompt"
OS: Mac 10.9.3
Browser: Chrome

At one point, after playing with setting rooms to locked and unlocked repeatedly and having different people access the rooms, I set a password, the room appeared to be locked, but the room did not ask newcomers for the password. I wasn't able to re-create this bug, but multiple times setting and removing passwords should bring that error up again.

(Sorry this didn

[2014-06-24 19:18] gusandrews opened #84 "Not clear when chat messages have been sent"
A number of users in our test sessions did not figure out that text messages were being sent for quite some time, as the indicator in the toolbar is very subtle.

RECOMMEND: It might be nice for the chat bar to be toggled on at startup, to turn on when a text message is sent, or to flash/animate something in the toolbar briefly when a chat message is sent.

[2014-07-08 08:38] neusdan opened #85 "No error message is shown to the user when no audio devices are available."
Even if chrome is used i get this error when chrome does not find my microphone (i had it disabled in windows).

 "Failed to get access to local media. Error  NavigatorUserMediaError {constraintName: "", message: "", name: "DevicesNotFoundError"} "

Therefore a meaningful error message would be nice.

Chrome 35
Windows 7

[2014-07-09 15:46] ghost opened #88 "Cannot use desktopsharing"
Here is the console output when trying to activate desktopsharing :
Failed to install the extension Installs can only be initiated by one of the Chrome Web Store item's verified sites desktopsharing.js?v=2:168
Failed to obtain the stream to switch to Installs can only be initiated by one of the Chrome Web Store item's verified sites desktopsharing.js?v=2:239
getSwitchStreamFailed desktopsharing.js

[2014-07-10 18:43] emcho opened #89 "Thumbnails wrap when chat window is open"
Normally thumbnails get reduced in size as they grow in number. When the chat window is open though, they simply wrap on a new line which is almost invisible.

There have been reports that this also happens in cases where the chat window is not open.

[2014-07-14 10:37] #89 closed, assigned to nobody

[2014-07-14 10:44] #84 closed, assigned to nobody

[2014-07-14 12:00] #70 closed, assigned to nobody

[2014-07-14 12:07] #26 closed, assigned to yanas

[2014-07-30 03:11] ghost opened #91 "No Video"
Hello Everyone,
I have issue where randomly for some clients video stream  is failing  even preview not available.

Also in most reports is on chrome 36.

My whole is setup is behind NAT.

Any help thank you in advance.

[code]

[code]

[2014-08-11 08:18] work-ouyang opened #92 "The given demo in https://meet.jit.si cannot work"
Hi, the given demo does not work.  I tried the meeting function in https://meet.jit.si
### The testing environment :

2 users in an online meeting using chrome browser through https://meet.jit.si
-  User 1: Mac OSX 10.9.4 with chrome 36.0.1985.125
-  User 2: Lenovo Thinkpad Windows 8 with chrome 36.0.1985.125
### Problem:

Both users can only see their own face and their own sharing screen. They c

[2014-08-11 08:35] #91 closed, assigned to nobody

[2014-08-11 08:55] #78 closed, assigned to nobody

[2014-08-11 09:14] #92 closed, assigned to nobody

[2014-08-13 06:57] dzmitrys-dev opened #94 "Cannot install on Debian Jessie"
Hello, Ive tried to install jitsi-meet on Debian Jessie and here is log of what I get in root terminal.
Will appreciate any help

http://pastebin.com/P2weXMmx

[code]

[2014-08-13 07:41] ghost opened #95 "Centos Install Provedure"
hello i will like to know or ask or request for a Centos Install Procedure, this app have a great way to be the most powerfull and number 1 for this kind of service.

[2014-08-13 07:46] #95 closed, assigned to nobody

[2014-08-13 23:07] jkrenzer opened #96 "Feature-Req: Invite Jitsi-client to conference / Join conference with Jitsi-client"
Hi!

Jitsi and Jitsi-Meet would be even more awesome if one could participate in a conference regardless of using the web- or Jitsi-client. Scenario: Conference with some moderators/speakers/employees using their trusty Jitsi/XMPP with all their preferences, LDAP, bells and whistles and an unknown number of (anonymous) visitors via web-client.

Kind regards,

Jörn

[2014-08-23 11:26] #55 closed, assigned to nobody

[2014-08-25 05:38] sunilnagi opened #101 "recording issue.."
installed everything according to installation document.
everything run fine, but recording.
when click on record button, I can see in console log set command for recording = true,
but receive recording = false

link to test complainera.com.

[2014-08-25 08:22] #101 closed, assigned to nobody

[2014-08-26 05:35] sangramrath opened #103 "Disappointing install instructions"
I am very disappointed at the install instructions. This in no way helps in duplication the installation you have at https://meet.jit.si/

I understand this is a start but there is quick install which also is a failure and does not work as per the steps outlined. Documentation is key to any new software if you really need it adopted.

This is a request to all contributors and developers to start c

[2014-08-26 07:24] #103 closed, assigned to nobody

[2014-08-27 08:02] emcho opened #105 "Invite dialog shows "conference is being created""
Hi,

 I'm playing around with jitsi meet.
 Therefor I have installed a VM mit Ubuntu server 14.04 and I followed the
 instructions from the quick-install.
  https://github.com/turint/jitsi-meet/blob/master/doc/quick-install.md

 I can access the jitsi meet but if I click on invite others I receive the
 following:
 Your conference is currently being created...

 Emil ask me to open a ticket for tha

[2014-08-29 07:58] fouksf opened #106 "Tooltips for the bottom right toolbar are partly out of the screen"
Currently the tooltips show just a part of the text inside of them, so you get something like "Open close c" or "Open close contact" and we want all of the text to be visible - "Open / close chat" and "Open / close contact list".

[2014-08-29 08:00] fouksf opened #107 "Speaker is not a good name for people with no display name"
Currently when there is no display name to show on hover over a black thumbnail "Speaker" is shown, but this is not true and when the user isn't actually speaking and should be changed to something more accurate.

[2014-08-29 08:05] fouksf opened #108 "Create random avatars for participants and add an option for getting their gravatar"
We want random avatars to be shown for people, with the option to use their own gravatar by supplying their e-mail address. We have to also be able to represent the audio levels of an active speaker around his/her avatar.

[2014-08-29 08:07] fouksf opened #109 "Create a button that hides the filmstrip"
We should have a button that hides the filmstrip so the video can be on the whole screen when you want it to be.

[2014-08-29 08:08] fouksf opened #110 "Change the color of the pinned speakers so they are distinguishable from audio level representation"
Currently the pinned speaker color is very similar to the color of the audio levels and the two are hard to differentiate. We should change them in a way that makes it easy to recognize which is which.

[2014-08-31 03:35] pazcrow opened #111 "Invite is not avaliable"
I've installed Jitsi Meet (Quick and Normal) but when I want to generate a link to invite always appear this message "Your conference is currently being created..."

Thanks

[2014-08-31 08:58] #111 closed, assigned to nobody

[2014-09-03 17:27] bgrozev opened #116 "No clear indication when recording has not been started"
When recording is started, the 'recording' icon starts to glow. If it fails to start, the only indication is that the glow is missing. We need a more clear indication.

[2014-09-04 12:32] fouksf opened #117 "Remote user controls disappear too easily."
Right now when you hover the arrow the tooltip with the menu is shown but you have to hover over it very fast otherwise it hides.

[2014-09-04 14:09] fouksf opened #119 "Add keyboard shortcuts support."
Add support for keyboard shortcuts like ctrl + <number> for showing the n-th video and ctrl + m for muting the microphone.

[2014-09-05 11:07] #57 closed, assigned to nobody

[2014-09-05 13:48] fouksf opened #121 "Change the way it's switched between the chat window and the contact list."
Currently both are animated and the contact list is made slightly transparent. Only the currently opening window should be animated and when it is complete the other one should hide/close.

[2014-09-15 12:42] fouksf opened #130 "Participant is muted popover stays behind after the participant is unmuted."
As @randulo reported if you leave your cursor on the muted indicator of a remote video and the participant gets unmuted the popover is left visible, never disappearing.

[2014-09-16 04:59] #94 closed, assigned to nobody

[2014-09-16 05:04] #50 closed, assigned to nobody

[2014-09-16 05:06] #39 closed, assigned to paweldomas

[2014-09-16 08:15] #119 closed, assigned to nobody

[2014-09-16 08:27] #106 closed, assigned to nobody

[2014-09-16 08:27] #109 closed, assigned to nobody

[2014-09-16 08:27] #130 closed, assigned to nobody

[2014-09-18 06:14] mgaunard opened #133 "Does not work if no sound/video detected, or if sound/video access is denied"
Even if there is no sound or video, the meeting should take place, and this shouldn't prevent things such as chatting or desktop sharing.

[2014-09-18 11:55] #34 closed, assigned to yanas

[2014-09-24 10:42] #107 closed, assigned to nobody

[2014-09-25 17:44] yanas opened #139 "Make etherpad session password protected when in password protected conference"
This issue has 2 aspects. The first one is that the "Shared document" button is present and clickable for participants that have been kicked out from a password protected conference, while it should be disabled or return an error message when clicked. The other aspect is to find a solution to lock etherpad access when in password protected conference.

Following is the original bug report from Cle

[2014-09-29 10:52] hristoterezov opened #140 "Tooltips are not displayed or they are displayed partly"

[2014-09-29 10:52] hristoterezov opened #141 "The remote videos are displayed in two rows."

[2014-09-29 10:53] hristoterezov opened #142 "Sometimes the audio levels are not displayed"

[2014-09-29 10:56] hristoterezov opened #143 "Inconsistent GUI behavior when people turn off their video"
Sometimes it goes to black and sometimes it remains frozen on a video snapshot. It should go to black.

[2014-09-29 10:57] hristoterezov opened #144 "The push to talk feature stops working after press T 10/20 times"

[2014-09-29 10:58] hristoterezov opened #145 "When switching between contact list and chat we go through a weird multi-layered animation"

[2014-09-29 11:00] hristoterezov opened #146 "Webcam and microphone appear on top of each other when both audio and video are muted."

[2014-09-29 12:17] hristoterezov opened #147 "Turning on desktop streaming turns off the sound for the person sharing desktop"

[2014-09-29 12:19] hristoterezov opened #148 "The number of participants should be displayed in the contact list icon."

[2014-09-29 12:25] hristoterezov opened #149 "Clicking on participant in the contact list functionality"
When the user click on participant in the contact list the behaviour should be the same as clicking on small video.

[2014-09-29 12:29] hristoterezov opened #150 "Remove the dot that appears on the right side of remote videos"
When somebody enters or leaves conference a dot or arrow appears on the right side of the remote videos. When the dot is hovered a second row with video containers is displayed.

[2014-09-29 23:56] danboid opened #151 "'Old' browser version number warning"
I have been told in the Jitsi IRC channel that Chromium/Chrome < 36 has buggy webrtc support.

If so, Jitsi webrtc should print a warning for users of sufficiently 'old' browsers to tell them they may experience issues if they don't upgrade to a suitable version.

I don't know nor did I ask about the minimum Opera version required but this should be detected too if it has similar issues.

[2014-09-30 08:54] #117 closed, assigned to fouksf

[2014-09-30 12:32] hristoterezov opened #153 "Continuous integration and automated testing"

[2014-09-30 13:03] #121 closed, assigned to fouksf

[2014-09-30 14:12] bgrozev opened #154 "Multiple audioMuted/videoMuted elements"
When muting/unmuting audio and video, multiple 'audioMuted' and 'videoMuted' elements appear in '#localVideoContainer' and in the remote video container.

[2014-09-30 14:52] #141 closed, assigned to fouksf

[2014-09-30 15:51] #140 closed, assigned to hristoterezov

[2014-10-01 08:37] #154 closed, assigned to nobody

[2014-10-01 08:37] #146 closed, assigned to hristoterezov

[2014-10-01 09:38] #145 closed, assigned to nobody

[2014-10-01 14:53] bgrozev opened #155 "The "videobridge is unavailable" message isn't shown to the focus"
When the bridge is down, the non-focus participants see a "Jitsi Videobridge is currently unavailable. Please try again later!" message. The focus does not see it.

[2014-10-02 07:58] #155 closed, assigned to nobody

[2014-10-02 08:01] #144 closed, assigned to fouksf

[2014-10-02 12:19] fouksf opened #156 "Differentiate between someone leaving the conference and participants hidden because of adaptive lastN"
Currently both make the video container disappear and the user should be able to understand which of the two occurred.
Possible ideas:
 *When the user leaves the video freezes and a message that he left is shown before the container is removed
 *When the user leaves the container disappears and a popup with a message is shown
 *When a video is remove because of adaptive lastN the video flies to th

[2014-10-02 13:59] #150 closed, assigned to hristoterezov

[2014-10-03 11:45] hristoterezov opened #157 "Video mute issues"
When only one user is in the conference the camera icon is not displayed on video mute. When another participant enters the conference the camera icon for the muted user is also not displayed.

[2014-10-03 12:37] #157 closed, assigned to hristoterezov

[2014-10-03 12:38] hristoterezov opened #158 "Inconsistent unmute UI behaviour (sometimes removes the microphone icon element and sometimes just hide it)."

[2014-10-03 14:00] #158 closed, assigned to hristoterezov

[2014-10-06 11:39] #149 closed, assigned to fouksf

[2014-10-06 16:34] #88 closed, assigned to nobody

[2014-10-07 13:35] #9 closed, assigned to nobody

[2014-10-07 13:36] #12 closed, assigned to yanas

[2014-10-07 13:37] #29 closed, assigned to nobody

[2014-10-08 07:16] hristoterezov opened #159 "JSHint"
Install and configure jshint.

[2014-10-09 14:07] fouksf opened #160 "When the dominant speaker shares his screen, you start seeing yourself."
When the speaker shares their screen, the video is stopped and you start seeing yourself and when the desktop is visible, the video should go to it.

[2014-10-09 14:45] fouksf opened #161 "shift + ? should open a shortcuts legend"
When shift + ? is pressed the user should see a legend with all the keyboard shortcuts they can use.

[2014-10-09 14:47] fouksf opened #162 "When the filmstrip is hidden, if there is a prezi or screen shared we should expand it."
When there is a presentation or screen currently being shared and the user hides their filmstrip they should be expanded to the full size of the browser.

[2014-10-09 15:07] bgrozev opened #163 "The local mute/unmute icon lags"
We noticed a lag (sometimes of a few seconds) between doing a mute/unmute (either by clicking the icon, or using a shortcut). We suspect it could be caused by us waiting for our own updated presence to come from the MUC before changing the icon.

[2014-10-09 15:30] bgrozev opened #164 "A participant still appears on top of someone"
We observed a bug where after someone changes from screen-sharing to camera, a still picture from their camera appears on the thumbnail of another participant (who had video disabled at the time).

The suspicion is that the signalling of the new SSRC was delayed, and the received RTP packets were (temporary) from an unknown SSRC and passed on to another media stream.

[2014-10-09 15:33] bgrozev opened #165 "Screen sharing freezing and not recoverying"
We had a conference with multiple participants, one of them screen-sharing. On my client, the screen-sharing froze and didn't continue for more than 2 minutes. The other participants were seeing it correctly.

[2014-10-09 16:27] yanas opened #166 "Add the 'T' shortcut description to mute tooltips"
Add a second line to all mute / unmute tooltips for the "push to talk" shortcut.

[2014-10-09 16:31] yanas opened #167 "Show displayname if the video is muted / unavailable"
When there's no video for someone or the video is muted it will be very useful to show the user display name all the time (instead just on hover). Once we support avatars, this one could be replaced by the user avatar if such is available. In other words, when the video is muted or simply not available, if an avatar is supported and available - we show the avatar, otherwise we show the user displa

[2014-10-09 22:04] #79 closed, assigned to nobody

[2014-10-10 07:21] #147 closed, assigned to nobody

[2014-10-10 10:52] fouksf opened #168 "Add a room settings button."
We should have a gear button for setting the user's avatar, e-mail and other options.

[2014-10-10 11:09] #110 closed, assigned to nobody

[2014-10-10 11:43] #105 closed, assigned to nobody

[2014-10-10 13:23] #51 closed, assigned to nobody

[2014-10-13 08:55] #163 closed, assigned to bgrozev

[2014-10-13 10:08] #164 closed, assigned to bgrozev

[2014-10-14 16:51] bgrozev opened #170 "Cannot change videos after etherpad has been opened"
To reproduce: open a conference with two participant, open etherpad, click the local video. At this point clicking on the other participant's small video does not show it in full size (although a "selected endpoint changed:" message is logged).

[2014-10-15 18:13] patcon opened #171 "Investigate JSXC integration?"
Maybe it's model makes no sense for jitsi-meet, but I didn't see any mention in here or on the jitsi mailing lists, so thought I'd put it out for discussion
https://github.com/sualko/jsxc

Seems there are some efforts to get XMPP chat working on diaspora\* via JSXC:
https://wk3.org/posts/1794878

Y'all are awesome btw :)

[2014-10-15 19:34] #171 closed, assigned to nobody

[2014-10-17 17:52] bgrozev opened #174 "It's easy to unintentionally remove your display name"
Clicking on your name and then clicking somewhere close around it (not every spot seems to work) results in the display name being cleared.

Possible fix: when the name is clicked, the input box contains the old name (if any)?

[2014-10-17 17:54] bgrozev opened #175 "Long display names not shown"
When a participant's display name is too long it isn't shown. When the size of the thumbnails decreases, this starts to affect shorter names as well. Maybe we could show the first word, or the first few letters of a name when there isn't space for it all.

[2014-10-17 17:55] bgrozev opened #176 "Have a way to disable join/leave sounds"
The join/leave sounds can be annoying in a large conference. We should have a way to disable them.

[2014-10-17 18:02] bgrozev opened #177 "Special characters in the chat"
Typing an '&' in the chat window results in '& amp;' being printed.

[2014-10-17 18:04] bgrozev opened #178 "Chat messages with no display name"
Someone had a display name set, but the messages in the chat were using his muc name.

[2014-10-17 18:07] bgrozev opened #179 "Stats tooltip are "shifty""
Hover over gsm bars. Wait for an update to arrive on another thumbnail. Watch the tooltip move. It should just remain where you are.

[2014-10-17 18:14] bgrozev opened #180 "People outside lastN can't speak"
Sometimes when people who are outside of lastN unmute, their audio doesn't work.

[2014-10-17 18:31] #170 closed, assigned to nobody

[2014-10-18 16:41] fippo opened #181 "sdp-munge non-relay candidates"
reminder to myself that I want to do this instead of using iceTransports (which seems broken)

[2014-10-18 23:19] zalmoxisus opened #182 "Security issue: Javascript Injection in changing user name"
Try to change user name with

[code]

[2014-10-28 13:18] driesken opened #185 "Slow when 2+ users."
I've just set up the latest version of prosody-trunk, jitsi videobridge and jitsi meet on Oracle Linux (in virtual machine). Everything is working fine more or less, except the fact that the latency and packetloss increases when more than 2 users are in the same room.

I also notice that chrome increases the bandwith rapidly (2Mbps up and down per user), while after a few minutes it makes a drop a

[2014-10-28 13:56] #83 closed, assigned to nobody

[2014-10-30 06:59] #185 closed, assigned to nobody

[2014-10-31 12:36] zalmoxisus opened #186 "Simulcast.js crashes Chrome 35"
There's something wrong in new updates of simulcast.js that crashes chrome mobile 35. If I replace trunk simulcast.js with https://meet.jit.si/simulcast.js?v=1, it fixes the problem.
It causes only when I enter a new empty room, and a new participant comes. If there are already any participants, that works.
Tested with and without enableSimulcast on Chrome mobile 35.0.1916.141. Updated to 38 and n

[2014-11-05 00:30] emcho opened #187 "Detect and alert on datachannel failures"
Sometimes data channel setup seems to fail for some reason. I'd like us to introduce some sort of a "hello" message there and then detect datachannel failures by either catching an exception or detecting lack of said "hello" message.

@gpolitis  could you please have a look at that in the following days?

Thanks!

[2014-11-05 08:45] bgrozev opened #188 "Cannot edit display name without changing focus to yourself"
When you click your own name in order to edit it, the local video appears in full size.

[2014-11-12 23:33] artooro opened #192 "Failed to install desktop sharing extension"
Just got Jitsi Meet working on our own server, but we're having an issue with the screen sharing. The Chrome extension is installed and works great if we go to meet.jitsi.org but on our own site we get an error that says "Failed to install desktop sharing extension" and the following error appears in the javascript console.

[code]

Screen sharing is pretty important and this seems like it should

[2014-11-12 23:58] #192 closed, assigned to nobody

[2014-11-13 00:35] artooro opened #193 "speaker film strip thumbnail is black"
You can test it for yourself at https://meet.nerdsonsite.com

The thumbnail for the active speaker is always black. If you make another person the active speaker then their thumbnail goes black.

I can't find any information from the logs on why this is happening. It doesn't happen on meet.jitsi.org.

Is this a bug? (I'm running the latest debian packages) or is there an issue with my setup somewh

[2014-11-13 00:39] #193 closed, assigned to nobody

[2014-11-17 21:56] bgrozev opened #196 "Leaking PeerConnection-s"
Open a conference. Have someone join, leave and join again. At this point there are two PeerConnection-s listed in webrtc-internals.

[2014-11-21 00:22] #186 closed, assigned to nobody

[2014-11-22 16:48] reedstrm opened #198 "Can't acquire permissions if webcam not available"
Trying to use meet.jit.si recently and got stuck in a "can't acquire permissions loop". Eventually realized that chrome didn't see my camera at all: it's an integrated laptop cam, in the USB bus, and there's a hotkey to disconnect it. If I turn on the camera and start a meeting, I can then disable the camera and everything seems fine. Seems startup is insisting on having a camera.

[2014-11-22 22:22] #198 closed, assigned to nobody

[2014-11-27 13:53] #188 closed, assigned to nobody

[2014-11-27 13:54] #168 closed, assigned to nobody

[2014-11-27 13:56] #148 closed, assigned to fouksf

[2014-11-27 13:56] #108 closed, assigned to nobody

[2014-11-28 11:41] perburn opened #200 "Video/Audio on meet.jit.si stopped working with Chromium"
Hi,

I don't know if this is the right place for reporting problems about meet.jit.si,
I was regulary using meet.jit.si sucessfully with Chromium (Debian unstable, now Version 38.0.2125.101).

Some weeks ago it stopped showing the remote video/audio.

Regardless of configuration or network (local, internet, etc). It shows the remote participant box, chatting etc. works but remote video/audio is no

[2014-11-28 23:35] #32 closed, assigned to fippo

[2014-11-30 19:07] magatz opened #202 "Read-only (audio and video) users"
Hello I'm trying to understand the code...
I've modified the app.js code, to avoid the webcam detection, but injecting the xmpp user, according to the Openfire registered users. (IE: i've got a standard jitsi-meet client, as broadcaster, and a modified application acting a a read-only user)

As expected the owner of the conference, sees the presence of the read-only users, via the user roster , or

[2014-12-02 10:43] Slawutich opened #203 "Audio problems"
we have audio issues (intermittent audio) when a user is connected via Jigasi on all webrtc browser clients. Browsers hears the problem, SIP clients hear everything correctly.

[2014-12-04 14:17] moretalk opened #206 "TypeError: Cannot read property 'appendChild' of undefined... at setDisplayName"
Getting the Error in the Console Cannot read property 'appendChild' of undefinded at setDisplayName
I found this also in the lists without resolution:

http://lists.jitsi.org/pipermail/dev/2014-September/022019.html
My console output looks exactly like the above.

Mentioned it on IRC today and two others are also having this issue.

I'm using openfire XMPP but bug reported also on Prosody.

[2014-12-10 15:09] Zalmoxisus opened #209 "Video mute (toggleVideo) doesn't work on an empty room"
This issue appeared after merging branch 'ssfocus'.
When there's no other participants in the room, getConferenceHandler() returns null, as we can see here https://github.com/jitsi/jitsi-meet/commit/4776605dec7effe18ac0acf8ab80b06eb678859f#diff-0364f57fbff2fabbe941ed20c328ef1aR1025 (before this commit it returned focus object), and toggleVideo stops here - https://github.com/jitsi/jitsi-meet/blob/

[2014-12-11 17:36] bgrozev opened #210 "Disembodied audio levels"
![screen shot 2014-12-11 at 19 27 54](https://cloud.githubusercontent.com/assets/3264699/5398669/eb530236-816c-11e4-8b91-f7b65be15d09.png)

[2014-12-12 09:50] #210 closed, assigned to nobody

[2014-12-17 05:30] buubui opened #212 "Focus error, retry after..."
I followed the instruction to install jitsi-meet (https://github.com/jitsi/jitsi-meet/blob/master/INSTALL.md) for server "cooler.pullerits.com". But it didn't work.
The errror bubbles show:

[code]

Error log in chrome console:

[code]

Can anyone help me to figure out what's problem in here? Thanks.

[2014-12-18 12:06] #212 closed, assigned to nobody

[2014-12-18 16:27] #177 closed, assigned to nobody

[2014-12-18 16:28] #182 closed, assigned to nobody

[2014-12-21 11:22] xavierle opened #215 "cannot install ubuntu package"
when following the quick install procedure i have the following issue :

Paramétrage de jitsi-videobridge (379-1) ...
useradd: warning: the home directory already exists.
Not copying any file from skel directory into it.
dpkg: error processing package jitsi-videobridge (--configure):
 le sous-processus script post-installation installé a retourné une erreur de sortie d'état 1
Traitement déclenché

[2014-12-27 14:46] mfgamma opened #216 "error on install on debian 7 or 8 or unstable"
hi please find below the error message after trying to install it. I installed oracle sdk to get to this point with open jdk 7 , error is coming even sooner on videobridge

tested on debian 7, 8 and unstable

Setting up jicofo (1.0-21-1) ...
/var/lib/dpkg/info/jicofo.postinst: line 25: /etc/jitsi/videobridge/config: No such file or directory
dpkg: error processing package jicofo (--configure):
 su

[2014-12-27 21:17] #216 closed, assigned to nobody

[2014-12-27 21:19] #215 closed, assigned to nobody

[2015-01-07 16:45] mcharris commented on #65
I just wanted to leave my fix for this.
Looks like it was listening on host 127.0.0.1 and was rejecting the hostname localhost for me. I changed the flag --host to --host=127.0.0.1 and this fixed my issue. Hope this helps others.

[2015-01-09 18:30] serviewcare commented on #192
I've built my own extension with a URL in the Chrome App store, but I'm still getting an issue with the latest Jitsi Meet Source code:

"Uncaught Chrome Web Store installations can only be initated by a user gesture."

[2015-01-12 04:16] serviewcare opened #217 "updateActiveSpeakerAudioLevel causing CPU spike."
Using Google Chrome 39 on OSX, I have noticed after being in a call for a period of time the performance of the calls began to degrade.

After disconnecting all participants, the CPU use still stayed ~90-100%.

After doing a CPU Profile, I noticed that updateActiveSpeakerAudioLevel was the primary contribution.

Upon commenting out the call to updateActiveSpeakerAudioLevel in AudioLevels.js, the C

[2015-01-14 17:43] paweldomas opened #218 "Crash when user name contains '.'"
If we use domain with authentication and username contains '.' then Jitsi Meet will break with the following stack trace[1]. It seems that this breaks jQuery selectors.

[1]:
Strophe: error: Cannot read property 'appendChild' of undefined
TypeError: Cannot read property 'appendChild' of undefined
    at setDisplayName (https://jitsi.vuc.me/libs/modules/UI.bundle.js?v=5:4315:32)
    at Object.my.en

[2015-01-15 21:59] Zalmoxisus commented on #217
The same issue is when we focus an user video, the cpu increases a lot, and after unfocusing it decreases a bit. It happens after a continuous discussion with many participants. Sometimes it slows so much that it is almost impossible to type something in chat.
I thought it is an issue of webrtc.
I also use Google Chrome 39 on OSX, but reproduced it on Windows too.

[2015-01-26 10:16] guilhem commented on #209
:+1:

[2015-01-26 10:18] guilhem opened #219 "Webcam isn't closed when muting it"
When using meet.jit.si , camera is still in use even if muted (activation led is on).

Same things happen on `appear.in` but not on `Hangout`

[2015-01-27 10:10] nwittstruck opened #222 "postMessage Namespace for API"
It would be great if we could put the API messages that are sent using postMessage into its own namespace. Otherwise, when embedding Jitsi meet in a web application that uses postMessage as well, you will see a lot of "Message without type is received." errors in the console.

I'll create a PR for this in the next couple of days unless somebody protests.

[2015-01-28 05:11] #181 closed

[2015-01-29 01:24] skug67 opened #223 "Run jitsi-meet at suburl via apache reverse-proxy"
Rather than create a dedicated http subdomain for jitsi-meet (e.g., jitsi-meet.my.domain), I would rather access it via a suburl from my existing website (e.g. www.my.domain/jitsi-meet).  And I currently host my site using apache, not nginx.  Other than figuring out the proper rewrite rules for apache from what's currently in nginx (which I _might_ be able to do), how much else would be involved -

[2015-01-29 01:33] fippo commented on #223
check if the getroomnode function as part of the config (https://github.com/jitsi/jitsi-meet/blob/master/config.js#L11) still works. Extract your room from the path component inside.

[2015-01-29 01:41] skug67 commented on #223
How would I go about doing that?  I can see that the function is commented out in the default config, and it would be easy enough to reactivate it.  But what do you mean by "extract your room from the path component inside"?  (Sorry to be dense, but I'm barely competent with server config files (even that might be overstating my skills) and pretty much useless when it comes to actual coding.

[2015-01-29 12:24] Zalmoxisus commented on #223
Yes, it works, I used it few days ago for testing.

Just use something like that:
getroomnode: function (path) { return
location.pathname.replace('/jitsi-meet',''); },

Regards,
Zalmoxisus

On Thu, Jan 29, 2015 at 3:41 AM, skug67 <notifications@github.com> wrote:

[2015-01-30 03:07] LIAOYUZHE commented on #103
i also met a lot of problem when installing the jitsi meet, i just fellow the detailed installatiom instruction to install my jitsi meet, every step i'm very carefully, but it dosen't work. i don't konw how to solve it.
i even don't konw what is YOURSECRET1 or YOURSECRET2 mean!

[2015-01-30 19:09] digititus opened #226 "Your conference is currently being created..."
When I click 'Invite others' I get a screen which says 'Your conference is currently being created...' but it never is created. So far, only 1 user can access the jitsi-meet service, so not much meeting happening so far :-)
I have tried Chrome on OS X and Chromium on Fedora, with the same outcome.
Jitsi-meet installed on Ubuntu Trusty from repo. Using alternate port with nginx.

[2015-02-02 16:49] wngr commented on #200
I have the same problem with fedora 21.
Name        : chromium
Arch        : x86_64
Version     : 38.0.2125.101

[2015-02-04 12:53] palant commented on #4
https://bugzilla.mozilla.org/show_bug.cgi?id=784517 has been resolved as a duplicate of https://bugzilla.mozilla.org/show_bug.cgi?id=1095218 - and the later has been resolved as fixed last Thursday. Unfortunately, the code in question uses browser detection rather than feature detection, so the current Firefox nightlies will still redirect to `chromeonly.html`.

[2015-02-04 17:05] cpnadal opened #231 "Port redirection"
Hi i sapent déverbal Hours to try to make Joris work with a different port by using port redirection , proxy pass, ERDF. But no chance to find.

Something's knows about it?

Thank you.

[2015-02-04 19:18] cpnadal commented on #223
Hi skug67, have you been able to fix your issue? If yes, could you please tell me how?

Many thanks,

Cyrille

[2015-02-04 19:23] bgrozev commented on #231
Please use the dev@jitsi.org mailing list for questions and describe your problem in more detail.

[2015-02-04 19:23] #231 closed

[2015-02-04 19:56] skug67 commented on #223
Sorry.  Messed around w/it a little bit but never got it working.

Quoting cpnadal <notifications@github.com>:

Links:
------
[1] https://github.com/jitsi/jitsi-meet/issues/223#issuecomment-72919393

[2015-02-05 00:06] emcho commented on #4
Hey @palant . Support in Meet is still being worked on and the corresponding support in firefox is still being stabilised. We will obviously change the browser check once we actually support another browser

[2015-02-09 12:46] bgrozev commented on #217
Has anyone seen this with a recent (>=365) version of Jitsi Meet? We saw it with 333 and 339, but fail to reproduce with 365.

[2015-02-09 14:31] martinelis commented on #63
Any guide or walkthrough for that desktop sharing? Still cannot get it working.

[2015-02-09 16:03] bgrozev commented on #217
Nevermind, @hristoterezov can repro.

[2015-02-11 14:54] Deshke opened #234 "no audio/video on selfhosted instance"
hey there, i've tried the quick-install from https://github.com/jitsi/jitsi-meet/blob/master/doc/quick-install.md with
[code]

but there is no video or audio from a second client (no matter if chrome beta/stable on any os), any idea?

[code]

replaced my "server.tld" with "somehost"
[code]

[2015-02-16 20:34] kosmosby commented on #155
hi, follow your instructions and have exactly the same error:

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
23:33:23.531 SEVERE: [1] util.UtilActivator.uncaughtException().108 An uncaught exception occurred in thread=Thread[main,5,main

[2015-02-17 13:35] kosmosby opened #235 "how to debug connection?"
i see a new user if somebody joined but i don't have video-audio channel. Please suggest how to debug it. My link is http://dev.cloudinterpreter.com:8901/1

Thanks.

[2015-02-17 14:20] kosmosby commented on #235
after deeply reading setup documentation i have audio signal, but still no video, heeelp

[2015-02-18 05:59] kosmosby commented on #235
it works now, but how to automatically turn on video camera?

[2015-02-18 07:42] driesken opened #236 "wrong hover in main.json"
Looks like "filmstrip" and "contactlist" should be swapped in main.json:

"bottomtoolbar": {
        "chat": "Open / close chat",
        "filmstrip": "Open / close contact list",
        "contactlist": "Show / hide film strip"
    },

[2015-02-19 16:07] Karen09 commented on #95
will also know what happened with idea to make it as debian and centos app?
Greetz

[2015-02-21 12:02] kosmosby commented on #235
it worded, thanks

[2015-02-22 09:41] GonzaloAraujoC commented on #234
Same here ... Ubuntu 14 ... did you solve this?
Thanks!

[2015-02-22 09:47] GonzaloAraujoC commented on #234
I can cconfirm that it's a bug in Ubuntu 14, i reinstall everything on Ubuntu 12 and work great! ... hope this help.

Gonzalo.

[2015-02-22 20:17] kosmosby opened #238 "when i try enter recording token in a popup window have an error"
when i try enter recording token in a popup window have an error

Uncaught TypeError: undefined is not a functionapp.bundle.js?v=11:14702 Recording.toggleRecordingapp.bundle.js?v=11:14695 (anonymous function)app.bundle.js?v=11:4727 (anonymous function)jquery-2.1.1.min.js:3 n.event.dispatchjquery-2.1.1.min.js:3 n.event.add.r.handlejquery-2.1.1.min.js:3 n.event.triggerjquery-2.1.1.min.js:3 (anonymou

[2015-02-23 10:07] hristoterezov commented on #238
Fixed in fdada53

[2015-02-23 10:07] #238 closed

[2015-02-23 14:21] kosmosby opened #239 "don't see recorded files in jitsi-meet"
When i click the recording button in jitsi-meet and enter token recording button flash-up and nothing going on.

the link for conference is http://dev.cloudinterpreter.com:8901/AncientCreaturesAskEverywhere

i use google chrome Version 40.0.2214.115 (64-bit) on OS X Yosemite Version 10.10.2
and for the server:

Description:	Ubuntu 14.04.1 LTS
Release:	14.04
x86_64

the folder i selected for record

[2015-02-23 14:32] bgrozev commented on #239
Please use the dev@jitsi.org mailing list for questions.

[2015-02-23 14:32] #239 closed

[2015-02-23 22:13] EyeInTheSky3000 commented on #65
@mcharris :+1: that hint helps me a lot (adapted jicofo-config to 127.0.0.1)

[2015-02-27 05:56] andresgmh commented on #95
@Montana357 I was able to execute this amazing app successfully in Centos 7 x64. If you want to know how to install, please contact me andresgmh@gmail.com

[2015-02-27 07:51] Karen09 commented on #95
@andresgmh please can you push it in gist.githube.com and put here link to repo? or if you have blog share it with us i will also to be able install it in centos 7 and 6.
Greetz

[2015-02-27 11:40] neusdan commented on #234
same probem here:

from prosody.log:

[code]

[2015-02-27 12:29] Deshke commented on #234
i solved this by using Oracle JDK and not the openJDK

[2015-02-27 13:42] neusdan commented on #234
does not help for me

i think this is maybe also the reason:

[code]

[code]

but i already installed ffmpeg and libavcodec packages

[2015-02-27 14:04] bgrozev commented on #234
@neusdan This exception is harmless, and ffmpeg and/or libavcodec are not needed.

[2015-03-02 18:36] pedro-nonfree commented on #96
Hi.

It worked with gajim and my experimental server with jitsi-meet (is not working with meet.jit.si, perhaps disallowed).
Details:
Wizard: "I want to register for a new account"
Put "anonymous login" capability, and point to the server: jitsi.yourdomain.org

Join Group Chat / Join New Group Chat
Account: jitsi.yourdomian.org
nickname (need something)
room: room-you-want-to-join
server: conferenc

[2015-03-02 19:43] Wolf480pl commented on #96
@pedro-nonfree did you get audio/video to work? or just text?

[2015-03-02 19:56] pedro-nonfree commented on #96
@Wolf480pl  /Obviously/ just text, because gajim does not have videobridge/webrtc (audio,video,...).

I would like to try with jitsi client, but I am not able to login in the server, so I cannot access a room.
It seems you know how to login with jitsi client.

[2015-03-02 20:09] Wolf480pl commented on #96
@pedro-nonfree you create an account on any other XMPP server, and use that to log in. Then you can join any conference room on any server. Just enter room-you-want-to-join@conference.jitsi.yourdomain.org as the room name.

Also, Gajim does have audio/video (but not on Windows, and requires python-farstream).

[2015-03-03 19:42] kinnla opened #241 "Quick install guide: how to start/ stop jitsi meet ?"
I am really impressed how easy it is to install jitsi meet on debian. Excellent quick install guide. Also good that you explain how to uninstall it.

However, the guide doesn't explain how to start/ stop the server. Is there any documentation about it?

Suggestion: add this information to the install guide or link to it.

[2015-03-04 08:09] bgrozev commented on #241
There are a few different server applications -- nginx, prosody, jicofo, jitsi-videobridge
They can all be controlled through the /etc/init.d scripts, e.g.
/etc/init.d/XXX {stop,start, restart}

I agree about adding it to the guide.

[2015-03-04 13:10] moshpirit opened #242 "can't use Jitsi on openSUSE"
I've just instaled the last RPM:

┌─ alberto openSUSE /tmp
└──┤|▶ sudo /sbin/yast -i /tmp/jitsi-2.6-5390.x86_64.rpm

┌─ alberto openSUSE ~
└──┤|▶ jitsi
ALSA lib pcm.c:2267:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear
ALSA lib pcm.c:2267:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.center_lfe
ALSA lib pcm.c:2267:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.side
ALSA lib pcm_route.c:867:(fin

[2015-03-05 16:44] #16 closed

[2015-03-05 16:47] paweldomas commented on #14
Force muting is implemented in Jicofo. Audio channel of muted participant is switched to recv only mode.

[2015-03-05 16:47] #14 closed

[2015-03-05 16:48] paweldomas commented on #11
Implemented in Jicofo.

[2015-03-05 16:48] #11 closed

[2015-03-05 16:53] paweldomas opened #243 "Update button in settings menu does not work"
When "Update" button is pressed in the Settings menu the application crashes at:
xmpp.addToPresence - Unknown tag for presence.

[2015-03-06 00:16] Zalmoxisus commented on #4
I see that commit 05bbfda5bb6b54ff78dec93ede3d5054ad49843a now adds support for firefox multistream. Is it for FF 38 Aurora/DevEd?

[2015-03-06 12:40] hristoterezov opened #244 "Translation issues"
- in the lower right, the three buttons for chat, contact list, filmstrip. the tooltips for the filmstrip and contactlist should be the other way round
- settings: if the language is german, the button-width for "Update" (Aktualisieren) is not wide enough
- Invite others: the link field currently tells me "Your conference is currently being created" and it seems not localized yet
- the e-mail temp

[2015-03-09 15:54] hristoterezov commented on #244
Fixed in d2f95f3c813321404bd2f108f2599b31742584cc

[2015-03-09 15:54] #244 closed

[2015-03-09 21:07] AlbertFR opened #245 "How to use jitsi-meet with apache2 ?"
and not with nginx

thanks

[2015-03-10 05:27] bgrozev commented on #245
Please use dev@jitsi.org

[2015-03-10 05:27] #245 closed

[2015-03-15 14:32] bgrozev opened #246 "The local view is mirrored when screen sharing"
When you share your screen the local video shown is mirrored. I am not sure if it happens every time, observed with a single window share.

[2015-03-16 18:19] ibeardslee commented on #246
There is a pull request for this waiting to be merged .. https://github.com/jitsi/jitsi-meet/pull/233

[2015-03-16 19:49] bgrozev commented on #246
@ibeardslee thanks!

[2015-03-16 20:43] bgrozev opened #247 "The filmstrip covers the video while desktop sharing"
When desktop sharing is used and the filmstrip is visible, the big video has to be scaled in order to be completely visible

[2015-03-16 22:13] bgrozev commented on #247
Possibly also fixed by #233 ?

[2015-03-18 21:43] perburn commented on #200
Quick update: A workaround seems to be to start Chromium with "--no-sandbox"

[2015-03-19 14:59] hristoterezov commented on #246
Fixed with db2296953ddfbc4a5ae5f144d11655eb4ebb8579

[2015-03-19 14:59] #246 closed

[2015-03-19 15:00] hristoterezov commented on #247
Fixed with #233 and 0da25473600b40339b333d0160203da9404a2b6a.

[2015-03-19 15:00] #247 closed

[2015-03-19 15:01] hristoterezov commented on #236
Fixed.

[2015-03-19 15:01] #236 closed

[2015-03-19 17:29] jmcclelland commented on #200
I have the same problem on Debian Jessie running Chromium 41.0.2272.76-2. Running chromium with the --no-sandbox flag fixes it for me.

[2015-03-19 17:51] muellert commented on #200
Just tried on Jessie with 41.0.2272.76-2, and it does not fix it for me.

[2015-03-19 19:02] TabeebOsama commented on #4
Was FF support added in release 2.8?  Thank you!

[2015-03-20 08:03] paweldomas opened #248 "Error printed when sharing the screen"
When screen is shared this error is printed in other participants console:

modified setLocalDescription failed Failed to set local answer sdp: Called in wrong state: STATE_SENTACCEPT(or some other state name)

Most of the time seems it seems to work in spite of that error. Do we wait for stable state when doing addsource/removesource ?

[2015-03-22 03:08] bgrozev commented on #4
@TabeebOsama the recent 2.8 release was of Jitsi (the desktop client), not Jitsi Meet. Firefox support was recently added to Jitsi Meet, but AFAIK it is still experimental.

[2015-03-23 10:24] gpolitis commented on #4
As @bgrozev FF support is still experimental but it is enabled by default for [Firefox Nightly](https://nightly.mozilla.org/) users.

[2015-03-23 10:47] gpolitis commented on #242
This is a problem in a different project. If you still experience problems you should contact the devs here dev@jitsi.org

[2015-03-23 10:47] #242 closed

[2015-03-23 10:49] gpolitis commented on #235
@kosmosby have you solved the issue? Is it OK to close it?

[2015-03-23 10:53] gpolitis commented on #234
@Deshke  do you still have the problem?

[2015-03-23 10:54] gpolitis commented on #243
@paweldomas you mean when you update Chrome?

[2015-03-23 10:58] gpolitis commented on #159
@hristoterezov we have this now, right?

[2015-03-23 11:03] TabeebOsama commented on #4
Thank you for your prompt replies.  I know this is not this thread.  However, I have two more questions related:
1- Which IE plaug-n does Jitsi support and you recommend?
2- Will you support Bowser?

Thanks,

[2015-03-23 11:22] Deshke commented on #234
nah, solved mine with the OracleJDK 1.7, maybe this should be standing in the requirements

[2015-03-23 11:25] gpolitis commented on #234
Thanks for the feedback. I don't think we've ever experienced any major problems with OpenJDK so I'm closing the issue. Please re-open it, if you wish to investigate further.

[2015-03-23 11:25] #234 closed

[2015-03-23 11:28] gpolitis commented on #217
@hristoterezov you've fixed this, right?

[2015-03-23 11:34] gpolitis commented on #203
In the "simple" case where only browsers speak with each other, do you have any audio issues? Where are the various components located? Do you run jvb/jicofo/jigasi on a lan or in the cloud?

[2015-03-23 11:56] hristoterezov commented on #159
I don’t think we have it in our package.json. But why do we need this?

[2015-03-23 11:58] hristoterezov commented on #217
Yes. This is fixed.

[2015-03-23 12:03] #217 closed

[2015-03-23 13:09] gpolitis opened #251 "It should be possible to join a conference call with audio only (using just a mic)."

[2015-03-23 13:37] jmcclelland commented on #200
Here is more information on what is probably the same bug in the debian bug tracker:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=770659

[2015-03-23 13:55] emcho opened #252 "Gravatars must remain the same even when random"
Currently, unless users input their own gravatar id, a random one is chosen for them.

If the gravatar service allows this we should make sure we show the same one every time.

[2015-03-23 16:47] dev-mraj opened #253 "Allow guest people to view confrence, without being involved in."
at start i need to share my cam. so please make a function so people can participate whenever they want.
so it will be also usefull for people who are looking for prensation like use cases or broadcasting cam etc.

if its not right issue then please help to how to achieve this whenever 5-6 people will discuss and 1000s of others will watch.

[2015-03-23 18:04] gpolitis commented on #253
Sounds like you want to check out the LastN feature of the JVB. This is an integer, which can be set on a specific video channel. If set to N for a channel, only the video from the first N other endpoints in the conference will be sent to the channel. The endpoints are ordered by the last time they were the "dominant speaker". In meet you can control this by setting the channelLastN configuration

[2015-03-23 18:09] dev-mraj commented on #253
i think i've tried that too, but that still call getUserMedia and ask for
webcam. any solution for that?

On Mon, Mar 23, 2015 at 11:34 PM, gpolitis <notifications@github.com> wrote:

[2015-03-23 18:26] gpolitis commented on #253
We don't have that right now but it seems like an interesting idea.

[2015-03-24 04:37] dev-mraj commented on #253
I am on deadlines to make this work..

Can you please give me hints to achive this..i have even tried putting some
blank media stream (new webkitMediaStream) instead of real webcam stream
but didnt work either...
On Mar 23, 2015 11:56 PM, "gpolitis" <notifications@github.com> wrote:

[2015-03-24 04:39] fippo opened #254 "screensharing installation broken"
Got a report about screensharing extension install broken, pasting from a chat with @yanas:
17:12 < fippo> looks like the screensharing extension installation process is broken on meet.jit.si
17:12 < fippo> something is getting in the way of the click action
17:13 < fippo> "Chrome Web Store installations can only be initated by a user gesture"

The problem is that meet is using an event dispatcher

[2015-03-24 04:56] fippo commented on #253
this isn't trivial. Participants without streams are something which needs careful considerations, both in the client as well as the focus.

[2015-03-24 06:26] paweldomas commented on #254
I believe that this has been fixed in cd19c0e. https://meet.jit.si is running version for 406, so update should fix the issue.

[2015-03-24 07:17] paweldomas commented on #243
No, I mean this one in Jitsi-meet "settings" view opened from top toolbar. You can edit your display name there, but when you press "Update" button it is not updated. Other participants do not see the change, because presence is not sent correctly.

[2015-03-24 07:47] dev-mraj commented on #253
this is important, like use cased of class room. where teacher is on webcam and other all are listener. and for this case we have tried janus, kurento and finally we are moving to jitis due to its high perforamance and less CPU and scalable architecture (till yet i didn't understand its architecture completly ).

[2015-03-24 07:52] dev-mraj commented on #253
is that possible?

[2015-03-24 08:54] bgrozev commented on #203
This is probably due to the opus FEC issue in chrome M39 which we worked around by disabling FEC in jigasi (https://github.com/jitsi/jigasi/commit/33cb1c75d2776e8c84f3adef8b0139e061522f73).

[2015-03-24 08:57] bgrozev commented on #252
AFAIK this is supposed to be already implemented, with the random string being saved in local storage.

[2015-03-24 09:10] driesken opened #255 "There is a typo in: lang/main.json"
Seems like there is a type in lang/main/json, but I can't seem to find it.

Here is some chrome console output:

app.bundle.js?v=44:18001
f.errorapp.bundle.js?v=44:12065 defaultOptions.customLoad.i18n.functions.ajax.errorjquery-2.1.1.min.js:2 n.Callbacks.jjquery-2.1.1.min.js:2 n.Callbacks.k.fireWithjquery-2.1.1.min.js:4 xjquery-2.1.1.min.js:4 n.ajaxTransport.k.cors.a.crossDomain.send.bjquery-2.1.1

[2015-03-24 09:22] hristoterezov commented on #255
Fixed in c1c5a305c6c421bb2497f3c1144ad5d56dc8d644

[2015-03-24 09:22] #255 closed

[2015-03-24 09:56] paweldomas commented on #254
https://meet.jit.si is now updated. Please let me know if it works for you now.

[2015-03-24 10:00] gpolitis commented on #251
This is related, if not a duplicate, of #6.

[2015-03-24 10:49] nwittstruck commented on #253
You could record the conference, stich it together/synchronize it using ffmpeg and immediately start streaming the conference via ffserver or a different streaming tool. But this is definitely not the best approach.

[2015-03-24 11:06] hristoterezov commented on #219
We fixed this in 3a0ee11ccd55b2734e6d6ef697c5290738ac4aef.

Currently the camera is stopped only for https connection.

[2015-03-24 11:06] #219 closed

[2015-03-24 14:04] fippo commented on #254
WFM again. Thanks.

[2015-03-24 14:04] #254 closed

[2015-03-24 15:29] magatz commented on #253
Hi, i'm trying to achieve exactly the same feature.
At this time, i've simply muted both video and audio, when joining the room.
Clearly it is still requesting access to the webcam, but it works (I've monitored the network i/o, and looks like, that only the "broadcaster" is sending data to videobridge, while the "watcher" are only receiving data.
Anyway i'm thinking about create "fake" stream and

[2015-03-24 15:40] emcho commented on #4
@TabeebOsama  please send your question to the mailing list.

[2015-03-24 16:00] hristoterezov commented on #253
dbcfc92dc4744e3540fd90be5f98700c442df49c changes the implementation to allow users with no camera and microphone to join the conference. Also if deny chrome to access your camera and microphone when you are prompted you can also join the conference without camera and microphone.

[2015-03-24 18:35] TabeebOsama opened #256 "IE and Safari plug-ns"
Hi Emil and everyone,

Thank you for responding to my public comments.  I want to ask about your recommendation for an IE and Safari WEBRTC plug-ns?  I looked at WEBRTC4ALL, WEBRTC-EVERYWHERE and Temasys.  They all need a change to adapter.js.  They all do NOT support screen sharing.  I am not sure they support multi stream that JITSI needs to support.

[2015-03-25 09:01] jtsaitw commented on #96
Thanks to Wolf480pl, I can do it from jitsi-client (myAccount@jappix.com)  to jitsi-meet (meet.jit.si) now.
But I still can not find any way to "jitsi-meet ring to jitsi-client(other XMPP account), It is nice to have a friend list with photo, and elder user can ring to other XMPP account in the list.

[2015-03-25 09:58] gpolitis commented on #252
f48633fa1d39d4802a135205925fa6b58a7cc14e broke this and it also broke the active video thumbnail blacking out. @paweldomas is it OK if we revert the commit?

[2015-03-25 10:01] gpolitis commented on #252
OK, broke is a harsh word :-) but I don't know what else I could have used instead!

[2015-03-25 10:03] hristoterezov commented on #252
I think we shouldn't revert the whole commit. Maybe we should keep the code for sending userId, email and displayName and maybe some of the other fields but not all.

[2015-03-25 10:25] paweldomas commented on #252
No don't revert that. I will fix it. There is unused stuff mixed with used
stuff.

On Wed, Mar 25, 2015 at 11:01 AM, gpolitis <notifications@github.com> wrote:

[2015-03-25 11:48] paweldomas commented on #252
Fixed in f986211.

[2015-03-25 11:48] #252 closed

[2015-03-25 11:49] paweldomas commented on #243
Seems to be working now.

[2015-03-25 11:49] #243 closed

[2015-03-25 13:21] dev-mraj commented on #253
i tried this commit..
on my local network these kind of errors

[code]

[2015-03-25 13:43] gpolitis commented on #253
@dev-mraj those messages are usually harmless. Does it work if you ignore these?

[2015-03-25 13:54] dev-mraj commented on #253
its not working thats why i am getting worried?

i just modified your code a little, because i can't ask for webcam at startup..

so i placed this.rtcUtils.successCallback(null) instead of obtainAudioAndVideoPermissions at RTC.js:136

and when user want to share cam i called  obtainAudioAndVideoPermissions()

[2015-03-25 13:58] gpolitis commented on #253
Without modifying the code, do you get any other errors (other than the four you mentioned before)?

[2015-03-25 15:10] hristoterezov commented on #253
@dev-mraj what do you mean by not working. It asks for permissions but if you deny chrome to use your camera and microphone the user should join the conference. Also if you don't have camera and microphone you will be also able to join the conference and watch/hear the other participants.

[2015-03-25 15:28] dev-mraj commented on #253
yes i test again without modiification it worked.

but i am in situation where use will share cam in middle of conference. user wil have button to start sharing his cam..

i am working on this and i think APP.xmpp.switchStreams sholud work for this, whatever i'll let you know further soon.

any hints for to do this.

[2015-03-25 15:40] dev-mraj commented on #253
using switch stream its almost done,
but when first time page loads and user share fake streams..then other peer's streams comes and statics shows but video don't come in until we do share our cam..

i am using switchStreams function here to replace our fake local streams with new webcam's streams.
http://37.187.137.134:8001/test3

[2015-03-26 00:19] dwilson6 commented on #248
I've seen this as well.  Usually when turning screen sharing off and it fails to switch back to the video feed.

[2015-03-27 13:17] guilhem commented on #219
it works! yeah :)
Thanks

[2015-03-27 20:50] Zalmoxisus commented on #209
Fexed in https://github.com/jitsi/jitsi-meet/commit/44e558e5a0415bf1ff2802dd91f0e6ea6fee06eb

[2015-03-27 20:50] #209 closed

[2015-03-28 04:17] dwilson6 opened #257 "Muting and then unmuting the video feed doesn't fully work"
Start a meeting with 2 users and then have one mute its video and and then enable the video again.  Then the other user cannot see the first user's video in the large video view.  It may work the first time but if you click on another video and click back then it will fail.  Interestingly the thumbnail video comes through fine.

This is likely related to the new functionality which actually turns

[2015-03-28 08:20] Zalmoxisus commented on #257
The interesting fact I've caught here, if the second participant also turns off and on his camera, then he will see the video of the second participant.

[2015-03-29 21:04] Zalmoxisus opened #258 "toggleAudio and AudioLevels do not work in firefox"
APP.RTC.localAudio is null FF, as a result toggleAudio and AudioLevels do not work.

[2015-03-30 00:56] moshpirit commented on #242
Ok, thanks!

[2015-03-30 06:50] Slawutich commented on #203
Yes! The problem was resolved with disabling FEC in jigasi

[2015-03-30 07:09] bgrozev commented on #203
This works with current chrome versions (>=40 IIRC), so we should enable it again. Opened https://github.com/jitsi/jigasi/issues/11

[2015-03-30 07:09] #203 closed

[2015-03-30 17:09] dev-mraj commented on #4
any workarround?

can't we merge audio+video streams into one stream..? will it work if enableFirefoxSupport=true

[2015-03-30 17:11] gpolitis commented on #4
@dev-mraj any workaround for what exactly?

[2015-03-30 17:16] dev-mraj commented on #4
Firefox support

[2015-03-30 17:25] gpolitis commented on #4
adding "enableFirefoxSupport: true" in config.js should work.

[2015-03-30 17:34] TabeebOsama commented on #4
Is this for nightly Firefox or all Firefox?

This email message is for the sole use of the intended recipient(s) and may contain confidential and privileged information. If you are not the intended recipient, please contact the sender by reply email and destroy all copies of the original message

[2015-03-30 17:39] gpolitis commented on #4
Firefox support only works for Firefox Nightly (v39), at least for now. We might enable it for Aurora/Dev edition (v38) as well but it's not going to work with stable (v37).

[2015-03-31 08:14] dev-mraj commented on #253
now i've done, and its working for me user can start stop cam anytime, and everthing works fine, maximum 6 user can share their cam. then all will viewer.

but when i did testing after 30+ users its getting bit slow and chrome's cpu is also gettng increased even (no issue with server's cpu)

any suggestions for best optimum configurations in jitisi for such use cased. (config.js)

[2015-03-31 09:01] bgrozev commented on #253
@dev-mraj, Is this with LastN=6? Is everyone sending audio?

Closing since the original issue seems resolved.

[2015-03-31 09:01] #253 closed

[2015-03-31 09:32] dev-mraj commented on #253
Yes thanks issue has be solved, no doubt.

i was just looking for suggestions that might help me and others too.

[2015-03-31 09:41] bgrozev commented on #253
I see you are indeed using LastN=6. I don't think we have thoroughly tested the client performance yet. If it uses too much CPU with 30 endpoints (compared to say 6) there might be a bug in the client. Maybe you can run chrome's profiler and try to pinpoint it.

[2015-03-31 10:29] Zalmoxisus commented on #253
AFAIK, LastN restricts only video streams. So, if we have 30 endpoints, each user will receive 29 audio streams though. This may cause increasing cpu.

[2015-03-31 10:34] dev-mraj commented on #253
i didn't knew about this... i was planing to make it working at least 1000 user..
and if its still making audio streams then it will big trouble for me...

anybody who knows core of jitis can suggest solution to make it work to publish few videos to almost 1000 users.

[2015-03-31 10:39] dev-mraj commented on #253
Hi, @Zalmoxisus sorry i just forget to mentions that according to main issue (above which has been solved), audio video streams has been replaced with fake media streams. so connections can established without sharing webcam or audio.

what will be optimum configuration in config.js in this use case.
like here are few things (currently what i am using) that i didn't get properly.

[code]

[2015-03-31 11:13] Zalmoxisus commented on #253
Hi, @dev-mraj. Could you please share how you faked audiostream? Have you tested wether you have cpu sparks when you just pass a null value for the stream? I'm not a big expert, but I'm also interested in such a feature.

[2015-03-31 14:12] foss- commented on #4
+1 for enabling Aurora / Dev v38.

[2015-03-31 15:35] dev-mraj commented on #253
Hi,
here is url where i am doing testing, i modified a bit UI code, and these same code is being used in my main big application where UI Module is completely removed but both's working is identical.
http://37.187.137.134:8001/test3
see above there 6 users, and it will start but after a little while videos will be freezed and work very slowly, even i've tested same on high speed servers..

[2015-04-02 08:08] Nhorning commented on #105
Our project is currently getting this issue on both on our test deployment, and on meet.jit.si in chrome, both linux and windows.  The person who gets "Your conference is currently being created..."  see's themselves in the room but cannot see anyone else. The issue appears to be intermittent.

[2015-04-02 08:11] Nhorning commented on #226
Our project also has this issue, please see my report here: https://github.com/jitsi/jitsi-meet/issues/105

[2015-04-03 14:18] dwilson6 commented on #257
I haven't seen that behavior.  I have found that a temporary fix is to make sure that video stream elements are added to the beginning of the participant container.  In VideoLayout.addRemoteStreamElement, I changed the container.appendTo(streamElement) to container.insertBefore(streamElement, container.firstChild);  I might submit a pull request with this fix.  I haven't had a chance to look into

[2015-04-06 12:31] bgrozev opened #260 "Lots of "No jid for ssrc" messages logged"
Sometimes Jitsi Meet logs hundreds of "No jid for ssrc" messages to the console.

[2015-04-06 12:34] bgrozev opened #261 "Small videos not shown"
Sometime some of the small videos turn black and never recover. Usually it is just for the active speaker, not not always.

[2015-04-06 12:34] bgrozev opened #262 "Big video not shown"
Sometimes the big video for a certain participant turns black and never recovers.

[2015-04-06 12:35] bgrozev commented on #202
This should be available now, see https://github.com/jitsi/jitsi-meet/issues/253

[2015-04-06 12:35] #202 closed

[2015-04-06 19:43] pb13 commented on #223
Hi, I got this working in a subdirectory with apache.

The following parameter needs to be set in the jitsi-meet config.js:
[code]

The following apache configuration works in a virtualhost block:
[code]

[2015-04-08 09:35] bgrozev opened #263 "Minimize app.bundle.js"
app.bundle.js has now grown to 900KB and should probably be minimized.

[2015-04-08 20:49] bgrozev opened #264 "No-camera icon dissapears"
The icon on the thumbnail video indicating video is turned off disappears after a confrence is re-created. To reproduce: open with two tabs, stop video on tab1, refresh tab2. Tab2 now does not see the icon.

[2015-04-09 07:14] hristoterezov commented on #264
Have you tried 520e6551003b50ea65ae3d23bd93c019ce628067. I think this commit fixes the issue.

[2015-04-09 10:04] bgrozev commented on #264
Indeed it works on beta (I only tried on meet.jit.si before). Thanks, Hristo!

[2015-04-09 10:04] #264 closed

[2015-04-09 13:55] bgrozev opened #265 ""Jingle error" messages"
"Jingle error" messages are often logged (as errors), without apparent ill effects.

[2015-04-09 13:57] bgrozev commented on #85
This is most likely been fixed in the recent work on this (see e.g. #251)

[2015-04-09 13:57] #85 closed

[2015-04-09 18:11] bgrozev opened #266 "Improve browser version checks"
Check for old chrome/chromium versions and show a warning message.

[2015-04-10 12:24] xplicit opened #267 "Can't see others' participants video"
I made jitsi-meet installation on fresh Ubuntu 12.04 system (also tried 14.04 with same result) according to these instructions https://github.com/jitsi/jitsi-meet/blob/master/doc/quick-install.md

At the installation, I entered IP of the server as domain name  and choose self-signed certificate.

Also I modified config.js, by changing to `useStunTurn: true` and `useIPv6: true` (without these modi

[2015-04-10 20:35] gpolitis commented on #267
Are the clients behind simple NAT or a firewall?

[2015-04-10 21:12] xplicit commented on #267
They are behind the router (which makes NAT) and without any port forwarding from internet to local network.

[2015-04-10 21:18] gpolitis commented on #267
Can the clients connect to https://meet.jit.si?

[2015-04-10 21:29] xplicit commented on #267
Yes, they can connect and see each other.

[2015-04-10 21:33] gpolitis commented on #267
Are outgoing/incoming connections from/to the server being filtered in any way?

[2015-04-10 21:35] xplicit commented on #267
No, there are no any filters to the server or on the server.

[2015-04-10 21:42] gpolitis commented on #267
Do you notice anything else interesting happen before ICE fails? Could you please share the logs before the exception happens? Enable debug/fine/finest log output would be helpful too.

[2015-04-10 21:48] xplicit commented on #267
OK, I'll do it right now, could you tell which option in jitsti/videobridge/config enables finest log?

[2015-04-10 21:52] gpolitis commented on #267
You can change this through the logging.properties file. Its location depends on how you've installed the JVB. If you're on Debian/Ubuntu then you're looking for /usr/share/jitsi-videobridge/lib/logging.properties if I recall correctly. If you're running it from source through the jvb.sh script, then it's under lib/logging.properties.

[2015-04-10 22:12] xplicit commented on #267
This is the log file https://45.63.15.11/libs/jvb.log

[2015-04-10 22:22] gpolitis opened #268 "graceful handling of XMPP connection errors"
it seems that sometimes the XMPP connection fails with https://groups.google.com/forum/#!topic/prosody-issues/Tmt47r7eTJo. We should retry to connect up to N times and then display an user friendly error message notifying the user that something went wrong.

[2015-04-10 22:52] gpolitis commented on #267
I'm not sure what's going on. I see some very suspicious failures to obtain EC2 instance addresses and some socket failures. You might want to ask in the list. Maybe somebody there has more info about this.

[2015-04-10 22:56] xplicit commented on #267
What is interested that I don't use Amazon EC2 at all.

[2015-04-10 23:00] gpolitis commented on #267
Then that's probably the reason why they fail. They're automatically activated and because you're not running on the Amazon EC2 infrastructure they fail. Not that much suspicious after all.

[2015-04-10 23:18] xplicit commented on #267
From the ICE code I see, that it detects amazon by fetching content from this URL http://169.254.169.254/latest/meta-data/
If the content can be downloaded, then it thinks that the instance is running on Amazon EC2.

I tried to get the content from the server by this URL and have got it. Very interesting.

[2015-04-10 23:28] gpolitis commented on #267
That address is not a public address, it is in the same scope as 10.x.x.x, 192.168.x.x etc, many people around the world could have this address, it is private. 169.254.169.254 is used in Amazon EC2 and other cloud computing platforms to distribute metadata to cloud instances.

[2015-04-10 23:31] xplicit commented on #267
I have blocked this address by `iptables -A OUTPUT -p tcp -d 169.254.169.254  -j DROP`, but there is still no video from others

[2015-04-10 23:44] xplicit commented on #267
I think I resolve the issue. After adding "vultr.guest" to `/etc/hosts` I've got the video from other participants.  Thank you very much for help in detecting the cause of the issue!

[2015-04-10 23:44] #267 closed

[2015-04-10 23:47] bgrozev commented on #267
"I tried to get the content from the server by this URL and have got it. Very interesting."

Maybe we need to improve the detection or at least fail more gracefully if we get garbage from the URL. Until then you can set this property for the bridge to avoid blocking the address:
org.jitsi.videobridge.DISABLE_AWS_HARVESTER=true

[2015-04-14 07:38] hristoterezov opened #269 "Implement feature to automatically mute the local participant if many participants are unmuted"

[2015-04-14 07:40] hristoterezov opened #270 "Add indication if the local participant talks when his audio is muted."

[2015-04-14 07:53] hristoterezov opened #271 "Allow users to enter conference without video and audio."

[2015-04-14 22:47] gpolitis commented on #268
Might also want to add some debugging code in the prosody BOSH as [this](https://code.google.com/p/lxmppd/issues/detail?id=343) _might_ be causing random connection failures.

[2015-04-15 05:44] paweldomas opened #273 "Make sure stream owner is always known before it is signaled in Jingle"
Like described [here] we signal streams in Jingle before stream owner is advertised through the Presence. We have to make sure that stream owner is always known when new stream arrives. Possibly move this signaling from Presence to Jingle. Once it's done remove hacky waiting loops.

[here]: https://github.com/jitsi/jitsi-meet/blob/master/modules/xmpp/JingleSession.js#L1288

[2015-04-15 08:42] bgrozev opened #274 "Video display delayed"
Observed an instance where, for a very short period of time, right after a participant joins, videobridge receives media packets before it is ready to decrypt them. As a result the initial keyframe is not received correctly and this adds additional delay before the video is displayed in the client.

[2015-04-15 10:24] bgrozev opened #275 "Improvements to logging"
These are some events/information which we should consider logging (from the client) in order to help debugging:
*Changes from video to screen share
*Browser version
*Page close/reload
*Speaker changes
*Pinned speakers
*Mute/unmute
*Jingle states
*XMPP connection states

[2015-04-16 05:54] paweldomas commented on #248
Fixed by 29f0682

[2015-04-16 05:54] #248 closed

[2015-04-17 09:46] gpolitis commented on #81
moved to https://github.com/jitsi/jicofo/issues/16

[2015-04-17 09:46] #81 closed

[2015-04-17 20:48] d2chau commented on #260
This seems to be reproducible when users are in a meeting and anyone decides to toggle off/on their video stream.

[2015-04-17 21:13] d2chau opened #276 "Many "XXXXXXXXXX not enough data" messages logged"
When users join a meeting, Jitsi-Meet logs many "XXXXXXXXXX not enough data" messages to the console within the browser.

This is the portion of the code which is displaying the error

[code]

[2015-04-18 19:18] bgrozev commented on #260
On April 17, 2015 10:48:37 PM CEST, David <notifications@github.com> wrote:

I suspect this might be affected/fixed with the latest PR that Pawel merged (can't look it up at the moment). Could you confirm that you repro with current master?

Boris
--
Sent from a mobile. Please excuse my brevity.

[2015-04-20 13:45] magicvince commented on #200
I'm using Chromium (41.0.2272.118 Built on 8.0, running on Debian 8.0 (64-bit) on LMDE2 - Mint Debian)

I've the same problem

In the jmcclelland's threads there's a temporary solution:

`chromium --no-sandbox`

It's woking for me

[2015-04-22 21:12] #268 closed

[2015-04-22 21:16] gpolitis commented on #268
8af3a65d379911de3f5e2ac82539e2c5b6562718 takes care of the UI.

[2015-04-23 17:08] d2chau commented on #260
With current master, the "No jid for ssrc" still appears for everyone in the meeting but only when user's disable their camera. This can also be seen on meet.jit.si

[2015-04-24 14:16] Zalmoxisus commented on #274
It always happens for new participants with no webcam or if they denied access to webcam. In this case such a participant receives only audio of other participant, and only after 1:30 - 2 minutes receives (sees) video stream.

[2015-04-24 14:29] bgrozev commented on #274
@Zalmoxisus this seems like a separate problem. This one just delays the video a bit (1-2 RTTs I guess). Could you open a new issue for what you observe, please?

[2015-04-24 14:30] Zalmoxisus commented on #274
#bgrozev, ok. Thanks!

[2015-04-24 14:33] Zalmoxisus opened #277 "Participants do not see video of other participants imediately"
It happens for a new participant with no webcam or if a participant denies access to the webcam. In this case such a participant receives only audio of other participant, and only after 1:30 - 2 minutes receives (sees) video stream.
Tested with last master and on meet.jit.si.

[2015-04-26 13:31] Erwyn opened #278 "How to automate arguments for installation"
Hello,

I'm trying to build a Dockerfile to deploy jitsi-meet but I don't know how to pass arguments during the .deb installation so that it does not ask for hostname and certificates.

Any clue?

Regards

[2015-04-27 23:55] tfraley opened #279 "Can not see anyone else"
It seems I am having a few issues

OS: Ubuntu vivid server 15.0.4 (fresh install)
Followed the quick install directions from https://github.com/jitsi/jitsi-meet/blob/master/doc/quick-install.md
Chrome v 42.0.2311.90 (64-bit)
Client machines connecting: Mac's running Yosemite locally and remotely

It seems I can connect via the webpage fine, however no one can see each other.
I've also tried the op

[2015-04-28 10:59] gpolitis commented on #279
Most probably some component isn't configured correctly. Could you please post the log from the browser's JavaScript console?

[2015-04-28 11:09] gpolitis commented on #278
Closing this question as I think it's outside the scope of the project. That said, I believe that If you want to supply an answer to a configuration question but do not want to be prompted for it, then this can be arranged by preseeding the DebConf database with the required information.

[2015-04-28 11:09] #278 closed

[2015-04-28 11:11] gpolitis commented on #275
XMPP connection state changes are interesting to log too. They could help find out more about XMPP connection failures (see #268).

[2015-04-28 11:14] gpolitis commented on #274
This could be a bug in the WebRTC engine, like not requesting PLIs for receiving channels if audio/video is disabled. You could try to disable bundle and rtcp-mux and see if it changes anything.

[2015-04-28 11:16] gpolitis commented on #277
Replicating my comment in #274. This could be a bug in the WebRTC engine, like not requesting PLIs for receiving channels if audio/video is disabled. You could try to disable bundle and rtcp-mux and see if it changes anything.

[2015-04-28 11:18] gpolitis commented on #263
[Grunt](http://gruntjs.com/) could solve this problem easily (and do much more, it's like ant for Java, only better).

[2015-04-28 11:20] gpolitis commented on #261
This is nasty and difficult to debug. We should probably add special handling for this when we improve logging #275.

[2015-04-28 11:23] gpolitis commented on #262
This is nasty and difficult to debug (as #261 is). We should probably add special handling for this when we improve logging #275.

[2015-04-28 11:24] bgrozev commented on #275
Thanks, added to the list. That's be tricky, though, since we need an XMPP connection to send logs in the first place

[2015-04-28 11:28] gpolitis commented on #256
I don't think we officially support any of the plugins that you mention.

[2015-04-28 11:31] gpolitis commented on #275
I was thinking about using a REST logging service, like something built around influxdb or some other db. Not sure if it worths the effort though, but I thought I should mention this here to get it off my head.

[2015-04-28 11:37] gpolitis commented on #276
This is usually harmless. It's useful for debugging but not otherwise. My thinking is that we should be able to set logging levels and filter what we display at the JS console. This is mildly related to #275 that discusses how to gather logging from the client to the backend.

[2015-04-28 11:40] hristoterezov commented on #262
I think 667f673 fixes this issue. Is anybody able to reproduce it since that commit?

[2015-04-28 11:46] gpolitis commented on #262
I can't reproduce it right now, although that alone doesn't mean it's fixed as it only happens sometimes (from the original bug report). I'll keep an eye on it and report back if I repro it.

[2015-04-28 11:55] bgrozev commented on #275
We could do this, but we'd have to handle authentication once more (now jicofo does it for us automatically).

[2015-04-28 12:53] hristoterezov commented on #262
That commit fixes the following issue. When user mutes its video and then start it again the old video element was not removed from the thumbnail. That's how we end up with more than one video elements in the thumbnail. One of them is the correct one and the others have old "src" attributes and they are black. So when the participant is shown on the large video we are copying the "src" attribute f

[2015-04-28 14:53] h0nIg commented on #4
whats the status of "We might enable it for Aurora/Dev edition (v38)"?

[2015-04-28 14:54] gpolitis commented on #4
It is actually enabled for v38 (now Beta). We're still blocked by [this](https://bugzilla.mozilla.org/show_bug.cgi?id=1155246) though.

[2015-04-28 15:26] gpolitis commented on #263
Just to clarify my previous comment, when I say it can do much more I mean that it can handle minification, browserify, jshint/csslint/jscs/... and friends.

It's pretty straightforward to setup too. We add it as a devDependency in the package.json and then we describe in GruntFile.js what we want it to do. We can get "inspired" by a nice and clean example [here](https://github.com/webrtc/samples)

[2015-04-28 15:33] fippo commented on #263
you can achieve the same with npm. A side-note about travis: precommit-hook is way better at catching linter errors. Which was the reason I required it more than a year ago.

[2015-04-29 18:29] Kidav commented on #277
Seems disable bundle and rtcp-mux does not help.
This bug relates to the closed https://github.com/jitsi/jitsi-meet/issues/32 .
I am just looked to the https://github.com/jitsi/jitsi-meet/blob/master/modules/xmpp/JingleSession.js
At the end of file
[code]
this snipet wont work in the any case because conditions data.stream.getVideoTracks().length > 0 and data.stream.getVideoTracks().length === 0 c

[2015-05-02 15:07] tfraley commented on #279
@gpolitis thanks for looking into this for me.

My console output in chrome is

XMLHttpRequest cannot load https://hangout/http-bind. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://hangout.homeip.net' is therefore not allowed access.
app.bundle.js?v=63:17216 Strophe: request id 3.3 error 0 happenedStrophe.log @ app.bundle.js?v=63:17216
app.bundle.js?v

[2015-05-02 15:08] tfraley commented on #279
FYI https://hangout.homeip.net is an internal address

[2015-05-02 15:48] tfraley commented on #279
Ok just did a fresh install, when it asks for host name i was putting "hangout"  this time I put  "hangout.homeip.net" and things seem to be fine.

[2015-05-02 17:24] tfraley opened #280 "Hot to use a subdomain with jitsi?"
Good day guys,

I'm a bit confused as to how jitsi uses domains.

What I would like to do..

I have a domain.net remote
I have a SubDomain  hangout.domain.net to a local server
I have port fowards set up to point to hangout.domain.net
44300 -> 443 & 10000-20000 -> 10000-20000

So outside url would be

https://hangout.domain.net:44300

========================================

I've tried doing this

[2015-05-04 06:07] #279 closed

[2015-05-04 06:12] bgrozev commented on #280
The normal instructions assume that the server has a public IP address and no port forwarding is necessary. It should be possible to run the way you describe, with a couple of additional steps (and note that I might be missing something):

The videobridge needs to know the public address in order to advertise it. Since it doesn't use STUN, you need to do this manually by setting these properties:

[2015-05-04 15:03] tfraley commented on #280
@bgrozev
Thanks for your help.
I'm a little stumped as to where to manualy add the NET_HARVESTER properties.

[2015-05-04 15:17] bgrozev commented on #280
/usr/share/jitsi-videobridge/.sip-communicator/sip-communicator.properties

[2015-05-04 15:56] tfraley commented on #280
@bgrozev

That's where I originally thought.. The files are there, but there is no content in the properties file itself. Is this how it should be ?

[2015-05-04 16:04] bgrozev commented on #280
Yes, I think so.

[2015-05-04 16:13] tfraley commented on #280
@bgrozev

Still stumped.

Ok this is what I did so far.

I edited /etc/nginx/sites-avaliable/hangout.lifewithtech.net.conf
proxy_pass      hangout.lifewithtech.net:44300/http-bind;

I edited /usr/share/jitsi-videobridge/.sip-communicator/sip-communicator.properties
empty file added the following

org.jitsi.impl.neomedia.transform.srtp.SRTPCryptoContext.checkReplay=false

org.jitsi.videobridge.NAT\

[2015-05-04 16:57] bgrozev commented on #280
You should not change this file. You should edit /etc/jitsi/meet/something.js instead, and change the "bosh" line.

The angle brackets are not actually in the file, right?

This will do no harm, but it will not work either, without a second IP address (although, I believe this might soon change, judging by Lyubo's latest commit).

[2015-05-04 17:24] tfraley commented on #280
@bgrozev
Thank you again for helping me out with all this.

Made the changes, now getting an error trying to load the webpage "oops something went wrong and we couldn't couldn't the conference"

I did a rollback of the VM (ie back to fresh install)

Then made the following changes/edits as suggested

/etc/jitsi/meet/hangout.homeip.net-config.js
	bosh: '//hangout.lifewithtech.net:44300/http-bind',

[2015-05-04 17:38] bgrozev commented on #280
Something seems to be wrong with the nginx configuration. It is supposed to proxy requests to "/http-bind" via port 5280, and it doesn't. Check the configuration, you should be able to access this page:
https://hangout.lifewithtech.net:44300/http-bind

and see something like this:
https://meet.jit.si/http-bind

[2015-05-04 17:51] tfraley commented on #280
Ok
 It seems to work using internal doamin name but not with outside domain.

Inside:  https://hangout.homeip.net/http-bind
Outside: https://hangout.lifewithtech.net:44300/http-bind

Humm..  both resolve fine

office:~ thomasfraley$ ping hangout.lifewithtech.net
PING hangout.lifewithtech.net (76.175.28.244): 56 data bytes
64 bytes from 76.175.28.244: icmp_seq=0 ttl=64 time=0.388 ms
[3]+  Stopped

[2015-05-04 18:14] tfraley commented on #280
@bgrozev
Ok
It seems to work using internal doamin name but not with outside domain.

Inside: https://hangout.homeip.net/http-bind
Outside: https://hangout.lifewithtech.net:44300/http-bind

Humm.. both resolve fine

office:~ thomasfraley$ ping hangout.lifewithtech.net
PING hangout.lifewithtech.net (76.175.28.244): 56 data bytes
64 bytes from 76.175.28.244: icmp_seq=0 ttl=64 time=0.388 ms
[3]+ Stop

[2015-05-04 18:24] bgrozev commented on #280
Do you have the "proxy" configuration for both domains in /etc/nginx/sites-enabled?

[2015-05-04 18:36] tfraley commented on #280
Humm,
So I only have two folders in there   default &  hangout.homeip.net.conf

should I duplicate hangout.homeip.net.conf and rename to hangout.lifewithtech.net.conf

?

[2015-05-04 22:46] tfraley commented on #280
OK,

I did a apt-get purge jigasi jitsi-meet jicofo jitsi-videobridge
and apt-get purge nginx

Then did the quick install again.

This time during the install when prompted for a host I used hangout.lifeiwthtech.net

Not working for the most part, but getting an

Error,
Jitsi Videobridge is currently unavailable. please try again later!

However seems to be working

-----------
https://hangout.lif

[2015-05-05 10:23] mayarichman opened #281 "sound is not working correctly"
Sometimes a participant is able to hear all other participants in a call, but no one is able to hear them. I know that their microphones are working properly because other applications, like Skype, work fine. All participants used Chrome in these instances.

Anyone else having sound issues?

[2015-05-05 12:05] Zalmoxisus commented on #281
Yes, some of our participants faced this as well. Some of them solved this by restarting Chrome, but in some cases even this didn't help. I guess it could be because the device is being in use by other program or the Chrome doesn't point the right device by default. Maybe it can be solved if the meet will give the ability to participants to choose devices, as it is done on other sites (for example

[2015-05-07 07:39] maserons commented on #105
I got this error when I change listening port in nginx. What I should change to serve jitsi-meet on different port than 443?

[2015-05-07 12:13] bgrozev commented on #105
The port in the 'bosh' variable in config.js.

[2015-05-07 16:56] xplicit commented on #280
Is there a documentation with complete descriptions of which ports should be forwarded by the NAT?
Here https://github.com/jitsi/jitsi-meet/blob/master/doc/manual-install.md I see 80 and 5222, but at least 443 should be forrwarded too. Is 5347 (videobridge default) required for forwarding or it's used at the localhost only?

[2015-05-07 17:19] xplicit commented on #280
`org.jitsi.videobridge.NAT_HARVESTER_LOCAL_ADDRESS=<Local.IP.Address>` should be an local address of the machine where jitsi-videobridge is installed or internal address of the NAT router?

`/etc/jitsi/videobridge` `JVB_HOSTNAME` setting should be a local address of machine with jitsi-videobridge or public address of the NAT?

[2015-05-07 17:49] xplicit commented on #280
I see the same error "Jitsi Videobridge is currently unavailable" and the error in jvb.log

2015-04-07 13:29:35.465 INFO: [27] org.jitsi.videobridge.Videobridge.info() Created conference 8d70852855ac6d3b. The total number of conferences is now 1, channels 0, video streams 0.
2015-04-07 13:29:35.470 INFO: [27] org.jitsi.videobridge.Conference.info() Created content audio of conference 8d70852855ac6

[2015-05-07 18:02] tfraley commented on #280
The Videobridge error has gone away, I think one of those other 5xxx ports did it.

I've moved on to trying to get desktop sharing working lol..

thanks...

[2015-05-07 18:07] tfraley opened #282 "How to add admin - with quick install"
Good day guys,
Could someone give me the quick and dirty steps to add an admin after using jitsi-meet quick install instructions.

I have everything up and going, Would like to add myself as an admin

Thanks again,

And great community you have going here..

[2015-05-07 20:15] bgrozev commented on #280
@xplicit This is unrelated. Please send a message to one of the mailing lists (e.g. dev@jitsi.org) and include the full logs.

[2015-05-07 23:26] xplicit commented on #280
Answers to my questions:

Ports:  TCP: 80,443,5222 UDP: 10000-20000
`org.jitsi.videobridge.NAT_HARVESTER_LOCAL_ADDRESS`: local ip adress of the server, where conference is installed
`JVB_HOSTNAME` name of the conference host. If use IP it's a public ip address

exception trace: this exception occures with build 445 of jistsi-videobridge, I downgraded jitsi-videobridge to build 438 and error has go

[2015-05-08 05:59] maserons commented on #105
Thanks, I added the port to bosh variable and now it connects successfully.

[2015-05-11 13:46] hamidyaseen opened #283 "Some typo issue in AudioLevels UI mdules"
In the AudioLevel UI module at line number 246 there is one small typo mistake... as
      if (canvas.heigh !== height + interfaceConfig.CANVAS_EXTRA)
it should be canvas.height instead of canvas.heigh...
/Hamid

[2015-05-11 17:53] matthiss commented on #105
Hi guys,
please excuse my question. I got the same problem with "Your conference is currently being created..." but cant find the port to change.
I configured jitsi on Ubuntu server 15.04 with my dynamic dns. During installation I got an error saying "couldnt start hostname.service" or something similar. Does it relate?
Where can I change the port and will it fix it?
I just navigated to /etc/jitsi

[2015-05-14 10:59] hristoterezov opened #284 "Nicknames are not saved"
After refresh the nickname is forgotten.

[2015-05-14 14:10] #284 closed

[2015-05-14 15:56] sheaw commented on #105
Yup, same for me. Just completed a clean install of Jitsi Meet on fresh Ubuntu 12.04.2 LTS.

When I attempt to invite someone, it says:

"Your conference is currently being created..."

Otherwise, if I connect directly to the chatroom, it says "unsupported browser" (when in fact the browser is opera).

I sense it is something with https VS http ??

Config.js is as follows:

var config = {
    host

[2015-05-15 06:57] paweldomas opened #285 "Audio/video loss when conference reaches 15 participants and LastN enabled"
Users have reported audio/video loss when conference reaches 15 participants. LastN was set to 3.

[2015-05-15 06:59] paweldomas opened #286 "Contactlist list is not synchronized with LastN enabled"
Reported by user in conference with 19 participants and LastN set to 3:
"Contact indicator doesn't appears to be well refreshed, while we were 19 participants the indicator shows only 2 participants for me, for others it was a different count. But the contact list once developed shows the whole participants. It was also noticed the lack of a scroll bar into the contact list which don't allow to vi

[2015-05-15 07:01] paweldomas opened #287 "No scrollbar when contact list too long to fit the screen"
We should add scrollbar to the contact list when it's too long to fit into the screen as a whole.

[2015-05-15 07:03] paweldomas opened #288 "Unable to join large conference"
Users reported that they were unable to join conference with around 19 participants and LastN =3. Chrome used 100% of CPU.

[2015-05-15 07:12] paweldomas opened #289 "Switch back from screensharing fails"
In large conference with around 19 participants and LastN set to 3 user has reported error when switching back from screensharing to camera video. Branded equivalent of [jitsi-meet 488].

![screensharing_error](https://cloud.githubusercontent.com/assets/2965063/7648300/cf1d97ae-fae1-11e4-9567-9d57f79de2e3.png)

[meet 488]: https://github.com/jitsi/jitsi-meet/releases/tag/488

[2015-05-15 13:44] #258 closed

[2015-05-17 23:10] sheaw commented on #155
is there a way to auto-start this ?

it seems when i run it from my terminal, the bridge fails as soon as i log out.  is there a way to execute as a start-up script ?

[2015-05-18 03:01] sheaw commented on #192
Has there been any follow-up to this thread?  "serviewcare" ? were you able to resolve the issue ?

[2015-05-18 06:36] paweldomas commented on #192
[code]

The error above has been fixed with [this] commit.

[this]: https://github.com/jitsi/jitsi-meet/commit/cd19c0e9e314dfe6837a4e9a1c05083cb236c52b

More info on:
[code]
can be found [here].

[here]: https://developer.chrome.com/webstore/inline_installation#verified-site

[2015-05-18 07:53] bgrozev commented on #155
Locking the issue, as we are still receiving unrelated comments. The original problem (where the error message was *not* shown, in a case where it should have been shown) has long been fixed, and it is unlikely to appear again because we are not using the JS focus anymore.

[2015-05-18 08:38] hristoterezov commented on #284
The issue is reproduced only in older versions. It is fixed in the latest versions.

[2015-05-18 22:39] bgrozev commented on #274
To clarify/update: I observed an RTP packet being dropped here:
https://github.com/jitsi/libjitsi/blob/master/src/org/jitsi/impl/neomedia/transform/dtls/DtlsPacketTransformer.java#L799

It was the first RTP packet after the DTLS handshake. The DTLS handshake completed successfully, and the very next packet (another RTP packet) was processed correctly.

[2015-05-20 06:57] quite opened #290 "audio not working most of the time, webrtc trouble?"
Audio recording is working very intermittently on my system. Previously chromium 42, right now 43. I see my own video, and others can see me. But webrtc (?) on my side doesn't seem to be able to record any audio. I've got it working "a few" times, by restarting chromium. And usually it will keep working as long as that chromium session is alive... But I've by no means found a consistent way of get

[2015-05-20 14:13] bgrozev commented on #262
George and me were able to reproduce this on https://github.com/jitsi/jitsi-meet/commit/fb6ad8cffd1358c6fad08f38f6e9072c4a922c46 using these steps:
1. Open one tab in FF
2. Open two tabs in chrome
3. The chrome instances do not see FF's "big" video, and they have two "video" elements under one participant's "span".

I am not sure if this is related to firefox, or is just intermittent and we happen

[2015-05-21 13:52] gpolitis commented on #262
The issue described in the previous comment has been fixed with e3da472e7aff4b5a23f2eacf2068093cb6d3a23e. It's indeed a FF/Unified Plan handling specific issue.

[2015-05-23 05:44] Infirex opened #291 "Participants could not see each other's video on EC2"
Jitsi-meet was installed on `https://vidwaan.org/` host using fast installation method:
`apt-get -y install jitsi-meet`

When I trying to test conference `https://vidwaan.org/whatever` video is not visible.
And I am getting Jingle error:  `{source: "transportinfo"}`,`{source: "answer"}`
However chat is working as expected.

JVB Log can be found at `https://vidwaan.org/jvb.log`

[2015-05-24 15:17] figers opened #292 "Jitsi on Azure"
Tried running the latest unstable on Ubuntu 12 and 14 with a self signed cert (for testing)

Did the quick install, I am able to connect to the same room with two devices, but only see my own video feed, it never switches to viewing the other devices video/audio feed.

Is this an issue with UDP ports being blocked? I created a Public IP address in Azure so that no ports are blocked and then I even

[2015-05-26 13:10] olofumark opened #293 "Cannot register focus user, prosody says Account creation/modification not supported"
Hi all, I'm trying to setup jitsi-meet on amazon ec2 instance without success.
I have even tried setup on 4 different instances with the same error.

The problem is, It fails whenever I execute:
prosodyctl register focus auth.video.mydomain.com YOURSECRET3

output is:
general             error	The version of LuaExpat on your system does not support stanza size limits, which may leave servers on un

[2015-05-26 16:05] paweldomas opened #294 "Shared screen is stretched to cover whole screen"
Just after screen is shared it covers whole screen and part of it is not visible(from other participants perspective). Usually it gets fixed after a moment, but not always. Probably video type sent through the presence arrives after stream has been added and displayed - it gets fixed when next presence packet arrives ?

[2015-05-26 22:59] olofumark commented on #293
Got it fixed after some little experiment namely:

It appears impossible to register user for the specified component if Virtual Host for that component is configured for anonymous authentication.

For the VirtualHost "auth.mydomain.com"
I changed the authentication to internal_plain to fix this

[2015-05-26 22:59] #293 closed

[2015-05-26 23:08] olofumark commented on #291
I have the same issue on EC2 but not with fast Installation method.
Video not working but chat is working, participants are registered correctly and presences acknowledged.
I followed detailed setup at https://github.com/jitsi/jitsi-meet/blob/master/doc/manual-install.md
however there are no errors

[2015-05-27 15:23] gpolitis commented on #275
RTP stats (like raw RTP stats reports in JSON format from Chrome) and SDPs could be useful too. RTP stats could consume a lot of space so that needs to be taken into consideration.

[2015-05-27 16:05] bgrozev commented on #275
We do have the RTP stats (on Chrome, not on FF yet).

[2015-05-27 16:26] murugannode opened #295 "AWS ELB"
How to handle load balancing in aws jitsi-meet

[2015-05-27 16:38] paweldomas commented on #295
Please use our dev list for asking question before opening new issues:

http://lists.jitsi.org/pipermail/dev/

[2015-05-27 16:38] #295 closed

[2015-05-28 08:51] gpolitis commented on #4
FF v40 (now Aurora) includes some important fixes and it seems to be working relatively well, if people want to test.

[2015-05-28 08:58] gpolitis commented on #45
We no longer need this because FF is rolling out multistream support and our efforts are concentrated around #4. #256 tracks support for IE and Safari through plugins.

[2015-05-28 08:58] #45 closed

[2015-05-28 09:04] foss- commented on #4
George, what's up with https://bugzilla.mozilla.org/show_bug.cgi?id=1155246 ? Is it still a valid bug? Your last comment seems to indicate otherwise.

[2015-05-28 09:05] paweldomas commented on #256
Just an update that Temasys plugin does support screen sharing.

[2015-05-28 09:10] gpolitis commented on #4
My last comment still applies. I'm not sure if it's gone (or if it ever existed), but it doesn't seem to affect meet anymore.

[2015-05-28 09:20] gpolitis commented on #4
Thank for trying this out! I'm not able to reproduce this on https://beta.meet.jit.si/. Could you please paste the JS console log here?

[2015-05-28 09:36] TabeebOsama commented on #256
Thanks.  Does it work with jitsi meet!  I could not make it work,

Thanks

[2015-05-28 09:36] foss- commented on #4
Sent to you via encrypted mail.

[2015-05-28 09:56] gpolitis opened #296 "screen sharing support for FF"

[2015-05-28 10:02] gpolitis commented on #271
Has this been fixed in Chrome? In FF currently this is not possible. I'm wondering if I should open a separate issue for FF.

[2015-05-28 10:04] gpolitis commented on #4
As per our private conversation, the problem appears to be that you try to enter the conference without sharing your camera. I've noted this in #271. Also, screen sharing doesn't currently work. That's documented in #296.

[2015-05-28 10:28] foss- commented on #271
Works in Chromium 43.0.2357.81 (64-bit), so indeed FF only.

[2015-05-29 17:11] RTGeorge opened #297 "XMPP.disposeConference Does not Check connection"
While building out a custom client, XMPP.disposeConference was called as part of the client conference logout process. There were cases where 'connection' was not defined resulting in an error. Should a 'connection' check be performed in XMPP.disposeConference similar to the 'sessionId' check in moderator.logout? Is there some clarification around when disposeConference vs. logout should be used?

[2015-06-01 01:11] mobentec commented on #291
We're having the same issue too.

[2015-06-01 03:08] emcho commented on #291
The most likely explanation for a working chat and no audio/video exchange
is that your JVB is not running.

Emil

On Wednesday, May 27, 2015, olofumark <notifications@github.com> wrote:

--
sent from my mobile

[2015-06-01 03:14] Avatarerof commented on #291
It's running, or at least at can be see in `htop`. I think the problem is somewhere in NAT. Is it possible?

[2015-06-01 10:12] hamidyaseen commented on #260
I am also observing the same issue by using the mute video (camera icon) option in toolbar at one conference participant....

[2015-06-01 11:37] Zalmoxisus commented on #260
Yes, it always happens when mute/unmute video, and we get an infinite cycle, which can cause CPU spikes.

Steps to reproduce:
1. Open https://meet.jit.si/
2. Open in other window the same url (participant 2).
3. Click "stop camera" icon for the participant 2. Start camera and stop again.
As a result we get infinite messages in the console of Particiapant 1.

[2015-06-01 12:13] hristoterezov commented on #260
For me the messages are printed only for 2-3 seconds.

[2015-06-01 12:24] Zalmoxisus commented on #260
@hristoterezov, yes, first time the messages are printed only for 2-3 seconds, and the second time there are infinite messages on the console of Particiapant 1.

[2015-06-01 16:01] Zalmoxisus commented on #277
It happens for any participant, not only without webcam.

Steps to reproduce:
1. Open https://meet.jit.si/
2. Open in other window the same url (participant 2).
3. Click "stop camera" icon for both participants.
4. Start camera of the Participant 2.
The Particiapant 1 will not be able to see the Participant 2 for about 2 minutes.

The bug is related to WebRTC or to JVB as the currentTime of the vi

[2015-06-01 17:10] Zalmoxisus commented on #277
@Kidav, removing those lines doesn't help.

Excluding the line [1] solves this, but, of course, not in case when the participant is without webcam.

Checked in Firefox too, it's the same.

[1] https://github.com/jitsi/jitsi-meet/blob/master/modules/RTC/LocalStream.js#L61

[2015-06-01 17:16] Zalmoxisus commented on #271
It doesn't work for video on Chrome too, according to the issue https://github.com/jitsi/jitsi-meet/issues/277

[2015-06-05 14:58] luistduarte commented on #265
localhost environment?

[2015-06-05 15:14] luistduarte commented on #265
I have the same messages in the browser, but i cant get audio/video from other participants because,
on jitsi-videobridge i get messages like ice failed

[2015-06-06 22:33] PocoCraft opened #300 "Your conference is currently being created..."
Hello. I just installed Jitsi-Meet onto one of my VPS' and when I create a room and attempt to share the invite link I get "Your conference is currently being created..."
Is there something that I am missing?
I've tried reinstalling using both 'talk', and 'talk.mydomainhere.mytldhere' as the hostname..
I cannot find anything on any of the Google results that has resolved my problem.

[2015-06-07 13:14] quickstreamingmedia opened #301 "unable to find recorded files of jitsimeet"
hello i have configured as said in  manul install page i have give directory to but am unable to find where they are going  stored i found nothing in folder created by me i have configured directory in sip-communications.js

[2015-06-07 19:09] bgrozev commented on #301
Please use the dev@jitsi.org mailing list for questions, and include more details.

[2015-06-07 19:09] #301 closed

[2015-06-08 05:06] Nodeswitch commented on #300
I'm also experiencing the same. I installed using the quick-install method.

[2015-06-08 05:49] paweldomas commented on #300
What do you see in the logs located at /var/log/jitsi ?

[2015-06-08 13:30] bgrozev opened #302 "Improve failure messages"
Currently we fail with a generic message that does not include any detail or hints on how to resolve the problem or gather information. As a result there issues are opened without any details provided. The message should have a link to show more details about the failure if possible, and a link that explains where the log files are located and how to contact us (i.e. write to dev@jitsi.org) with s

[2015-06-08 16:42] Nodeswitch commented on #300
Here's <a href="http://pastebin.com/pQ2fgh92">jicofo.log</a> and <a href="http://pastebin.com/h7Y2eRnc">jvb.log</a>.

I rebooted the server several times, so there will be repeat entries. Early on in jicofo.log is lists network connectivity issues, but this doesn't occur again.

[2015-06-08 18:05] PocoCraft commented on #300
I see jifco.log and jvb.log

[2015-06-08 18:06] PocoCraft commented on #300
Inside both I see Java looking errors complaining about "Connection refused"

[2015-06-08 18:07] PocoCraft commented on #300
Tell me if I need to upload my logs as well.

[2015-06-09 01:28] protosfucion commented on #105
Same here, but no errors in nginx... can anyone guide us with this issue? i tried to replicate changing the capital letter and welcome page, nothing change for me.

[2015-06-09 06:35] paweldomas commented on #300
The logs look ok after restart. Can you also copy JavaScript console logs from Chrome after trying to invite others ? ctrl+shift+j

[2015-06-09 14:11] buaasoftware commented on #291
I have the same problem. The jitsi-meet was installed at a public vps with ubuntu14.04 . Every setting is default. However , none of the peers can see the others' video. More of them has webcam.
Please refer to the beginning section ( date : 2015-05-09 00:48:20.975 ) of jvb.log  for the meeting :
 https://133.130.52.89/jvb.log ( you can use cmd "  wget -c --no-check-certificate  https://133.130.52

[2015-06-09 14:43] bgrozev commented on #291
@buaasoftware Is the hostname of the machine resolvable? It looks like it might be "133-130-52-89" and it fails to resolve:

"133-130-52-89: Name or service not known"

[2015-06-09 15:32] buaasoftware commented on #291
@bgrozev :  I had no idea why this name appeared at the log file. During the installation of jitsi-meet, I keyed in  : 133.130.52.89 when  prompted. Do you have any ideas ?

[2015-06-09 16:41] PocoCraft commented on #300
http://gyazo.com/7f73de3ea7ede040b455338a8f734bdf

I took out my domain and TLD only.

[2015-06-09 17:17] buaasoftware commented on #291
@bgrozev  : Thanks for your hint! It makes great difference now :) At least  now my PC can see video from my android mobile ( chrome40 ) while video at the mobile flicks seriously .  I will further test it tomorrow ( now it is mid-night ) with more PCs and update this thread . Thanks again ~~~

[2015-06-09 17:29] Nodeswitch commented on #300
<a href="http://pastebin.com/HWsTt6fT">Here goes</a>. Differs from the above.

[2015-06-09 18:28] paweldomas commented on #300
Prosody bosh runs on different domain than the website ?

[2015-06-09 18:31] paweldomas commented on #300
Prosody is misconfigured ? Can you show also /etc/prosody/prosody.cfg.lua and /etc/prosody/conf.avail.hangout.cfg.lua ?

[2015-06-09 18:52] Nodeswitch commented on #300
<a href="http://pastebin.com/rpe74Ufa">hangout.cfg.lua</a> and <a href="http://pastebin.com/qXm689y4">prosody.cfg.lua</a>.

Thanks for helping with this!

[2015-06-09 20:14] PocoCraft commented on #300
Both of those files I have not edited myself. I checked the ones that Nodeswitch posted, and they match mine, except the obviously different parts, such as the domain, TLD, secret key, etc. Again, if you need me to upload mine as well ask me.

[2015-06-09 20:15] PocoCraft commented on #300
I really appareciate the timely responses and the help you are providing!

[2015-06-09 20:21] paweldomas commented on #300
Both look ok. I need also /etc/nginx/sites-available/hangouts

Btw. what URL do you exactly enter in the browser ?

What happens if you open https://hangout/http-bind ?

[2015-06-09 21:59] PocoCraft commented on #300
http://pastebin.com/U4fZ23sQ

[2015-06-09 22:01] PocoCraft commented on #300
I enter talk.domain.tld:8080
It loads exactly the same way it did when I was running on the default ports, so I changed it to a different port without SSL since I run an Apache webserver on ports 80 and 443 as well, which cause conflicts when both are trying to run.

[2015-06-09 22:26] gpolitis commented on #290
Does your mic work ok for you otherwise? Can you for example record an audio file and play it back correctly?

[2015-06-10 05:10] Nodeswitch commented on #300
<a href="http://pastebin.com/LhbNtYCV">Here's</a> the Nginx conf file.

I get "Unable to connect" when I try https://hangout/http-bind. I checked this out last night before you replied as I saw the BOSH entry in the config, but I can't locate an actual file or folder called http-bind on the system. Should this be something that I can locate?

[2015-06-10 09:40] quite commented on #290
Yes, no problem with microphone. When webrtc doesn't record audio, I can indeed do `rec foo.wav` in a terminal and the resulting file has my noise.

[2015-06-10 14:03] buaasoftware commented on #291
Thankyou so much for bgrozev's help and Jitsi team's sharing such a great work with us:) The following is a summary on the "not see each other's video" issue and we hope it may be of some help to the other users with similiar problem :
Symptom : Participants could not see each other's video
Error messages : 1. at console.log
Jingle error Object {source: "transportinfo"}
Jingle error Object {source

[2015-06-10 15:24] tigre-bleu opened #304 "Restrict conference creation to privileged users via a configuration option"
For small installations of jitsi-meet, it could be too ressource consuming to allow the whole internet to create conferences. Additionnaly, there is a lack of control of who is using the platform.

It would be nice to add a configuration feature that makes it possible to select the users allowed to create a conference. All other users would be allowed to attend.

Ideally, those authorised users co

[2015-06-11 08:01] damencho commented on #304
Please use the mailinglist [1] as requested.
Check the documentation [2] where you can find how to restrict room's
creation only for registered users. You can also configure prosody to use ldap. All these are already present and implemented.

[1] https://github.com/jitsi/jitsi-meet#discuss
[2] https://github.com/jitsi/jicofo#secure-domain

[2015-06-11 08:01] #304 closed

[2015-06-11 16:05] bgrozev opened #305 "Fix chat messages timestamp"
Chat messages are shown whenever they arrive, and not when they were sent. As a result when you enter a room with history, old messages all have the same timestamp. We should read the timestamp from the message.

[2015-06-12 14:56] paweldomas opened #306 "Etherpad issue after re-join"
Description:
- An  authenticated user (through shibboleth) creates a room.
- Other participants join the room (authentication is not required)
- They edit an Etherpad document.
- The authenticated user (who seems to be the owner of the Etherpad) leaves the room (e.g technical issue)
- Then he comes back to the room and relaunches the Etherpad.
- Now he has got a new instance of Etherpad which diff

[2015-06-13 07:56] yagu0 opened #308 "Self-hosted : video crash after startup"
I installed jitsi-meet following the quick install for Debian Wheezy, and then tried both openJDK (6 & 7) and Oracle JRE (7).

I use the last version of chromium (but also tried with google chrome) on my client machine. Local video is showing properly, but remote one (in the corner) disappear after initialization (a few seconds).

What could I try to fix this annoying problem ?

EDIT: probably sam

[2015-06-15 07:41] paweldomas commented on #306
Another scenario that breaks etherpad is when authentication is disabled and moderator reloads the page - he and any next participants won't have etherpad button enabled. That's because only moderator includes etherpad instance name in presence and after he leaves we loose it.

In scenario with authentication multiple etherpad names are generated as we have multiple moderators joining the room.

[2015-06-15 08:42] paweldomas commented on #306
I'm planning to move etherpad name generation to Jicofo.

[2015-06-15 08:45] paweldomas commented on #297
moderator.logout is used to destroy authentication session and is used only when authentication is enabled

[2015-06-15 09:01] emcho commented on #306
Which would also be better from a security perspective

[2015-06-15 10:08] paweldomas commented on #306
Fixed in:

jitsi-meet: 3f9b220ee9c44e169a1fb11689a9af5cab5283e8
jicofo: da386db7494c44ee0f1be8aa9f200f0b0e42a88c

[2015-06-15 10:08] #306 closed

[2015-06-15 20:57] PocoCraft commented on #300
Does anyone know what our problem might be with the information we have provided?

[2015-06-17 14:14] arthurlogilab commented on #96
+1

[2015-06-18 07:31] emcho commented on #96
I am going to leave this open for now but it is very unlikely that someone would have the time to work on it in the foreseeable future.

[2015-06-18 15:37] bear opened #309 "Improper Copyright removal, please add the original Copyright back"
Commit
https://github.com/jitsi/jitsi-meet/commit/8380a7bb9dc1529826f73ac5db7a53c51710baf0 removes the original Copyright notice.

http://opensource.org/faq#preserve-copyright-notices explains why this is not allowed.

[2015-06-18 15:44] fippo commented on #309
@emcho I'm "concerned".

[2015-06-18 17:08] bear commented on #309
I feel this has been handled/covered by the revert commit here

https://github.com/jitsi/jitsi-meet/commit/5f48e4cf9d5c809c3fea2fee58563bc0eb748718

[2015-06-18 17:08] #309 closed

[2015-06-18 17:50] Kidav commented on #308
I am also spent some time for this issue and found this errors in log of jvb
[code]

jicofo.log
[code]
so I suppose for quick workaround you can downgrade jicofo to 1.0-68-1 (that helped me)

[2015-06-19 13:46] paweldomas commented on #287
Fixed in https://github.com/jitsi/jitsi-meet/commit/38b180ad81869e15b471f03da77e7c5eaf217978

[2015-06-19 13:46] #287 closed

[2015-06-23 13:29] #305 closed

[2015-06-26 07:39] ShalokShalom commented on #4
Means this, that it will work with 40 (Aurora)

https://hacks.mozilla.org/2015/06/firefox-multistream-and-renegotiation-for-jitsi-videobridge

[2015-07-03 07:35] paweldomas opened #312 "Verify room name format"
We should add room name format validation at least at the welcome page.

[2015-07-03 10:10] LeoIannacone commented on #260
I can confime this

[2015-07-06 10:06] paweldomas commented on #286
Number of participants will get out of sync when contactlist is opened:
https://github.com/jitsi/jitsi-meet/blob/master/modules/UI/side_pannels/contactlist/ContactList.js#L16

[2015-07-06 10:54] paweldomas commented on #286
Fixed in https://github.com/jitsi/jitsi-meet/commit/3fc6da1ed53b6a229bd6e9f28c97e5620b7ee392

[2015-07-06 10:54] #286 closed

[2015-07-06 11:25] paweldomas commented on #265
This is caused by strophe.js bug which no longer exists in the latest version. First 'on result' callback was called for 'session-accept' IQ and then after timeout limit expired Strophe trigerred error callback again.

[2015-07-09 21:46] bgrozev opened #315 "Enable rtcpMuxPolicy: "require""
We should probably enable this. See https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/discuss-webrtc/4IOADjJLpOo/ksXO7O43-cEJ

[2015-07-10 08:20] paweldomas opened #316 "Small videos not removed correctly"
If participant leaves the room before any media is streamed his small video container is not removed correctly. To reproduce:
1. Open 1st tab
2. Open 2nd tab
3. Reload 2nd tab as soon as you start seeing 2 thumbnails.

[2015-07-10 10:11] paweldomas commented on #256
We have just added experimental support for Temasys WebRTC plugin. Currently I know that it works with IE11. Should work also with Safari, but that hasn't been well tested yet. You can give it a try at beta.meet.jit.si.

[2015-07-14 14:34] paweldomas commented on #294
Fixed in a1b0677442e04c12f275431be380f06a8f4a3959

[2015-07-14 14:34] #294 closed

[2015-07-14 14:36] paweldomas commented on #273
Addressed in a1b0677442e04c12f275431be380f06a8f4a3959 and https://github.com/jitsi/jicofo/commit/f6ff879cd06613bb51c08653a5aca768fe0b8199

[2015-07-14 14:36] #273 closed

[2015-07-15 08:13] paweldomas opened #317 "Local thumbnail issue when last-N enabled"
Soon after starting the conference when remote participant is displayed on "large video" our local video disappears and avatar is displayed instead. This happens when last-N is enabled.

[2015-07-15 12:02] paweldomas commented on #317
Fixed in 17f245df5eafbe9e37ba822741a164a3174d4b5d

[2015-07-15 12:02] #317 closed

[2015-07-15 12:21] matthias-w opened #318 "Audio/Video missing after page reload in non-anonymous XMPP sessions"
I hosted the system on my local machine (Ubuntu 14.04, Nginx, Openfire) and try to use it in an existing web portal providing user credentials on video conference startup (extended app.bundle.js's XMPP.start merthod for that)

That works when setting up an initial conference with two participants. But as soon as a participant reloads or closes the browser window and restarts the conference (with t

[2015-07-15 13:07] paweldomas commented on #316
Magic ! Unable to reproduce it anymore... Closing for the time being

[2015-07-15 13:07] #316 closed

[2015-07-15 13:08] paweldomas opened #319 "Avatar issues with muted video"
Avatars do not work as expected when people have muted video. Muting/unmuting breaks stuff and avatar on large screen is not the same as the one on small video thumbnail.

[2015-07-15 14:26] paweldomas opened #320 "Remote videos freeze after muting local video"
When local video is muted remote videos freeze from time to time. chrome://webrtc-internals reports lots of NACKs and PLIs being sent. After unmuting local video remote video is displayed fine and no more PLIs and NACKs in the stats.

This happens on Chrome 43 Windows 7 x64.

Issue https://github.com/jitsi/jitsi-meet/issues/277 is probably related.

[2015-07-15 21:00] idcmp commented on #277
FWIW +1, experiencing this too (local install Ubuntu 14, Oracle JDK 8, Chrome Linux Version 43.0.2357.134 (64-bit))

[2015-07-16 14:16] paweldomas commented on #320
On remote side received NACK and PLI count for frozen video stream is 0.

[2015-07-17 06:46] paweldomas opened #321 "FF support possibly broken"
It seems that something in FF functionality has been broken by https://github.com/jitsi/jitsi-meet/commit/ae759fab5b621fb77b196be17f9ff0298b8cd34d

[2015-07-17 07:44] paweldomas opened #322 "Safari support"
Test and fix bugs in Temasys plugin integration on Safari

[2015-07-17 07:54] paweldomas commented on #320
If [this bug] exists in Chrome 43 this will probably work fine in Chrome 44.

[this bug]: https://code.google.com/p/webrtc/issues/detail?id=4678

[2015-07-18 01:42] marclaporte commented on #96
Full interoperability (video, screen sharing, etc) between Jitsi & Jitsi Meet is obviously a lot of work. But perhaps activity in a Jitsi Meet conference could nudge a Jitsi user via XMPP to join the action in Jitsi Meet with a modern browser?

"Some activity has been detected in the Jitsi Meet room at https://meet.jit.si/test so please visit with your browser"

Thanks!

[2015-07-20 17:34] paweldomas commented on #319
Fixed in https://github.com/jitsi/jitsi-meet/commit/c3548eb8661aa246810992e50d09f9be027eafe2

[2015-07-20 17:34] #319 closed

[2015-07-21 06:23] paweldomas commented on #265
Fixed in https://github.com/jitsi/jitsi-meet/commit/b5135c455efa9a46c7403dc1a8984d0df0f6eb80

[2015-07-21 06:23] #265 closed

[2015-07-21 06:42] paweldomas commented on #320
It does happen with Canary 46, so the bug mentioned above is not related.

[2015-07-21 06:46] emcho commented on #320
Is anyone looking into this? We should probably get it sorted sooner rather than later.

[2015-07-21 08:58] paweldomas commented on #321
Video issue is now fixed in https://github.com/jitsi/jitsi-meet/commit/bc935eb5dca739401b4d870f956c4ad67737559f

But even before ae759fa there are following issues:

In FF<-->FF calls:
- audio in one direction
- 3rd FF participant joins the room, but there is no media at all

FF <--> Chrome:
- seems to work fine even with 2+ participants, but there are some UI glitches related to video switching a

[2015-07-21 18:15] robertoandrade opened #324 "TURN server installation?"
Following both the quick and manual installation README doesn't talk about TURN server installation/configuration at all.

I found an [old fork](https://github.com/mduggan/jitsi-meet/blob/master/INSTALL.md#install-turn-server) that still has those instructions and was wondering why they don't exist on the official repo?

[2015-07-21 18:19] robertoandrade commented on #324
Looks like you guys have a TURN server [implementation of your own](https://github.com/jitsi/turnserver)... how does one go about connecting the dots here?

[2015-07-21 18:22] damencho commented on #324
As jitsi-videobridge received TCP support, turn server is not needed anymore, as it was used to take the participants who has problems using UDP.
Please use our mailing list for posting question.

[2015-07-21 18:22] #324 closed

[2015-07-21 19:02] yanas commented on #318
Question moved to our dev mailing list here: http://lists.jitsi.org/pipermail/dev/2015-July/024680.html. We’re trying to keep all questions and discussions on the mailing list and only create issues for well identified problems. Please reopen with additional information after discussing it with a developer. Thanks!

[2015-07-21 20:13] yanas commented on #308
Forwarded to the dev mailing list. Please follow up here: http://lists.jitsi.org/pipermail/dev/2015-July/024688.html. We’re trying to keep all questions and discussions on the mailing list and only create issues for well identified problems.

[2015-07-21 21:56] damencho commented on #292
I'm not familiar with the Azure service but what I see from a quick search over the Internet you can assign  a public ip, but still your vm will be behind nat. If that is the case you also need to forward all the udp traffic from the public address to the internal in the 10000:20000 range.

[2015-07-21 22:00] yanas commented on #291
Fixed.

[2015-07-21 22:00] #291 closed

[2015-07-21 22:33] yanas commented on #290
@quite please send the js console log, so that we could have a look at the details.

[2015-07-22 12:47] paweldomas commented on #322
After https://github.com/jitsi/jitsi-meet/commit/0902cbb16495e295507a93a2fc4139ee33889bf9 the plugin seems to be working, but there is an issue with jQuery fadeOut().

[2015-07-22 12:49] emcho commented on #322
I also had problems with screen streaming, and relatively rough plugin
installation process.

On Wed, Jul 22, 2015 at 2:47 PM, Paweł Domas <notifications@github.com>
wrote:

--
https://jitsi.org

[2015-07-22 15:55] Kidav commented on #277
For now (when Chrome 44 released) similar, but more serious problem is that after turning video Off and On it is not possible to see others participants video. Any suggestions described above does not help - reproduced on freshness installation of jitsi-meet and on meet.jit.si. Maybe issue https://github.com/jitsi/jitsi-meet/issues/320 is more related

What is interesting is that if I use http ins

[2015-07-22 16:05] robertoandrade commented on #324
Just for documentation purposes the use of `jitsi-videobridge` as both TURN and a web server replacement for `jitsi-meet` will be a default option soon (instead of `nginx` as it currently stands) according to feedback I got on the mailing list.

Additionally, as it stands today when you install using either the quick or manual instructions on the repo today, you need to do quite a bit of trickery

[2015-07-23 09:59] paweldomas commented on #321
FF <--> Chrome:
- UI issues were not FF specific and has been fixed in https://github.com/jitsi/jitsi-meet/commit/9b4ee7c0c5d92be6bd2c51795555299b43fdbca9

[2015-07-24 13:12] paweldomas commented on #320
With Chrome 44 issue is also present after switching back from screensharing to camera video. Lots of NACKs and PILs, but remote video stays frozen.

[2015-07-24 13:27] paweldomas commented on #320
JVB complains about bad RTCP version and reports bad RTP packets for this stream in summary stats.

[2015-07-27 19:08] yanas commented on #281
Chrome already gives the user the ability to choose between devices, however I agree that the application could try to make this choice more visible, as it's quite hidden in the browser window.

[2015-07-28 11:37] paweldomas commented on #277
The issue is caused by the fact that Chrome is using SSRC=1 in PLI requests when it has no local video configured. JVB is dropping these packets, so clients without local video are not able to request keyframes. A workaround could be to make Jicofo configure video SSRC=1 for them.

[2015-07-28 11:42] paweldomas commented on #320
When we're muting local video or switching to desktop stream our old camera video is removed from peerconnection. The SSRC for this stream is also removed from peer config on the JVB by Jicofo. The bridge will no longer forward RTCP packets for this SSRC and because Chrome is using it in PLI requests they never reach the other side.

[2015-07-28 18:23] damencho opened #325 "Avatar missing for jigasi participant"
Open a conference, call a number to join a sip participant to the conference and a missing image icon is shown. Looking in the page source src="null" is for the missing element.

[2015-07-29 07:59] paweldomas opened #326 "Thumbnails for participants without audio/video are not removed"
Video thumbnails are not removed when participants without audio and video leave the room.

[2015-07-29 16:38] yanas commented on #143
We now show user's avatar.

[2015-07-29 16:38] #143 closed

[2015-07-30 08:14] paweldomas opened #332 "Video mute issues"
Clicking "mute video" icon on the top toolbar very fast puts it in incosistent state. That is the video icon locks at "muted" state although application logic seems to continue toggling video state.

Also "toggling" very fast leads to multiple <video> objects in remote participant container which are never removed. This is on remote participant side who observes us.

[2015-07-30 10:45] paweldomas commented on #320
Submitted bug report[1] to WebRTC - having behaviour more consistent will help resolving the issue without too many "hacks".

[1]: https://code.google.com/p/webrtc/issues/detail?id=4883

[2015-07-30 12:28] paweldomas commented on #326
Fixed in https://github.com/jitsi/jitsi-meet/commit/f2bd76ac938364471cadf40a5e9f81a38db3471e

[2015-07-30 12:28] #326 closed

[2015-07-30 12:28] paweldomas commented on #325
Fixed in https://github.com/jitsi/jitsi-meet/commit/2ffe178456e94e916d22b10848ad24212d692d0a

[2015-07-30 12:28] #325 closed

[2015-07-30 12:30] paweldomas commented on #332
Inconsistent state fixed in https://github.com/jitsi/jitsi-meet/commit/8469a282c1c8f95cc766f6aed883bd25a7e88397, but still there are leaked <video> elements on remote participant side.

[2015-08-05 09:14] paweldomas opened #333 "FF Nightly 42.0a1 (2015-08-04) no longer allows to get 'audio' only stream"
FF Nightly 42.0a1 (2015-08-04) no longer allows to get audio only or video only stream when we have camera device with integrated mic. This effectively breaks FF support in jitsi-meet on both https://meet.jit.si and https://beta.meet.jit.si.

We do 'get user media' separately for audio and video in order to be able to switch video stream to screensharing without interrupting user's audio. More det

[2015-08-05 12:14] paweldomas commented on #320
Fixed with https://github.com/jitsi/jitsi-meet/commit/74e7507a7321334a53153876398dfde7237f23cd for Chrome/Opera/IE/Safari. Still needs to check Firefox once https://github.com/jitsi/jitsi-meet/issues/333 is resolved.

[2015-08-05 13:25] paweldomas commented on #333
FF bug report: https://bugzilla.mozilla.org/show_bug.cgi?id=1191298

[2015-08-05 14:10] paweldomas commented on #332
Fixed in https://github.com/jitsi/jitsi-meet/commit/50e67a0658b246b9113a9040504fe588b91b9884

[2015-08-05 14:10] #332 closed

[2015-08-05 14:10] paweldomas commented on #277
Can be fixed with https://github.com/jitsi/jitsi-videobridge/commit/b6622988f8109310b5d84519ce43fdeecb0c6350

[2015-08-07 11:01] paweldomas commented on #277
Fixed in https://github.com/jitsi/jitsi-meet/commit/fb875423a909e4f7eccb43bc4526d13f3b84ce67

[2015-08-07 11:01] #277 closed

[2015-08-07 11:02] paweldomas commented on #333
Fixed in https://github.com/jitsi/jitsi-meet/commit/e5d03d1d11d0ac19c8590a23158ccff90e3268b2.

[2015-08-07 11:02] #333 closed

[2015-08-07 11:03] paweldomas commented on #320
FF does not support removeStream, so there is no SSRC switching there and issue does not apply, so closing it for now.

[2015-08-07 11:03] #320 closed

[2015-08-07 11:05] paweldomas commented on #289
We're not doing stream SSRC switching for screensharing, so the issue no longer exists.

[2015-08-07 11:05] #289 closed

[2015-08-07 11:09] paweldomas commented on #256
IE and Safari is now supported through Temasys plugin.

[2015-08-07 11:09] #256 closed

[2015-08-07 11:12] paweldomas commented on #257
There were many fixes related to video muting and avatar handling recently. Now we're unable to reproduce the issue anymore.

[2015-08-07 11:12] #257 closed

[2015-08-07 11:15] paweldomas commented on #160
Unable to reproduce with the latest version.

[2015-08-07 11:15] #160 closed

[2015-08-08 16:27] JosefJezek opened #335 "Responsive layout"
Please Responsive layout.

[2015-08-09 00:33] emcho commented on #335
I don't understand this. Please send your recommendations or questions to out dev mailing list (https://jitsi.org/lists). and try to be more descriptive.

Thanks

[2015-08-09 09:40] meni91 opened #336 "jitsi: conference is currently being created"
I'm new with Jitsi, i tried to install jitsi (https://github.com/.../blob/master/doc/manual-install.md) and i got this error , "jitsi meet Your conference is currently being created..." any help please

[2015-08-11 08:11] driesken opened #337 "Swap front-/backcamera android"
Would it be possible to allow users on androiddevices to change their webcam? I've been testing with the following code in Google Chrome (desktop) but it doesn't seem to work with the mobile version of Chrome.

[code]

[2015-08-11 08:22] JosefJezek commented on #335
Responsive layout for web client https://meet.jit.si/ Support for mobile screens.

![image](https://cloud.githubusercontent.com/assets/2110319/9193321/bb34a126-4012-11e5-98bf-0598465eeb28.png)

![image](https://cloud.githubusercontent.com/assets/2110319/9193326/d1fb26dc-4012-11e5-8c23-43b734675dd1.png)

[2015-08-11 20:30] wolftune opened #339 "Much more lag and glitches vs other WebRTC options"
So, https://talky.io/ or https://opentokrtc.com/ and other sorts of direct WebRTC functions have *much* higher quality connections with much better frame rates, less lag, less glitches, less freezes etc. They support multi-party…

Unfortunately, both of those options are lacking in other ways. One has a nice recording function, but otherwise, the feature set and design of meet.jit.si is superior,

[2015-08-11 20:35] emcho commented on #339
Hey @wolftune

This one sounds like an interesting discussion but it is much too broad of subject to qualify as a ticket.

You are welcome to post and start the discussion on our mailing list!

Cheers,
Emil

[2015-08-11 20:35] #339 closed

[2015-08-11 21:00] wolftune commented on #339
@emcho Fair enough, but I'm not active enough as a user / dev to get involved at the moment. Would you potentially pass on my note to the mailing list, perhaps with a more pointed request: add an FAQ somewhere for people to read about why meet.jit.si has these problems (if you know they do, maybe the privacy-protection / encryption isn't possible the way the other sites work?)

[2015-08-11 21:06] emcho commented on #339
The main concern here is that X works better for me than Y does not generally tell us a whole lot. It could very well be that your route to our single box running meet.jit.si is not so good. We do have a bunch of things in mind to improve this but they are all deployment specific problems and not issues of the videobridge/meet applications.

I didn't get the part about the non-standard webrtc feat

[2015-08-11 21:16] wolftune commented on #339
I've tried meet.jit.si from several different locations in different states, and the contrast is stark. Indeed, it seems likely related to the route to the single meet.jit.si box. Are there any other alternatives to testing this / using it otherwise without doing the work of setting up our own host?

[2015-08-11 21:19] emcho commented on #339
We are working on this. Hopefully we would have something to talk about next week.

[2015-08-11 21:20] wolftune commented on #339
Great, I look forward to the announcement

[2015-08-12 02:39] robertoandrade opened #340 "Issue installing latest from Debian download site: sip-communicator.properties: No such file or directory"
I've been running automated installs of the latest JVB/meet from the Debian repo and just recently started receiving the following error when attempting to install `jitsi-meet` via `apt-get`:

[code]

Any idea why that is?

[2015-08-12 19:56] bgrozev commented on #263
Currently app.bundle.js is 1.24MB and 0.46MB minified with http://javascript-minifier.com/

[2015-08-14 19:51] bgrozev opened #342 "Refactor DTMF.js"
The DTMF module should not depend on xmpp. We should move it to the RTC module once we move TraceablePeerConnection there.

[2015-08-14 21:34] wolftune commented on #296
FF 40 now functions for meet.jit.si and the built-in Firefox Hello supports screen-sharing with no extra plugins installed. Therefore, meet.jit.si should be able to use the same WebRTC screen-sharing support and enable this feature.

[2015-08-14 21:35] wolftune commented on #4
This *does* now work with FF 40. This should probably be closed, but FF isn't fully on-par until #296 is done (and maybe some other items)

[2015-08-16 13:57] geileszeuch commented on #4
Is there any chance that this will work on Firefox for android? Currently it shows the not-supported screen after typing in a room name.

[2015-08-16 16:01] wolftune commented on #4
@geileszeuch are you on FF 40 ? ( I don't know if that works, but I know it *won't* work if on older)

[2015-08-16 18:04] geileszeuch commented on #4
I am FF 40.

[2015-08-17 15:02] gpolitis commented on #4
@geileszeuch Unfortunately I don't think FF for Android has support for WebRTC, so we can't support it even if we wanted to. OTOH the performance would be absolutely abysmal, unless it runs on powerful hardware; so my thinking is that native is the way to go for mobile devices.

[2015-08-17 16:07] geileszeuch commented on #4
I am sorry, I had my user agent edited. It works totally fine on Android and the performance is also quite good on my phone. Thank you guys. Its time to say goodbye to Skype.

[2015-08-17 16:39] wolftune commented on #4
@geileszeuch great to know! I should try that myself

[2015-08-17 16:44] gpolitis commented on #4
This is unexpectedly good news, thanks @geileszeuch for sharing your experience with us. Could you please share what tablet/smartphone you're running meet on?

[2015-08-17 17:24] TabeebOsama commented on #4
This will be an important feature to add.

Thank you,
Osama

[2015-08-17 19:20] marclaporte commented on #4
I just tested audio / videoconference at https://meet.jit.si/ using
1- Galaxy Note 3 with Firefox 40 installed with F-Droid
2- Firefox 40.0.2 on Windows 8

It all seems to work fine. Congrats!  This is very very exciting!

Jitsi Meet is not responsive though. I brought this up on the dev mailing list:
http://lists.jitsi.org/pipermail/dev/2015-August/025018.html

Thanks!

[2015-08-17 19:20] marclaporte commented on #335
Done:

Jitsi Meet: Proposal to migrate to the Bootstrap front-end framework in a future version (responsive design, easy theming, future-proof)
http://lists.jitsi.org/pipermail/dev/2015-August/025018.html

Thanks!

[2015-08-17 19:33] seanmheff opened #343 "Cannot unmute video on Firefox 40.0"
When I mute my local video on Firefox, I cannot unmute myself.

When I click the unmute icon in the toolbar, nothing seems to happen. I need to refresh the page to get back into the meeting.

Happening on Firefox 40.0 using OSX

[2015-08-18 08:13] geileszeuch commented on #4
I used an Nexus 5. The user interface is a little tiny, but I am happy it works.

[2015-08-18 14:50] gpolitis commented on #335
I don't know how well this aligns with our roadmap but I would love to see this in meet. Maybe we should reopen this issue.

[2015-08-18 15:47] damencho opened #345 "Returning from shared document to video results no video"
When returning from etherpad no video is displayed. Clicking on the video thumbnails doesn't change the situation. Both largeVideoWrapper and large video has their display to none.

[2015-08-19 08:57] paweldomas commented on #345
Thanks for the heads up ! Fixed in https://github.com/jitsi/jitsi-meet/commit/9a7bc4ebab99657d77955db22f326d1132556682

[2015-08-19 08:57] #345 closed

[2015-08-19 21:31] dwilson6 opened #346 "Use bower or npm to manage external dependencies"
What do you think about using bower or npm to manage strophe, jquery, and jquery-ui instead of having them checked into the repo? Is there any customization in any of those dependencies?

[2015-08-19 21:44] gpolitis commented on #346
+1 We already have npm so this should be fairly easy.

[2015-08-19 21:45] bgrozev commented on #346
+1

[2015-08-19 21:53] dwilson6 commented on #346
Ok, so maybe add npm deps and then create a vendor browserify bundle then? Or would you rather copy the individual files into the libs dir from node_modules in build task?

[2015-08-20 02:52] angelrr7702 commented on #340
I have the same problem .. still waiting for fix for this error to be able to install this application .

[2015-08-20 04:16] damencho commented on #340
I just tried on fresh installed ubuntu lts 14.04.3 and have no problem
installing jitsi-meet. Anything special for your installation?

On Wed, Aug 19, 2015 at 9:52 PM, Angel Rodriguez-Ricardo <
notifications@github.com> wrote:

[2015-08-20 04:39] angelrr7702 commented on #340
Did you install by

echo 'deb http://download.jitsi.org/nightly/deb unstable/' >> /etc/apt/sources.list
wget -qO - https://download.jitsi.org/nightly/deb/unstable/archive.key | apt-key add -

apt-get update
apt-get -y install jitsi-meet

for me fail for Ubuntu 14.10 and Ubuntu 15.10
before it work fine at ubuntu 14.10 but for some reason .. it begin to fail some week ago :
	2015-07-19  ==> install

[2015-08-20 04:43] damencho commented on #340
Yes I have tested the same, but till now have reports for 14.04. I will try on 14.10. Thanks.

[2015-08-20 11:54] angelrr7702 commented on #340
No idea if this will help you find the problem :
before it work fine at ubuntu 14.10 but for some reason .. it begin to fail some week ago :
2015-07-19 ==> installed fine    ==> Jitsi-meet   1.0.569-1
2015-08-13 ==> after this date fail to install from repository for me  ==> Jitsi-meet   1.0.606-1
2015-08-19 ==> still fail to install ==> Jitsi-meet   1.0.626-1

[2015-08-20 18:32] damencho commented on #340
I created a clean installation of 14.10 and added the repository and did
just apt-get install jitsi-meet and it installed without a problem.
Are you upgrading or making clean install? If you are upgrading did you
made a modification like deleting the sip-communicator.properties file?

On Thu, Aug 20, 2015 at 6:54 AM, Angel Rodriguez-Ricardo <
notifications@github.com> wrote:

[2015-08-20 22:10] angelrr7702 commented on #340
I did  install inside a docker container .. in both way ... manual and by script . and both fail.
This before worked fine , ,, and the person that open the ticket have the same problem but from debian .

[2015-08-20 22:15] damencho commented on #340
Well, I'm not familiar with docker and how the ubuntu 14.10 is different
there, but installing it on clean 14.10 is working fine so it must be
something docker specific that causes the problem.

On Thu, Aug 20, 2015 at 5:10 PM, Angel Rodriguez-Ricardo <
notifications@github.com> wrote:

[2015-08-24 02:03] marclaporte commented on #335
Bootstrap 4 alpha:
http://blog.getbootstrap.com/2015/08/19/bootstrap-4-alpha/

[2015-08-24 15:21] bgrozev opened #347 "Support running on firefox without a mic and/or camera"

[2015-08-24 15:40] dwilson6 commented on #346
So it looks like the npm module for strophe doesn't include the minified version of strophe (I've submitted a PR to add it) and the strophe-plugins module is really old and doesn't have the disco and caps plugins.  The bower dependencies are good enough to use.

Also, is it still preferred to have the dependencies checked into the repo? If so, it might make sense to create a vendor bundle and just

[2015-08-24 16:18] hristoterezov commented on #346
Personally I think it would be better to just add the dependancies in the package.json file. NPM will resolve that dependancies and browserify will include them in the app.bundle.js.

[2015-08-24 16:54] Paultok opened #348 "Is there any way to make the videobridge honor the standard sdp 'sendonly' direction?"
Hi guys,

one question before the "real" question: is the videobridge designed around jitsi meet? or is it supposed to be a standard webrtc tool?

Real question: is there any way to make the videobridge honor  the standard sdp 'sendonly' direction? I am interested in sending video /audio only and don't want to receive any media stream from the videobridge.

[2015-08-25 12:28] pailong commented on #340
Same problem under fresh install of debian wheezy :

echo 'deb http://download.jitsi.org/nightly/deb unstable/' >> /etc/apt/sources.list
wget -qO - https://download.jitsi.org/nightly/deb/unstable/archive.key | apt-key add -
apt-get install jitsi-meet

used to work a few days ago
Now fails.
New with the last install : nginx-nxasi-ui installs and requires a database

I have no idea how to fix.
Cheer

[2015-08-25 16:49] damencho commented on #340
Hum, it is very strange I cannot reproduce any of the reports for this. I
just made a fresh install of wheezy and added the repository and did: apt-get
install jitsi-meet and everything installed without an issue. Any tips how
to reproduce this?

On Tue, Aug 25, 2015 at 7:28 AM, pailong <notifications@github.com> wrote:

[2015-08-29 11:27] dmwaren commented on #223
Hi,

I am trying to make jitsi meet working on apache server by the suburl "/meet" but i only get the index.html view without possibility to load a room.

First i proceeded a package install, stopping nginx and configuring apache virtualhost with parameters given by pb13. After a lot of test, i uninstalled all packages to try a manuel install, but the result is the same.

I installed jitsi-videobr

[2015-09-03 17:44] idcmp opened #352 "Feature: Use Notification API when disconnected from conference."
As a user of Jitsi Meet who is almost always screen sharing, I would like to be notified when my connection to the conference is disconnected (even if it's trying to reconnect).

When I am screensharing, Jitsi Meet is not the front most window, so something that notifies me at the desktop level would be needed.

[2015-09-04 14:32] d2chau opened #353 "Desktop share re-enables video when stopped"
When a user has their video muted upon entering desktop share, once that same user stops desktop sharing, their own video stream is re-enabled instead of still being in a video-muted state.

[2015-09-08 04:10] marclaporte commented on #4
Hi!

So general Firefox support is resolved AFAICT.

I added a PR to add Firefox to supported browsers page:
https://github.com/jitsi/jitsi-meet/pull/354

I realize some issues are being discovered such as:
https://github.com/jitsi/jitsi-meet/issues/343
But these should be treated as browser-specific bugs (each with their own bug report), just like if they affected another browser.

Thanks!

[2015-09-08 04:15] marclaporte commented on #296
@wolftune clever idea!

One thing though:
"If you've initiated a conversation, the screen sharing feature will be available to you."
https://support.mozilla.org/en-US/kb/share-your-screen-firefox-hello

So Jitsi Meet would need to emulate this somehow.

Thanks!

[2015-09-08 18:25] bgrozev commented on #343
@seanmheff does that happen with a conference with 1 firefox and one (or more) chromes?

[2015-09-08 18:44] bgrozev commented on #296
I should have updated this issue, but it slipped. We added firefox support just recently[1]. But there are still some bugs to resolve before we close this. Notably, once you go to screen sharing, you can't go back to camera.

To use it on your own domain you need an extension which you can build with the template here:
https://github.com/jitsi/jidesha/tree/master/firefox

You can test it out on be

[2015-09-09 20:17] damencho commented on #340
Found the problem where reconfiguring the package (changing the name of the service) can cause this problem. Not seen on new installation or simple upgrades. Fixed with 5a254ba.

[2015-09-09 20:17] #340 closed

[2015-09-11 22:08] bgrozev commented on #348
Videobridge is not designed specifically around jitsi-meet. However, it does not take part in regular WebRTC offer/answer based on SDP, and therefore cannot honor an "sdp" direction. It can be configured via the control protocol ([COLIBRI](http://xmpp.org/extensions/xep-0340.html)) to not send media on a certain channel by setting said channel's "direction" attribute to recvonly.

[2015-09-11 22:08] #348 closed

[2015-09-11 22:10] bgrozev commented on #343
@seanmheff Can you currently reproduce this on beta.meet.jit.si (or another up-to-date installation)? I suspect/hope that it was fixed in https://github.com/jitsi/jitsi-meet/commit/711d4ab63428269cc91aea7e548ec61418070725

[2015-09-11 22:11] bgrozev commented on #336
Please use the dev@jitsi.org mailing list for questions. A more detailed description of your environment and the problem would help.

[2015-09-11 22:11] #336 closed

[2015-09-11 22:19] #283 closed

[2015-09-13 17:15] seanmheff commented on #343
Yes I can confirm that this is now fixed.

Thanks.

[2015-09-13 17:16] #343 closed

[2015-09-14 20:31] gpolitis commented on #347
Related: http://lists.jitsi.org/pipermail/users/2015-September/010029.html

[2015-09-14 20:39] gpolitis commented on #347
Original report: http://lists.jitsi.org/pipermail/users/2015-August/009934.html

[2015-09-15 19:46] zorbalaras commented on #96
I definitely need the Jitsi & Jitsi Meet interoperability. I was able to check that chatting between a Jitsi client and a Jitsi Meet room just works fine out of the box. Can someone give me some hints/starting-point from a coding perspective to bring the audio/video interoperability? Marc, any idea?
Thanks!

[2015-09-16 16:52] kjedamzik opened #359 "quick install broken"
[code]

[2015-09-16 17:48] damencho commented on #359
It is a problem with nginx config. At least nginx fails to start. Maybe try
fixing it "could not build the server_names_hash, you should increase
server_names_hash_bucket_size: 64".

On Wed, Sep 16, 2015 at 11:52 AM, kjedamzik <notifications@github.com>
wrote:

[2015-09-16 19:39] Wolf480pl commented on #96
@zorbalaras according to my observations from half a year ago, the focus initiates a Jingle call to anyone who joins the MUC (seen it happen in Gajim, but should be the same for all clients, incl. Jitsi). Now, for some reason, the client isn't able to accept that call. A starting point would be to figure out why it

However, some things may have changed since then.
Also, I'd love to see some info

[2015-09-17 22:21] d2chau opened #360 "Last application shared in desktopShare is still seen from users who don't have a camera or have camera disabled"
When userA, a user who doesn't have a camera or has their camera disabled, desktopShares and stops desktopSharing, the other participants in the meeting can still see userA's last shared application.

For userA, it seems as though he/she thinks that they are still sharing.

We can detect this by looking at `APP.RTC.localStreams[ ]`. If we look at the `LocalStream` that is not audio, it has a `vide

[2015-09-28 18:33] KBernard-nx opened #362 "Android WebView: Uncaught ReferenceError: chrome is not defined"
I/chromium﹕ [INFO:CONSOLE(1477)] "This appears to be Chrome, ver: 46", source: https://meet.jit.si/libs/app.bundle.js?v=634 (1477)
 I/chromium﹕ [INFO:CONSOLE(0)] "Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check http://xhr.spec.whatwg.org/.", source:  (0)
I/chromium﹕ [INFO:CONSOLE(12063)] "Using Chrome

[2015-09-30 03:46] wrouesnel opened #364 ""I am the host" button not working on Chrome 45.0.2454.101"
When configuring authentication for conference creators, the "I am the host" button will never invoke the callback because `submitValue` is undefined.

It's not clear why it's undefined, but I got perfectly normal behavior by removing the dependency and just making the function always call `callback()`.

[code]

[2015-09-30 11:27] YoussF commented on #192
Hi i'm facing the same issue, i cloned this repo (https://github.com/jitsi/jidesha) edited manifest.json to change the domain information, the extension has been recompiled to .crx, i installed this new .crx extension but it still getting the same error.

Can someone please add to the documentation how to achieve this.

[2015-09-30 13:26] foss- commented on #271
Ping! What's the status of this?

#277 has been closed. When visiting https://meet.jit.si/ and creating a new room with Firefox 42.0 I get asked if I want to allow access to the microphone (twice) which seems odd.

@gpolitis you got any status quo on this?

[2015-09-30 13:26] foss- commented on #4
Agree w @marclaporte. Why is this still open?

[2015-09-30 14:41] gpolitis commented on #4
Thank you for the reminder.

[2015-09-30 14:41] #4 closed

[2015-09-30 14:53] gpolitis commented on #271
Hi @foss-, unfortunately this issue is still valid. We have done some work on FF and fixed a few bugs but not this one.

[2015-09-30 15:07] akuckartz commented on #271
:+1: for this use case.

[2015-09-30 16:30] knocte commented on #4
AFAIU if you close this issue, it should mean that I can access http://meet.jitsi.org/ with my Firefox browser. But I can't. The version I'm using is 41.0 (in Ubuntu 14.04.1).

[2015-09-30 16:35] gpolitis commented on #4
Can you access https://meet.jit.si/ with FF? I'm not sure what version of meet we're running on https://meet.jit.si/, probably an older one.

[2015-09-30 16:54] knocte commented on #4
Yes that seems to work.

Can you upgrade it or make it to rather redirect to https://meet.jit.si/?

[2015-09-30 16:57] gpolitis commented on #4
Good to hear that it works for you and I'm sorry for the confusion! I'll try to find out what the situation is with m.j.o.

[2015-10-01 16:21] gpolitis commented on #271
Just to clarify, this should be working on Chrome, @hristoterezov implemented this a while ago. It's only on FF that it doesn't work and that's tracked in #347.

[2015-10-05 20:00] dwilson6 commented on #346
I started this a while ago and finally got around to finishing it up.  The PR is here: https://github.com/jitsi/jitsi-meet/pull/366

[2015-10-06 15:14] seanmheff opened #367 "Issues with rejoining a conference on Firefox"
I have a conference with two participants (A and B). Each participant is running Firefox 41.0.1.

If the following sequence of events happen - B's video will freeze on A's window.

A joins. B joins.

B refreshes the page.

A mutes video.

[2015-10-06 15:15] seanmheff commented on #367
This problem does not occur with Chrome

[2015-10-06 15:18] gpolitis commented on #367
Hi @seanmheff could you please try with https://beta.meet.jit.si/? We recently fixed a very similar issue (if not the same) but I don't think it's deployed in https://meet.jit.si/ yet.

[2015-10-06 15:20] seanmheff commented on #367
Ok will do. How often is the code on beta.meet.jit.si updated?

[2015-10-06 15:21] gpolitis commented on #367
It runs the latest nightly as long as it passes the tests.

[2015-10-06 15:36] damencho commented on #367
It runs the latest versions, no matter whether the tests has passed or not :)

[2015-10-06 15:38] gpolitis commented on #367
I stand corrected, thanks @damencho :-)

[2015-10-06 16:07] #346 closed

[2015-10-06 16:11] gpolitis commented on #346
I merged your awesome PR, thank you @dwilson6 !

[2015-10-06 21:06] gpolitis commented on #362
I don't know which engine is bundled with the Android WebView, but it seems it offers the `webkitGetUserMedia` causing our app to think it's running on Chrome. Even if we fixed this specific exception, I suspect there will be more problems down the road. For reference, here's the code that fails:

[code]

[2015-10-06 21:09] gpolitis commented on #362
@KBernard-nx this particular exception should be fixed in https://beta.meet.jit.si/. Could you please check if switching to beta fixes the issue for you?

[2015-10-06 21:14] subtildreams opened #368 "Open close chat button in top toolbar translation"
hi
There are no translation of the Open/close chat button in the top toolbar (in any langage)

only english
the chat button on the bottom is translate

Thank you

[2015-10-06 21:15] gpolitis commented on #321
@paweldomas could you please clarify what the problem is in the FF<-->FF case? I just tested with 3 participants and the conference is fully functional, so I'm thinking that maybe we fixed the issue and forgot to close the ticket.

[2015-10-06 21:30] paweldomas commented on #321
Hey George, it didn't worked some time ago, but it's possible that it has been fixed. Will give it another try and let you know.

[2015-10-06 21:43] subtildreams commented on #312
yes it will be nice if in the welcome page, we could not allow special caractere or space in the room box

no more 404

[2015-10-07 09:20] seanmheff commented on #367
I tried to test this out on the beta server. Firefox is not working at all anymore. I see a black screen.

It looks like it is not asking for video in the getUserMedia request.

Chrome still worksl

<img width="682" alt="screen shot 2015-10-07 at 10 16 33 am" src="https://cloud.githubusercontent.com/assets/2361700/10333585/d1038cd2-6cdc-11e5-971f-0c7b0ae4ee25.png">

[2015-10-07 15:11] gpolitis commented on #367
Thanks for trying. Are you trying to join without video?

[2015-10-07 17:10] seanmheff commented on #367
OK, I can now have a conference with Firefox. I just retried it again and it worked. I did restart Firefox since testing again. Maybe something was amiss there. I am using the built-in mic and camera on a Macbook.

I cannot retest my original problem as I can't make it that far. Here is the issue I now run into:

A joins. B joins.

B refreshes the page.

A no longer see's B's video. B shows as a p

[2015-10-07 17:14] gpolitis commented on #367
Thanks for trying again. Can you try this using the same FF window with A and B on different tabs? Are you on a wired or on a wireless connection? How much have you waited for B's video to show up again? Do you get any error messages in the JS console?

[2015-10-07 19:29] KBernard-nx commented on #362
Thank you George.

i found that if i set the UA to
Mozilla/5.0 (Linux; Android 4.1.1; HTC One X Build/JRO03C) AppleWebKit/537.31 (KHTML, like Gecko) Chrome/26.0.1410.58 Mobile Safari/537.31
the video playback works perfect.

the device i am testing on is a ATT Tab 4 10 Inch. T537A.

[2015-10-07 19:32] gpolitis commented on #362
What's the original UA? Interestingly, we upgraded https://meet.jit.si/ yesterday evening. I'm wondering if it's the upgrade that fixed it or the UA modification.

[2015-10-07 19:56] KBernard-nx commented on #362
Original UA :
Mozilla/5.0 (Linux; Android 5.1.1; SAMSUNG-SM-T537A Build/LMY47X; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/46.0.2490.41 Safari/537.36

just tried https://meet.jit.si/ now with this UA and still receiving the same error. same for beta.

my guess it has to do with the Chrome version i'm sending to your site.
hope this helps.

[2015-10-08 12:18] seanmheff commented on #367
Hey there. I tried it again using the same FF window and different tabs. I got video to play after refreshing - after about 100 seconds of a black tile.

I have a pretty poor bandwidth at my location so I am running the Jitsi stack on a Ubuntu virtual machine on my Mac.

I did some investigation, it looks like when B refreshes his video, the video does not become active for A until about 100 secon

[2015-10-08 14:54] joudinet opened #369 "Quick install (i.e., debian package) with existing certificates"
Hi,
During the deb package configuration, I selected "Use existing certificates" and installed my certificate and private key into /etc/ssl/host.{crt,key} as recommended.
Still, at the end of the installation, I notice jitsi-meet generates an RSA private key in /var/lib/prosody:

[code]

Is this option broken?

[2015-10-08 15:56] bgrozev commented on #369
I don't think prosody's certificates are used anywhere. The ones you provided should be used by nginx (you can verify in /etc/nginx/sites-enables/your-domain.conf).

[2015-10-08 17:52] jmcclelland commented on #296
This is great to hear. I think you didn't paste in the footnote about adding firefox support - I would like to read about it. Also - do you have any more documentation on creating an extension to white list our own domain? I notice on the beta version (beta.meet.jit.si) it prompted me to dowload and install the plugin. Is it possible to enable that on our own installed version of jitsi meet?

[2015-10-08 18:18] bgrozev commented on #296
Oops. Here's the link: https://hacks.mozilla.org/2015/06/firefox-multistream-and-renegotiation-for-jitsi-videobridge/

And the documentation for the extension is here (it's not that its missing, there's just really not much to it): https://github.com/jitsi/jidesha/blob/master/firefox/README.md

[2015-10-08 21:59] bgrozev opened #370 "Fix exceptions thrown when parsing the User-Agent string fails"
We should fail gracefully and show the "browser unsupported" page when we encounter a UA string which we can't parse. Currently we throw an exception and the UI is broken.

[2015-10-09 09:48] joudinet commented on #369
Indeed, nginx configuration uses the correct certificates and I verified it from within jitmeet.
Still, I believe prosody's certificate should not be generated in this scenario. I let the issue open if you decide to fix it later, but it's fine to me if you decide to not fix it and close this issue anyway.

[2015-10-09 09:51] joudinet opened #371 "ICE state is FAILED"
Hi,
I have a running VM behind a NAT with jitmeet debian package installed.
I've added the following lines in /etc/jitsi/videobridge/sip-communicator.properties:
[code]

Still, jvb.log reports an error with ICE and audio/video is not working on jitmeet.
Any idea how to solve this?

[2015-10-09 13:03] jmcclelland commented on #296
Thanks for the links!

I just compiled the extension for our domain. Just a few more questions...

 1. Where do I copy the extension so that when a user clicks on the Desktop sharing link they will be prompted to download and install it (i.e. they way it works on beta.meet.jit.si).
 1. What version of jitsi-meet includes these changes? We are running 1.0.701-1 from http://download.jitsi.org/nightl

[2015-10-09 14:21] bgrozev commented on #371
Have you made sure that traffic to the public IP on the ports used by videobridge (TCP/443, TCP/4443, UDP 10000-20000) is routed to the machine with the bridge?

[2015-10-09 14:26] bgrozev commented on #296
That's up to you, but you then need to configure the link in config.js (desktopSharingFirefoxExtensionURL).

701 definitely includes them. I think the first is somewhere around 669, not sure which exactly.

[2015-10-09 15:32] joudinet commented on #371
Nope, I missed that information. I did the bridge for port 443 only. Thanks.
It could be a good idea to add this information there:
https://github.com/jitsi/jitsi-meet/blob/master/doc/manual-install.md#running-behind-nat

[2015-10-09 16:36] jmcclelland commented on #296
Thanks - this is awesome!! Working (and I even got Mozilla to sign it).

I had to add all of the following to config.js to get the link to work properly.

desktopSharingFirefoxExtId: "jidesha@meet.mayfirst.org",
desktopSharingFirefoxDisabled: false,
desktopSharingFirefoxMaxVersionExtRequired: -1,
 desktopSharingFirefoxExtensionURL: 'https://meet.mayfirst.org/desktop-sharing-firefox.xpi',

[2015-10-09 17:25] bgrozev commented on #296
You probably want to set desktopSharingFirefoxMaxVersionExtRequired to 0, otherwise clients without the extension won't be prompted to install it.

[2015-10-09 17:39] bgrozev commented on #371
Added, thanks for the suggestion.

[2015-10-09 17:39] #371 closed

[2015-10-10 14:08] nickmdowson opened #372 "Enable support for Iceweasel (The Debian version of Firefox)"
Hi,
I just went to meet.jit.si and it came up with:

This application is currently only supported by
Chrome
DOWNLOAD
Chromium
DOWNLOAD
Opera
DOWNLOAD
Firefox
DOWNLOAD

However: I am currently using 'Iceweasel' which *is* Firefox: it's the rebranded version used in Debian Linux, which is kept identical, but rebranded so that Debian can apply it's own security updates.

I was wondering if you could

[2015-10-12 18:57] gpolitis commented on #372
You're absolutely right Nick, it makes sense enabling Jitsi Meet for Iceweasel, thanks for bringing this up! Iceweasel >= 40 should work fine.

[2015-10-13 14:09] subtildreams opened #375 "Automatic video change"
Hi
when we click on a participant nickname (in the participant list) we can see his webcam.

It will be nice to have a button to come back to an automatic video change (when dominant speacker change)

And not stay on a particular webcam

Thank you

[2015-10-13 14:15] bgrozev commented on #375
This is supposed to happen when you click on the small video again (you will notice the "pinned" video has a blue aura, which disappears when you click it again). Does it not work for you?

[2015-10-13 14:15] subtildreams opened #376 "Moderation access in the particapant list"
Hi

It will be nice to have a moderation access (for the moderator) in the participant list

Like for example a right click on a participant will give this option

Mute this participant
kick this participant

because for now if your setting is last n =5 with 50 participants on a confererance, you can only moderate 5 peoples

Thank you

[2015-10-13 14:19] subtildreams opened #377 "Mute all except dominant speacker"
Hi

It will be nice for the moderator to have more tools

Like
Mute all except dominant speacker
Stop all video except dominant speacker

thank you for your work

[2015-10-13 14:31] subtildreams commented on #375
Hi thank you, yes it workes i did not know. It's nice

Maybe it can be nice to add automatic mode button at the bottom of the participants list or an information that said you are currently watching "nickname" camera click here for automatic mode?

[2015-10-16 10:56] nickmdowson commented on #372
Hi, This isn't entirely the same issue but i did notice that meet.jitsi.org tells anyone going to it that jitsi meet doesn't support firefox...don't know if this is in your area but might give some people the wrong idea!
Cheers

[2015-10-16 14:32] damencho commented on #372
This instance is old and not updated, we will redirect it these days to the
correct one. Sorry.

On Fri, Oct 16, 2015 at 5:56 AM, nickmdowson <notifications@github.com>
wrote:

[2015-10-16 20:18] jmartine opened #378 "Leak with xmpp authenticate dialog box?"
Hi,

While in the process of modifying the torture test to run with the basic xmpp authentication (non-Idp) I notice that multiple elements where returning for the xpath //input[@name='username'] when the IamHost button is clicked. When cancel is clicked from the password required dialog only one of the elements is removed. Clicking on the IamHost button to open up the dialog again will cause the

[2015-10-16 21:30] Chris00 opened #379 "Support Iceweasel"
Iceweasel is just Firefox rebranded for Debian.  It should be supported by https://meet.jit.si/
Thanks.

[2015-10-16 21:42] gpolitis commented on #379
Hello Chris, thank you very much for your interest in jitsi-meet and for your suggestion. Iceweasel support is being discussed here here https://github.com/jitsi/jitsi-meet/issues/372 so I'm closing this as duplicate.

[2015-10-16 21:42] #379 closed

[2015-10-16 22:01] gpolitis commented on #372
I just installed Debian Jessie and it has Iceweasel 38 (usr) which is too old to work meet. Debian Sid and Stretch also have Iceweasel 38. Can somebody with "Debian experimental" please test if Iceweasel works with https://meet.jit.si/?

[2015-10-19 08:57] nickmdowson commented on #372
I think I heard from someone who had iceweasel 40 and for whom it
worked. But I'm going to try and update my system in the next week or
two and test this myself. Thanks!
Nick

On 16/10/15 23:01, George Politis wrote:

[2015-10-19 09:05] jmzn opened #381 "Run jitsi-meet in a suburl using Nginx"
Hi,

We would like to access jitsi-meet via a suburl from our existing domain (“https://mydomain.com/jitsi-meet”). We are currently using Apache to host our application (“https://mydomain.com/myapp”) in port 8080 and Nginx in port 80 and 443. After installing jitsi-meet, this is accessible via “https://mydomain.com/” and we would like to configure Nginx to use a suburl instead for jitsi-meet: http

[2015-10-19 14:39] gpolitis commented on #372
Nice, looking forward for your feedback! I'm suspecting that it would work, because in theory we're handling Iceweasel the same as Firefox, but in practice some things might be broken.

[2015-10-20 10:48] AikedeJongste commented on #192
@YoussF I had to update the id in the config file on my server /etc/jitsi/meet/servername.com-config.js - and I used Chrome Incognito mode to install it to prevent caching issues.

[2015-10-20 11:55] HKApitech opened #384 "No audio/video"
Hi Everyone,

I've just installed Jitsi-meet on a new Debian server. When I start a new conference the chat works well and I can see participants' names but  I can't see or hear them (webcam and audio not working). I get this error "OperationFailedException: ICE failed" in /var/log/jitsi/jvb.log :

2015-10-09 16:11:08.448 SEVERE: [102] util.UtilActivator.uncaughtException().119 An uncaught excepti

[2015-10-20 13:34] seanmheff commented on #367
Did you have any joy replicating this?

[2015-10-21 11:45] HKApitech commented on #384
SOLVED.

Solution here:  http://lists.jitsi.org/pipermail/users/2015-September/010064.html

[2015-10-21 11:45] #384 closed

[2015-10-21 11:57] matthias-w opened #385 "Feature: Minimal Jitsi client JS API"
Jitsi Meet is a pretty cool stand alone video conferencing tool. However, from my experience so far it is quite difficult to integrate into an existing web application. There are many third party libraries (e.g. jquery, font awesome) that are related to user interface handling. All that is pretty much mixed up with the networking and video conferencing code.
A version leaving out all this UI stuff

[2015-10-21 13:33] nkokkos commented on #385
From what I understand jitsi-meet uses jitsi-videobridge to handle conferencing, which may be controlled through a rest api: https://github.com/jitsi/jitsi-videobridge/blob/master/doc/rest-videobridge.md

[2015-10-21 14:41] paweldomas commented on #385
Hi,

There is ongoing work on JS API for Jitsi-meet. You can find it on this branch here:

https://github.com/jitsi/jitsi-meet/tree/lib-jitsi-meet <https://github.com/jitsi/jitsi-meet/tree/lib-jitsi-meet>

Regards,
Pawel

[2015-10-21 14:47] matthias-w commented on #385
Hello Pawel,
thanks for that. I did not know that you are already working on such an API. I guess that is exactly what I was looking for. Great :)

[2015-10-21 22:44] Samistine opened #387 "[Information] Where is the css that control the size of the remote videos?"
I want to increase the size of the boxes showing other people when they are not being featured. I can't seem to locate where the css is to increase the size of this: http://i.imgur.com/SMPclVs.png

[2015-10-22 06:14] spellauge commented on #312
yes, this would be nice an would increase usability and acceptance. once, a user sees a 404 caused by an illegal room name the risk is high that he will refrain from using jitsi meet.

[2015-10-22 13:38] Asikmusta opened #388 "Other participants audio & video is not working -only chat & self video is visible"
I am not able to see other participants audio and video , but chat is working fine between participants . participant's self video is visible.
I have referred several issues (ex.267,277,234 etc.)but i believe my issue is different,hence pls help me
I installed this on Ubuntu 14.04.3 LTS (GNU/Linux 3.13.0-66-generic x86_64).
This is a Virtual server in cloud and I am connected to that network over

[2015-10-23 06:34] nkokkos commented on #385
@matthias-w
Have you seen this? -> https://github.com/jitsi/jitsi-meet/blob/master/doc/api.md

[2015-10-23 07:48] matthias-w commented on #385
Hi,
thank you for mentioning external API. Unfortunately, it is not flexible enough for me. As far as I understand, it is pretty much the same (apart from a few available functions and events) as if I would embed Jitsi Meet with an iframe in my web page. The UI and all related libraries I do not need are still loaded. It would be too time-consuming overwriting JS behavior and CSS styling everytime

[2015-10-23 15:16] nickmdowson commented on #372
Hi George,
I've just updated and tried it and it looks to me like it all works fine -
including the share screen option.
I was trying it on me own though so can't confirm 100% - if I get a chance
soon to use it with someone else I'll let you know if I have any problems!
Looks like a pretty sweet piece of software - nice work.
Nick

On 19 October 2015 at 15:39, George Politis <notifications@github.

[2015-10-23 15:27] gpolitis commented on #372
Hi Nick, this is great news, thanks very much for your testing and for your feedback. I will close this issue now and, if you find any new problems, you can either re-open it or create another issue for the specific problem that you're experiencing. Thank you.

[2015-10-23 20:20] nkokkos commented on #381
Something similar has been mentioned before in this issue here:https://github.com/jitsi/jitsi-meet/issues/223

If your suburl is /jitsi-meet, I guess you could update config.js to something like this:
[code]
And as far the nginx config is concerned:

    # bosh
    location /jitsi-meet/http-bind {
        proxy_pass      http://localhost:5280/http-bind;
        proxy_set_header X-Forwarded-For $re

[2015-10-24 10:31] akuckartz commented on #372
:+1: Thanks!

[2015-10-26 11:50] Asikmusta commented on #267
I am not able to see other participants audio and video , but chat is working fine between participants . participant's self video is visible.
I have referred several issues (ex.267,277,234 etc.)but i believe my issue is different,hence pls help me
I installed this on Ubuntu 14.04.3 LTS (GNU/Linux 3.13.0-66-generic x86_64).
This is a Virtual server in cloud and I am connected to that network over

[2015-10-27 03:54] marclaporte commented on #335
For the record, Bootstrap code is already included and used for:
    "tooltip": "./node_modules/bootstrap/js/tooltip.js",
    "popover": "./node_modules/bootstrap/js/popover.js",

https://github.com/jitsi/jitsi-meet/commit/f4da6784652fd546bd6261300635683985cb8da5

[2015-10-27 09:13] akuckartz commented on #335
:+1:

[2015-10-27 14:22] Bugsbane opened #389 "Trouble accessing mic/cam or entering room (logs included)"
Hey there,
I tried beta.meet.jit.si last night (EST) between my (Manjaro) Linux laptop with Chrome and my Android (5.1) phone using Firefox and it worked fine.

When I tried calling a friend who was using Firefox on their Samsung Galaxy Note 2 phone just an hour later though, they weren't able to see their camera or audio. They were just seeing the icon of the camera with the cross through it for

[2015-10-30 16:25] akuckartz commented on #335
Can this issue please be reopened? I tried to use meet.jit.si in Firefox on a Smartphone and it was not usable due to missing responsiveness. I can offer to proved feedback !

[2015-10-30 16:49] jaysig112 commented on #300
Has anyone found a solution for this problem I tried a clean install on unbuntu 14 and I am getting the Conference is being created error. Also I am getting the connection refused in the logs.

[2015-10-30 16:56] akuckartz opened #391 "Problems with Firefox and Iceweasel and beta.meet.jit.si"
I am having several problems with beta.meet.jit.si using Firefox and Iceweasel. Both versions are 41.0.2. Should I file issues?

[2015-10-30 16:58] gpolitis commented on #391
If you feel they are bugs then yes, please do.

[2015-10-30 17:00] akuckartz commented on #391
@gpolitis Thanks for the very quick reply!

[2015-10-30 17:00] #391 closed

[2015-10-30 17:01] damencho commented on #300
Default prosody packages, under 14.04 and installing jitsi-meet the quick
way by just doing # apt-get install jitsi-meet and no custom modifications
should work. Definitely you need to fix the connection refused problems you
face. Do you have any custom settings or packages for prosody or nginx not
coming from ubuntu repo?

On Fri, Oct 30, 2015 at 11:49 AM, jps <notifications@github.com> wrote:

[2015-10-30 17:04] akuckartz opened #392 "Asked twice to allow access to microphone"
When I load such a page https://beta.meet.jit.si/myprivatechannel (I am using a different channel) the browser (Iceweasel 41.0.2) asks twice if I allow access to a microphone. The system does not have a webcam.

[2015-10-30 17:12] akuckartz commented on #300
I am seeing this issue ("Die Konferenz wird erstellt...") on https://beta.meet.jit.si

Another issue is that I am unable to give myself an (account) name.

[2015-10-30 17:14] damencho commented on #300
If you see it with beta, then it can be something with your browser. Can
you check your browser console, are there any errors?

On Fri, Oct 30, 2015 at 12:12 PM, Andreas Kuckartz <notifications@github.com

[2015-10-30 17:15] gpolitis commented on #392
I'm sorry that you have troubles running FF without a webcam. This is a known issue: #347. Closing as duplicate.

[2015-10-30 17:15] #392 closed

[2015-10-30 17:17] jaysig112 commented on #300
I started a brand new unbuntu vm from scratch and all I did was set a hostname on the machine. Once that is done I followed the quick install guide and I got both of those problems. I tried it on the unbuntu server and desktop.

[2015-10-30 17:26] damencho commented on #300
Can you upload your jicofo and jvb logs somewhere so we can take a look?
What are the connection refused logs? Seems your components jicofo or jvb
cannot connect to prosody on port 5347 on localhost, it can be some
firewall or misconfiguration.

On Fri, Oct 30, 2015 at 12:17 PM, jps <notifications@github.com> wrote:

[2015-10-30 17:32] akuckartz commented on #347
One particular issue is that without a webcam one is asked twice to allow access to a microphone. See #392 (closed but not resolved).

[2015-10-30 17:38] jaysig112 commented on #300
here is most of the jvb logs http://pastebin.com/R6nBUTTD
here is the jifcofo logs http://pastebin.com/iRWk0UQr

[2015-10-30 17:53] reixd opened #393 "How to build jitsi-meet and jitsi-meet-prosody debian package"
Hello,

how can I build the  jitsi-meet and jitsi-meet-prosody debian package?
Like the videobridge and jicofo this repo does not contain an ant build.xml file.
And "dh_make" does not work on the sources.

Warm Regards

[2015-10-30 18:29] damencho commented on #393
As stated in the README of the project:
Please use the Jitsi dev mailing list to discuss before opening an issue on Github.

dpkg-buildpackage -A -rfakeroot -us -uc

[2015-10-30 18:29] #393 closed

[2015-10-30 20:48] foss- commented on #392
Why is this closed? @akuckartz correctly referenced this bug and mentioned, this is not resolved. I can confirm this is still a problem in Firefox 41.0.2.

[2015-10-30 20:59] gpolitis commented on #392
If a user has both a mic and a video camera, then it's a technical limitation in our specific case to have two prompts. If one of the two devices is missing the user is unable to join the conference: #347. Not being prompted two times when one of the two devices is missing is part of #347.

[2015-10-30 21:05] foss- commented on #392
Thanks for elaborating. All good.

[2015-10-31 01:29] marclaporte commented on #335
@akuckartz You are registered as a tester :-)

[2015-10-31 12:23] akuckartz commented on #392
I now have plugged in an old cheap webcam (which is recognized by the Debian system) and the result is a bit stranger:

1. Request to allow access to microphone
2. Request to allow access to camera ("VGA Single Chip")
3. Request to allow access to microphone

But there is no picture. I will investigate further...

[2015-11-01 16:51] mammuth opened #394 "Conversation 'admin' should not be able to UN-mute users"
Expected:
- conversation admin is able to mute noisy users
- admin is able to unmute users that the admin muted before

However admin is able to toggle the mute setting of any user. So the admin is able to unmute a user, even with this user decided to mute himself.

This is a heavy privacy issue, because when I press the mute button, I expect to stay muted, until I unmute myself.

[2015-11-01 18:42] akuckartz commented on #394
:+1:

[2015-11-01 18:47] akuckartz commented on #389
I also tried to use Jitsi Meet with Firefox on Android and no camera was recognized.

[2015-11-01 18:51] akuckartz commented on #302
:+1: for more informative error messages

[2015-11-01 18:55] akuckartz commented on #251
Seems to be a duplicate of #271 (which was created later).

[2015-11-01 18:56] akuckartz commented on #153
:+1: maybe something like dev.meet.jit.si

[2015-11-01 18:57] akuckartz commented on #133
Seems to be a duplicate of #271 (which was created later).

[2015-11-01 19:07] akuckartz commented on #347
Duplicates: #271 #251 #133

[2015-11-01 20:32] paweldomas commented on #394
It used to work this way, but maybe something has been broken recently.

[2015-11-01 20:34] paweldomas commented on #394
Or maybe not exactly this way, but admin was not able to unmute any users.

[2015-11-01 21:18] marclaporte commented on #335
Here is an update on the mailing list:
http://lists.jitsi.org/pipermail/dev/2015-November/025588.html

Thanks!

[2015-11-02 00:41] HelioGuilherme66 commented on #335
Count with me as tester.

[2015-11-02 04:23] Bugsbane commented on #335
I'd like to test too, thanks.

[2015-11-02 04:37] Bugsbane commented on #389
Well it wors on my Android phone with Firefox (Moto E gen 2, FF from Fdroid), so it's not universal to FF Android. just not sure if it's a hardware or FF version triggered bug.

[2015-11-02 17:14] bgrozev commented on #153
We now have CI and automated tests on beta.meet.jit.si.

[2015-11-02 17:14] #153 closed

[2015-11-02 18:11] jaysig112 commented on #300
After taking a look at the logs did you happen to find anything?