[2020-07-10 11:30] saghul commented on #7283
Thanks for the report, fixed in https://github.com/jitsi/jitsi-meet/pull/7284

[2020-07-10 11:30] #7283 closed

[2020-07-10 12:38] JoeyAndroidDev opened #7288 "Conference terminated: Unable to resolve host "ip4only.arpa""
My App with jitsi-meet works with our inhouse server, where several ports are blocked. When I open the conference in my App, everything works fine but when I want to join the conference in a browser, I can't see any video on the screen and a few seconds later, the app crashes with following Exception:

_E/JitsiMeetSDK: NAT64AddrInfo NAT64AddrInfo.discover: ipv4only.arpa
    java.net.UnknownHostExc

[2020-07-10 12:50] saghul commented on #7288
We log the exception but not crash on the SDK. Are you sure the app crashes or you just don't get any video? Can you paste the rest of `adb logcat` when you do this?

Also, is IPv6 being used in your network?

[2020-07-10 12:56] saghul commented on #7279
I don't know what you mean, we don't use socket.io at all. Please, use the issue template, it's there for a reason, and be as detailed as possible.

[2020-07-10 12:56] #7279 closed

[2020-07-10 12:59] saghul commented on #6991
I'd say this is a browser issue. Firefox shouldn't allow interaction with the page until choosing the window is done / cancelled. There is not much we can do on our side since we are not in control of the UI for selecting the screen sharing source.

[2020-07-10 12:59] #6991 closed

[2020-07-10 13:00] saghul commented on #7274
We've done a number of improvements to screen-sharing over time. I suppose they were running an old version of the code and have updated now.

[2020-07-10 13:41] soorajjaivas commented on #7277
Hi,
I reported  bug issue.I couldnot join to video session cal.Following error getting
 E/JitsiMeetSDK: [features/analytics] Error(Error){"message":"No analytics handlers created!","stack":"Error: No analytics handlers created!\n    at anonymous (index.android.bundle:448:1252)\n    at f (index.android.bundle:111:155)\n    at anonymous (index.android.bundle:111:882)\n    at apply (native)\n    at a

[2020-07-10 13:45] soorajjaivas commented on #7265
After updated to latest version (2.9.0), I could not join to video session.Following error getting
 E/JitsiMeetSDK: [features/analytics] Error(Error){"message":"No analytics handlers created!","stack":"Error: No analytics handlers created!\n    at anonymous (index.android.bundle:448:1252)\n    at f (index.android.bundle:111:155)\n    at anonymous (index.android.bundle:111:882)\n    at apply (nativ

[2020-07-10 13:52] Echolon commented on #6810
@saghul does the feedback help you?

[2020-07-10 13:55] Echolon commented on #7166
@nimaam I'm afraid but I have to close the issue as long as you havent filled out the issue template.
If you need support please visit rhe Jitisi Community Forum aswell!

_______
Bugmarshall, not directly affiliated with the Jitsi Meet Team

[2020-07-10 13:55] #7166 closed

[2020-07-10 13:57] Echolon commented on #7001
@tux1980 Could you solve the certificate?

[2020-07-10 13:58] saghul commented on #6810
Oops, I had missed the reply.

@pongsawad You need to wait for the joined event (videoConferenceJoined) before you can execute the commands.

[2020-07-10 13:59] #7001 closed

[2020-07-10 14:00] saghul commented on #7277
That is a harmless error log. Which I will remove to avoid the confusion.

[2020-07-10 14:08] shapkarin opened #7290 "Add file .env file and process.env support in the whole project and webpack proxy"
Hello. My idea is to use `.env` or `.env.json` file and use it in whole project

and next it can be used in the codebase like
[code]

So at`.env.json` we can define:
[code]

And webpack config itself will use it and other files too.

Here is the working example https://github.com/aeternity/jitsi-meet/pull/77

[2020-07-10 14:12] saghul commented on #7290
What would it be used for, other than the webpack proxy?

[2020-07-10 14:18] jallamsetty1 commented on #7267
No worries, thank you for the screenshots. I will make a change so that we getter a better aspect ratio when we request the camera for lower resolutions.

[2020-07-10 14:21] shapkarin commented on #7290
Not sure but It can be used also for `turn` or `on` the redux dev tools.

[2020-07-10 14:22] simolev commented on #7274
I'm glad there have been improvements over time :-)

* If you are saying that I'm using old code from the Ubuntu/Debian repository, please point me to instructions on how to update it (I believe I'm using the latest version available in the repository).
* Why would https://meet.jit.si use old code?

[2020-07-10 14:43] JoeyAndroidDev commented on #7288
Thanks for the quick response :)
You are right, it's not really a crash, I think.
My suggestion is, that there is a connection error and instead of reconnect, the whole app is restarting.

Before the exception, the following line appears:
_I/ReactNativeJS: Halt: There are no SSRC groups in the remote description._

Then the exception comes a few times but when the conference is terminated, the fol

[2020-07-10 14:45] mu35li commented on #7267
again, this is happening on my view while **the other person is changing their settings**. I don't really get why the resolution for my view has to change at all as I'm not doing anything.

[2020-07-10 14:47] shapkarin commented on #7290
@saghul it has the check if we have dev tools extension
https://github.com/jitsi/jitsi-meet/blob/3da1b65757502069b4dc8b1420ddfa35dac71156/react/features/base/app/components/BaseApp.js#L195-L198

But maybe also can be defined some check for the env variable that will turn off the redux dev tools as a middleware

[2020-07-10 14:52] paweldomas commented on #7288
ICE failed means it's unable to establish connectivity between the client and the bridge.

[2020-07-10 14:52] Ryuno-Ki commented on #7187
I'm still waiting for feedback with my family.

In the meantime: Would you accept PRs for documentation?

[2020-07-10 14:55] JoeyAndroidDev commented on #7288
Yeah, but why only with the usage of the sdk?
With the browser on my phone or a webview in my app I can open the conference and I see the video.

[2020-07-10 15:46] saghul commented on #7187
Absolutely! Getting the list started in the handbook would be great!

[2020-07-10 15:46] nathankurtyka opened #7292 "iOS 14 beta 2: Safari stops responding"
Jitsi Meet doesn't work on iOS 14 beta 2 for more than a few minutes. This is (fortunately?) easy to reproduce.

Steps to reproduce:
- Install iOS 14 beta 2
- Join any room on https://meet.jit.si that has 2+ people in it
- Leave video enabled and wait ~3 minutes

Video should of course continue to work, but after ~3 minutes the local video stream turns to black (both on local device and to other p

[2020-07-10 15:49] saghul commented on #7292
Given it works on stable safari and iOS 14 is in early beta I don't think we can spend resources taking a look yet. Please let us know how it progresses as more betas are released.

[2020-07-10 15:54] saghul commented on #7265
That's just a print of an exception, the app doesn't actually crash at that point.

[2020-07-10 17:39] Ryuno-Ki commented on #7187
Okay, I've cloned the repo, installed the dependencies and got a local handbook running.
Will look into adding some information.
Is an issue (for reference) needed in the handbook repo?

[2020-07-10 19:34] heikar opened #7293 "Function to make sketches on shared screen/tab"
**Describe the solution you'd like**
An user should have a function to share the screen/tab and authorize the other participants to use the content as a sketchboard/Whiteboard or to set a mark like an arrow to interact together.

[2020-07-11 05:40] ovari opened #7295 "lobby: language/locale"
1. Please set the default language as the language of the browser.
2. Please enable selecting the language at the lobby.
3. Once `Join meeting` is pressed, please join the meeting with the UI being in the locale selected in the lobby.

![Lobby](https://user-images.githubusercontent.com/17465872/87217429-4b09e980-c38c-11ea-8faf-7de2a035e071.png)

What do you think?

Thank you

[2020-07-11 05:55] ovari opened #7296 "lobby: contact image doesn't stay at the top for small screen size"
![image](https://user-images.githubusercontent.com/17465872/87217642-d4bab680-c38e-11ea-80ea-c81f28e46b62.png)

[2020-07-11 06:34] wolftune commented on #7280
I was tempted to leave this open because I would like to know if there's some CPU issue with the sample rates, but I'm going to close for now because the most obvious glitch turned out to be a mismatch with PulseAudio and JACK.

[2020-07-11 06:34] #7280 closed

[2020-07-11 11:22] meyerjo commented on #5632
In the current version the problem described exists again: each time a docker container is restarted the jitsi connection is reset.

[2020-07-11 12:41] ijoshivaibhav commented on #7076
did it solved?

[2020-07-11 14:02] saghul commented on #7076
We solved this a bit ago. Can you test the latest beta? It’s version 20.3.0

[2020-07-11 14:03] saghul commented on #5632
Can you share your JS console logs when the disconnect happens?

[2020-07-11 14:17] meyerjo commented on #5632
You can find the console log here: https://drive.google.com/file/d/1DZpW_8azaQh9pOGMAvq9xiYb5OtZUr5J/view?usp=sharing

[2020-07-11 19:03] matbender commented on #5897
It's set to the jitsi domain. Currently it works, I did not know to what ist was set initially. I can provide the jitsi ngnx.conf if needed/helpful.

[2020-07-11 19:03] #5897 closed

[2020-07-11 19:11] Ryuno-Ki commented on #7187
Okay, let's try without one.

[2020-07-12 01:28] paweldomas commented on #7288
You'd have to compare ICE candidates from both cases

[2020-07-12 06:32] ijoshivaibhav commented on #7084
Guys we are having same issues. Please help

[2020-07-12 06:32] ijoshivaibhav commented on #7084
Did you found any solution?

[2020-07-12 11:46] jhiswin commented on #7231
This is not something that can be fixed by jitsi-meet: https://bugs.webkit.org/show_bug.cgi?id=208667

[2020-07-12 15:25] AliKarpuzoglu commented on #5252
Hi everyone.
@saghul

We are pretty far with the screen sharing but we do require some assistance. Our current solution gets the Screen content, and we can bring it to Swift/React Native. We do, however, struggle to push the content into webrtc... Our current solution manages to share a single frame and then drop.
Is anyone able to help, here's some snippets

fetching video track where we want to

[2020-07-12 16:53] Nokia808 opened #7298 "No further "time counter" during meeting !"
Hi.
There was a nice feature in Jitsi: during meeting (while meeting is continue) there was a time counter at upper middle sector of meeting screen beside number of participants. This time counter show how much time spent from starting the meeting. This was good feature specially when I was using Jitsi for my Academic meetings with my college students ... Now I do not see this neither on browser n

[2020-07-12 19:48] Nokia808 commented on #7298
Sorry for that ! I was confused because I tested Jitsi after weeks from inactivity & I forgot that the conference time is only started after joining a second person to room & not immediately after creation of room when only the creator in the room ...

Issue resolved.

[2020-07-12 19:48] #7298 closed

[2020-07-12 20:22] jranma opened #7299 "startAudioOnly not working for mobile app"
### Description:

When setting startAudioOnly = true, the client that connects using the android application still sends a video stream. The setting is only respected for the desktop browser. As soon as the mobile client connects, the desktop switches to the "HD" version (should stay on "voice").

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server informati

[2020-07-12 21:05] l3d00m commented on #7200
Btw, this is a duplicate of #7084. Please use that issue for further comments.

[2020-07-12 21:05] #7200 closed

[2020-07-13 05:29] Prashantilluminz commented on #7084
Hi i did not find exact solution for this but in jitsi they have set some timeout time which is 60 seconds and we can minimise that time, if we use jitsi at our backend in my case i set it to 20 sec.
NOTE:It is not the exact solution but it will help you.

[2020-07-13 08:57] simolev commented on #7274
Can you please reopen this issue until it has been fixed?
Having seen an installation where the issue is absent does not automatically mean that it is solved.
I'm still experiencing the problem on my installation and on https://meet.jit.si.

[2020-07-13 10:02] augustinejenin commented on #7129
@jallamsetty1  Can you please reply to this issue?

[2020-07-13 10:28] dsc999 commented on #7285
Here are the logs I get in /var/log/prosody/prosody.log:
[code]
And it repeats the same log content each 10 seconds (whereas I am connected to the room or stuck in the connection page).
It keeps trying to contact ldap even if I authenticated successfully to it!

[2020-07-13 10:41] xolf commented on #5331
Thanks guys for your helped.

@Wikinaut solutions solved our problems.

[2020-07-13 12:12] telephon commented on #6940
The same data loss concerns the settings, in particular the group privacy sensitive settings for "Everybody joins muted" etc.

All in all, this is an important issue, I think, with regard to user trust in jitsi.

Any news on this?

[2020-07-13 12:57] jallamsetty1 commented on #7129
This has been fixed on meet.jit.si, we deployed a fix last week and it is also available in the latest nightly builds.

[2020-07-13 13:08] jallamsetty1 commented on #7129
@augustinejenin, can you please close this issue if both the issues that you reported are fixed for you ?

[2020-07-13 13:31] saghul commented on #6940
Hey there,

This is an interesting case. There are 2 sets of settings at play here:

- Personal settings: audio / video
- Room settings: password / everyone starts muted

The former should now be solved because we have the prejoin screen, so that one should show up when reconnecting.

The latter is trickier, because if you were the only participant the room is gone and it's re-created, and we don'

[2020-07-13 14:21] JoeyAndroidDev commented on #7288
So, now I have tested the conference with the media-webrtc addon in firefox and in Chrome with webrtc-internals.
I have found 3 candidates, one with the port 4712, which is blocked. But the other ports (443 and 10000) should work.

a=candidate:1 1 tcp 2130706431 172.17.6.2 4712 typ host tcptype passive generation 0
a=candidate:3 1 udp 2130706431 172.17.6.2 10000 typ host generation 0
a=candidate:2

[2020-07-13 15:41] slincem commented on #5785
I'm having the same issue. And I wanted to ask you... When you guys open the shared document, does it also opens for the other people in the room?. In my case everyone has to open it on their own, and I think when the moderator shares it, it should open for everyone by default; but I'm not sure if this is the expected behaviour

[2020-07-13 16:45] jallamsetty1 commented on #7267
Yes, that is the intended behavior of this new feature. We do not want to use resources (cpu/bandwidth) more than they are needed on the client machines. So the participants send resolution will now be determined based on how they are viewed by the other participants in the call. If a remote participant is viewing you in speaker view at a full 720p, only then your client will be sending 720p.

[2020-07-13 17:09] telephon commented on #6940
I see, that sounds good – will this be in the next stable release?

It is OK that the room doesn't hold onto settings after everyone has left. If it is only the case if I am alone in the room, then the problem is already a bit less pressing (I have to test this with the new version).

Wouldn't normally the browser hold to such settings across re-entry to a room? It does so for the login informatio

[2020-07-13 21:42] npmccallum opened #7302 "Google Calendar Add-On"
Where do I find the source code for the Google Calendar Add-On? I'd like to add a feature.

[2020-07-13 21:45] damencho commented on #7302
This is still not available. As mentioned in the Community Call today, I will try to squeeze it in this week. More information https://github.com/jitsi/jidesha/issues/45 the API was recently(like a month ago) made public which allowed us to open source it.

Please when you have questions or problems, use the community forum before opening new issues.

[2020-07-13 21:45] #7302 closed

[2020-07-14 01:18] bkiisee commented on #5295
hi @awlx  @lovasoa  i am deploy WBO on same server with etherpad and jitsi, with nginx conf

`      # Etherpad-lite
    location ^~ /etherpad/ {
        proxy_pass http://localhost:9001/;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_buffering off;
        proxy_set_header       Host $host;
    }

    #whiteboard Drawing
   location ^~ /draw/ {

		rewrite /draw/d/(.*) /board

[2020-07-14 05:49] augustinejenin commented on #7129
@jallamsetty1  we got this update from your nightly builds. when you will update this to your stable release?

Camera shifting is still not working. we tried to change it from the settings but it still shows preview not available. Do you know when this will be fixed?

Please reply  to my two questions then i can close the issues.

[2020-07-14 09:21] lovasoa commented on #5295
Hi @bkiisee ! The answer to this question is on our wiki: https://github.com/lovasoa/whitebophir/wiki/Setup-behind-Reverse-Proxies#nginx

[2020-07-14 11:31] TheReal1604 commented on #5295
@bkiisee I updated the wiki article with the needed reverse proxy rules. Check it out! https://github.com/lovasoa/whitebophir/wiki/WBO-Jitsi-integration

[2020-07-14 11:31] jagannath-swarnkar opened #7304 "Ghost user left in the room after kicking out participants - Android app (react-native)"
### Description:
In jitsi meet - native app, after kicking out a participant, participant disconnects but ghost instance still left in moderators screen.

### Steps to reproduce:

1. cloned the repo *jitsi-meet* and setup for React-native
2. installed packages and run the android app (react-native run-android)
3. connected two-three participants

### Expected behavior:
on kick out participant shou

[2020-07-14 11:34] TheReal1604 commented on #7293
Take a look at https://github.com/lovasoa/whitebophir/wiki/WBO-Jitsi-integration

[2020-07-14 11:40] saghul commented on #7293
Duplicate of https://github.com/jitsi/jitsi-meet/issues/5295

[2020-07-14 11:40] #7293 closed

[2020-07-14 12:42] augustinejenin commented on #7129
Camera shifting is still not working. we tried to change it from the settings but it still shows preview not available. Do you know when this will be fixed?

So i can close this issue

[2020-07-14 13:36] alexandredoein commented on #5045
Hi,
I think my issue is related to this case:

I saw that very recently (like this week), jitisi api now opens a screen before video with invitation link as showed on image attached.

I want the contrary: I am dealing with lots of people who are not used with technology (they are on their 50s or 60s). Also I am in Brazil and jitisi api is not in portuguese. So any click is very hard for people to

[2020-07-14 13:57] saghul commented on #5045
You can override the `prejoinPageEnabled` config option to disable that screen.

PS: The app is translated to Brazilian Portuguese. We used to have some bug matching the user's browser locale to select it automatically, but AFAIK that was resolved.

[2020-07-14 14:21] alexandredoein commented on #5045
@saghul thanks for the quick answer.
I tried to make a quick search on google but i couldn't find a coded example of how to set prejoinPageEnabled using jitsi api. Do you have some piece of code as example?

The way I see I was expecting to change something on "const options" parameters as below. I tried to insert prejoinPageEnabled
as another parameter (but unfortunatelly it did not work):
	const

[2020-07-14 14:36] damencho commented on #5045
https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-iframe is your documentation link.
You need to pass it in configOverwrite.

const options = {
....
configOverwrite: { prejoinPageEnabled: false }
...

[2020-07-14 14:40] alexandredoein commented on #5045
@damencho thanks for the quick and precise answer.
It worked perfectly.
Also thanks for the docs!

[2020-07-14 14:55] jallamsetty1 commented on #7129
Will you be able share the link to your website so that I can see what's happening ?

[2020-07-14 15:00] franckadil commented on #7240
Hi @saghul i tested on nightly but didn't get the error too. But is it safe to work with nightly builds on production?

[2020-07-14 19:04] JVillella commented on #5550
We have been working on a solution to the more general problem of networking within an online event/meetup. We experimented _heavily_ with breakout rooms of varying sizes with zoom - as well as some of the limited available options on top of Jitsi. We had this idea of spatial/proximity-based "rooms" that felt more natural to us. Here's a gif from an earlier prototype of it,

![meetfromhome-meet](h

[2020-07-14 20:13] yodaphone commented on #5550
looks very interesting.. will definitely try it out

[2020-07-14 20:17] yodaphone commented on #5550
Hi there... any more progress to your project?

[2020-07-14 20:47] milkperson commented on #2680
Thank you @Haravikk! I just upgraded prosody to 0.11.5 and was having this same issue. Adding that Include statement solved it!

[2020-07-14 21:03] JpTiger commented on #5550
I've always liked this concept. Have you talked to the folks at [gather.town](gather.town)? They're doing a similar thing but are still working out the kinks as well.

[2020-07-14 21:11] JVillella commented on #5550
Thanks @yodaphone and @JpTiger - I came across their project last month. I love where they are going with it. I think there's something that feels right w/ the concept, just needs more exploring. :)

[2020-07-14 23:04] colemickens opened #7308 "Allow cropping of the user's webcam"
**Is your feature request related to a problem you are facing?**
This Logitech BRIO has wide view of my office. Far wider than anyone need and it's almost hard for me to be able to do anything about it. It would be nice if I could crop/zoom the camera's view.

**Describe the solution you'd like**
It would be nice to right click on my own video and be able to choose "Crop View" and change the view

[2020-07-15 04:56] augustinejenin commented on #7129
@jallamsetty1  this is the website  we integrated iframe API  -- https://grupo.testme.es/videopage/

When we try to change the camera it shows preview not available in android and some iphones it gets unable to access camera.

Please look into the attachments:

![Skype_Picture](https://user-images.githubusercontent.com/26268454/87505067-96224600-c685-11ea-971e-ecf85024a29e.jpeg)
![fc1da2f4-e5b6-4b

[2020-07-15 08:04] omazin opened #7309 "Listen on join button click from pre-meeting room (lobby)"
**Is your feature request related to a problem you are facing?**
Yes, I want to do some stuff after a user joins from lobby

**Describe the solution you'd like**
`jitsiApi.on ‘joinFromLobby’, function() { … }`

**Describe alternatives you've considered**
Disable interim lobby screen

[2020-07-15 08:43] #7296 closed

[2020-07-15 09:02] arararar commented on #5252
We desperately NEED this screencast Feature as teachers, using ipads. PLEASE implement it till the reopening of schools in autumn. Youll get as many coffee as you can use ;)!!!

[2020-07-15 09:47] saghul commented on #5252
@AliKarpuzoglu Exciting! What thread are you calling those functions in?

[2020-07-15 09:56] saghul commented on #6129
Jitsi uses 720p by default and never goes beyond that, so the failure is expect in so far as the required resolution is not supported.

[2020-07-15 10:02] heikar opened #7313 "Video/Sound transmission and screen share only works in p2p mode"
### Description:

The transmission of video, sound and the screen sharing only works with two participants in p2p mode. If the third participant join the meeting then the complete transmission is deactivated.

### Steps to reproduce:

1. Open a new meeting
2. Join the second particpant (it works)
3. Join the third participant (it doesnt work)

### Server information:

- Jitsi Meet version: actual

[2020-07-15 10:06] saghul commented on #7313
What logs do you see in the browser JS console?

[2020-07-15 10:23] heikar commented on #7313
Hi @saghul
The JS console says "Failed to send E2E ping request or response.".
It looks like in the background, the e2ee is per default activated (the icon in the ui is green).

[2020-07-15 10:33] ClausAndersen commented on #6129
That is a quick dismissal which does not correspond with the facts.

The error given by Jit.si is:

    Failed to access your camera
    Cannot use camera for an unknown reason

So even if Jit.si by default expects 720p - this can in no reasonable way be interpreted as "expected".

The real problem is the enumeration of multiple cameras. If the first camera does not respond as expected it fails.

[2020-07-15 11:35] saghul commented on #6129
Sorry, I didn't intend to sound dismissive. I reply to many issues throughout the day and sometimes my responses end up being too terse and/or I may miss something when reading quickly.

I was trying to provide some quick feedback on why you were seeing that error.

Yeah, this is indeed a very reasonable expectation. (@jallamsetty1 does this bug ring any bell?)

I myself run 3-4 cameras at all tim

[2020-07-15 11:37] saghul commented on #7313
Please gist or pastebin the full console logs at the most verbose level, there might be more than meets the eye.

[2020-07-15 11:37] mfts opened #7315 "Setting for video-share.enabled feature flag is not respected on mobile"
### Description:

I wanted to disable the Youtube video sharing feature on Jitsi Meet mobile devices when building from source. I read that the mobile applications ignore the config.js and interface_config.js settings, however there are [feature flags](https://github.com/jitsi/jitsi-meet/blob/master/react/features/base/flags/constants.js) in the Jitsi Meet SDK which you can enable/disable by defau

[2020-07-15 11:39] saghul commented on #7315
That flag has not yet been released, it was just merged today. You can build the app off master and it will work though.

[2020-07-15 11:39] #7315 closed

[2020-07-15 11:44] ClausAndersen commented on #6129
No worries - happy that we are on the same page.

Feel free to close this if you do not consider it a bug and are tracking it on a feature list.

And I am available for further testing etc.  - alas do not expect any pull requests :-)

[2020-07-15 12:45] jeetkapadia opened #7319 "Support for mac Catalyst"
Hi,

Jitsi works great in our project but with Xcode 11 now we have an option to build the same app which will work on mac as well. I tried to build with mac option ticket under the general tab in my project but it gave me an error by saying

`/Users/jeetkapadia/Documents/TestMac.xcodeproj Building for Mac Catalyst, but the linked and embedded framework 'JitsiMeet.framework' was built for iOS + iO

[2020-07-15 13:14] Echolon commented on #7309
Hi, thanks for reporting. Would you be so kind and describe you feature request a bit more detailed?

[2020-07-15 13:16] assapoz951 opened #7321 "poz"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server information:

- Jitsi Meet version:
- Operating System:

### Client information:

- Browser / app version:
- Operating System:

### Additional information:

[2020-07-15 13:18] Echolon commented on #7319
Are you talking about the desktop client (electron)?

[2020-07-15 13:23] AnthonyGies opened #7322 "Audio output not working if local camera not allow Safari and Chrome"
### Description:
When a user connect to Jitsi on Chrome or Safari and disallow camera in the navigator popup, it cannot have sound output. On firefox that's work

### Steps to reproduce:

1. Open Jitsi Meet on safari or chrome
2. Disallow webcam authorization
3. No sound output from others users

### Expected behavior:

If you next allow camera and refresh jitsi, the output sound from others users

[2020-07-15 13:41] jeetkapadia commented on #7319
No. I am talking about mac apps

[2020-07-15 14:07] saghul commented on #7319
We have no plans to support Catalyst at this stage. First, React Native would need to properly support it: https://github.com/react-native-community/discussions-and-proposals/issues/131 then WebRTC, and then our mobile specific modules. I don't see this happening anytime soon.

[2020-07-15 14:07] #7319 closed

[2020-07-15 14:13] #7321 closed

[2020-07-15 14:15] RalfJung opened #7324 "Frequently unintentionally muted"
### Description:

Fairly often when having Jitsi Meet in a background tab, I realize after some time that I am accidentally muted. I never intended to mute myself and I am certain nobody else in the meeting muted me.

Is it possible that Jitsi has some kind of "auto mute" feature? Or maybe it is some overzealous keyboard shortcut that is active even when the tab is not in front?

### Steps to repr

[2020-07-15 14:44] omazin commented on #7309
Ok, found a solution by listening on "videoConferenceJoined" event.

[2020-07-15 14:44] #7309 closed

[2020-07-15 15:14] damencho commented on #7302
https://github.com/jitsi/jidesha/issues/45#issuecomment-658827889

[2020-07-15 15:26] rohitjagtap12 commented on #7139
This issue is noticed when you open the app and place a call for the first time.
If you try to place a call again, it won't take much time to start the call.For the next  The issue seems to be with the SoLoader class. As per the documentation in this class file. This class

[2020-07-15 15:44] rohitjagtap12 opened #7326 "Camera orientation and audio routing"
**Is your feature request related to a problem you are facing?**
I have a Banana Pi W2 board, on which I have my own custom app for audio/video calling which uses the jitsi Android SDK. However I am facing 2 issues.
1. A USB camera is connected to the board and is working fine for the call. But camera feeds rendered on the surface view is not as expected (rotated as -90 degrees). Tried all possibl

[2020-07-15 16:25] 532910 commented on #7139
Nope, it starts slow every time.

[2020-07-15 16:28] 532910 commented on #7139
Moreover, several versions ago it stared quickly.

[2020-07-15 18:35] franckadil commented on #7240
@saghul Quick update I installed a nightly build for a client and had the same glitch. I am starting to think it's related to Chrome or Webkit...

![image](https://user-images.githubusercontent.com/42721509/87582424-a7497200-c6da-11ea-9238-1676105f5694.png)

[2020-07-15 19:47] heikar commented on #7313
Hi @saghul
i hope it helps. JS console log with "verbose" level:
https://gist.github.com/heikar/44423b662d64f60675fc647cd0385d4d

[2020-07-15 22:24] rananajam1 opened #7328 "Integrating with existing react-native app"
**Is your feature request related to a problem you are facing?**
I want to add it to an existing app developed on React-Native

**Describe the solution you'd like**
I want to add custom styling to the video options, add more options, change chat interface UI

**Describe alternatives you've considered**
react-native-jitsi-meet

[2020-07-15 22:28] rananajam1 opened #7329 "Adding splash to the code cloned from repo"
**Is your feature request related to a problem you are facing?**
How can I add splash screen for react native to this app, how can I change the starting point of the react native app

**Describe the solution you'd like**
Add more screens to this repository

**Describe alternatives you've considered**
React-native-jitsi-meet

[2020-07-16 00:11] maxguru opened #7331 "Connecting to VPN while in a meeting causes user to switch to a phantom meeting alone"
### Description:

When one of the meeting participants connects to a VPN, they are timed out and disconnected from the point of view of other meeting participants. Meanwhile, to the user it appears that everyone else is gone and they are the only ones left in the meeting.

### Steps to reproduce:

1. User A enters meeting A
2. User B enters meeting A
3. User B connects to a VPN
4. Problems...

###

[2020-07-16 00:12] maxguru commented on #7331
This issue appears to be caused by the same problem as #7191.

[2020-07-16 01:22] alantulais commented on #6977
@ccs1428 Could you solve this problem?

We are experimenting the exact same issue. We pulled the repository on a stable branch on January and everything was working ok. Then we pulled last changes from master branch 2 weeks ago and do a npm install. Everything was working fine.

Then we removed "node_modules" directory and pod install again, but now web & android apps works fine, while ios users c

[2020-07-16 02:25] thiennguyen2428 opened #7332 "Chrome autoplay policy - Uncaught (in promise) DOMException"
### Description:

Chrome will throw an error when users use no camera PC to join a meeting:

`Uncaught (in promise) DOMException: play() failed because the user didn't interact with the document first. https://goo.gl/xX8pDD ` . Please check file AbtractAudio.js at line 84.

The large video in conference works normally.

But, all the preview videos in the filmstrip and videos in the tile mode view

[2020-07-16 03:16] linuxpi commented on #5252
Hi @saghul

We are executing the following functions on a user initiated dispatch queue:
[code]

and we are writing the frames in a background dispatch queue
[code]

Neither of hem are being executed on the main thread. Let me know if you need any other information or if i missed something here.

[2020-07-16 03:26] ccs1428 commented on #6977
No solution yet.
Better we will use JITSI SDK and customise as per requirement and it's working fine.

https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-ios-sdk

[2020-07-16 04:45] jarbus commented on #5567
I'm trying to set up jitsi but am still getting this issue. Has this been fixed in the current version on apt? All fixes mentioned in this thread have failed to work thus far.

[2020-07-16 07:05] saghul commented on #7139
Can you test the latest beta?

[2020-07-16 08:42] santhosh1190 commented on #7139
Hi Guys,
I am also facing the same problem. Any solution?

[2020-07-16 09:18] agichim opened #7334 "Option to toggle on/off "join meeting" button"
I loved the possibility of joining a meeting straight on, without having to click the "Join Meeting" button. Maybe introducing an option where that button can be toggled off, so the other people joining they can simply join as before the "Join Meeting" button was introduced.

[2020-07-16 10:06] ovari opened #7335 "lobby: Set locale from the browser"
Can the language/locale of the lobby and when entering a room please be set from the browser locale setting?

In the image below, the Linux Mint 20 operating system and Firefox browser are set to `hu` (Hungarian - magyar) locale.
![kép](https://user-images.githubusercontent.com/17465872/87658120-138da980-c79f-11ea-8762-2f31c2ffde6d.png)

Can `Settings` > `More` > `Language` please be set from the

[2020-07-16 10:08] ovari commented on #7335
https://github.com/jitsi/jitsi-meet/issues/7295

[2020-07-16 10:08] #7335 closed

[2020-07-16 10:11] pesicivan commented on #7265
This crash also happens on 2.9.0 on finishing the video call. The app crashes for the last participant of the conference with the same stacktrace.

[2020-07-16 11:12] yogesh714 opened #7336 "Askmeoffers"
We help online shoppers to get coupons, deals and offers for all online shopping websites in India and All over the world at one place.
You can call us Coupon & Deals aggregators. We have become a one stop free shop to get all latest, working and genuine coupon codes, promo deals and discount offers
Get Offers here - https://askmeoffers.com/

[2020-07-16 11:40] mhuber84 opened #7337 "Redirect rejected user back to lobby or server start screen"
In a meeting with a lobby, a rejected user should be redirected somewhere. Perhaps back to the server start screen.

Currently the lobby screen is closed and only a small error box is shown to the rejected user. Everything else looks like the user has joined the session successfully.

This should be the related code: https://github.com/jitsi/jitsi-meet/blob/master/react/features/lobby/middleware.j

[2020-07-16 11:51] #7336 closed

[2020-07-16 12:37] saghul commented on #7334
That possibility landed yesterday so it will be available soon. It's a per-participant option, so they can choose if they want to never see the screen again or not.

[2020-07-16 12:37] #7334 closed

[2020-07-16 12:38] saghul commented on #7265
Can you reproduce it with the beta app, or the SDK samples?

[2020-07-16 12:40] saghul commented on #7295
This should already be the case, right @damencho ? I thought we had fixed that.

I don't think we have considered having a way to select the language by hand on the prejoin screen. Something to think about indeed.

[2020-07-16 12:43] damencho commented on #7295
So `LANG_DETECTION: false` at the moment on meet.jit.si. The current deploy we are doing will have that turned on.

[2020-07-16 12:46] 532910 commented on #7139
20.3.0 build 4807649 also starts very slowly.

Moreover, it failed to update, the only way was to uninstall it and install again.

[2020-07-16 13:20] saghul commented on #7139
I think this might have come with the switch to Hermes, but that happened a few versions ago. I'll take a look.

We do nothing about updates, that is really up to Android.

[2020-07-16 13:24] saghul commented on #7295
Nice, thanks for confirming!

[2020-07-16 14:54] jallamsetty1 commented on #6129
@saghul, yes this bug was reported in the camera meta issues as well, I couldn't repro it then as I didn't have a non-working camera. I will give it a try by installing a virtual cam or something similar.

[2020-07-16 17:44] 532910 commented on #7139
It was due to a change of source: (F-Droid -> GPlay)

[2020-07-17 05:12] jbis9051 commented on #5836
Just implemented the blur feature in a much more optimized way for a separate project. Gonna open source that part and push to Jitsi.

[2020-07-17 05:19] augustinejenin commented on #7129
@jallamsetty1 could you check this?

[2020-07-17 05:55] thiyagatrev commented on #7139
i'm also facing the same issue.. is there any solution for this issue.

[2020-07-17 06:06] saghul commented on #5836
Thanks @jbis9051 !

[2020-07-17 07:10] MakerStuff opened #7341 "Outdated Quickstart (certification)"
### Description:

i guess this error is caused by an incompatible update of virtualenv.
[code]

### Steps to reproduce:

```pip show virtualenv```
returns
[code]

```python --version```
returns
[code]
I have got a couple versions of python installed (2.7, 3.6, 3.8)

I was following along the [quick-start guide](https://github.com/jitsi/handbook/blob/master/docs/devops-guide/quickstart.md#generate-

[2020-07-17 07:34] saghul commented on #7139
We introduced Hermes on 20.0.0, can you try 19.5 and see how it goes?

Moving forward, here is what we can try:

- Check how things are after updating RN, since hermes has seen significant updates
- Consider going back to JSC if things are not good

We moved to Hermes for a couple of reasons:

- Fixing an annoying bug in production builds (not really a JSC issue as we later discovered)
- Using wha

[2020-07-17 07:54] bkiisee commented on #5295
hi @lovasoa , @TheReal1604 Thank for your fast respond. now my jitsi  can run whiteboard on etherpad with smoot.  👍  ..
This is my nginx conf, maybe someone need this config too..

`    ```
# Etherpad-lite
    location ^~ /etherpad/ {
        proxy_pass http://localhost:9001/;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_buffering off;
        proxy_set_header       Host $h

[2020-07-17 08:01] saghul commented on #5295
This is excellent, thanks for sharing! Exactly how I envisioned it in https://github.com/jitsi/jitsi-meet/issues/5295#issuecomment-633849148 :-)

[2020-07-17 08:58] AliKarpuzoglu commented on #7304
happened to me on iOS too.  Could this be due to the Lobby Feature? This bug was introduced in the last few months -  I had an up to date version on May 30th that did not have this issue

[2020-07-17 09:17] jmkrishna commented on #5785
I am also using Etherpad/WBO in Jitsi-meet. Continuously losing Focus while editing the pad/board.
Please help me if you have any solution.

[2020-07-17 11:40] ijoshivaibhav commented on #6121
I have implemented latest sdk and on some devices like Xiomi,Vivo, with Android 6,8,10 app crashes.
Caused by java.lang.RuntimeException: Failed to create EGL context: 0x3003
       at org.webrtc.EglBase14Impl.createEglContext(EglBase14Impl.java:278)
       at org.webrtc.EglBase14Impl.<init>(EglBase14Impl.java:76)
       at org.webrtc.EglBase$-CC.createEgl14(EglBase.java:160)
       at org.webrtc.

[2020-07-17 14:25] saghul commented on #7332
@jallamsetty1 We might need to add Chrome to the list of browsers that need an interaction. Can you PTAL?

[2020-07-17 14:26] saghul commented on #7304
Confirmed. A new app and SDK release if coming out. Thanks for the report folks!

[2020-07-17 14:49] saghul commented on #7304
SDK 2.9.2 is out for both platforms with a fix for this. Cheers!

[2020-07-17 14:49] #7304 closed

[2020-07-17 14:54] saghul commented on #6121
We've seen this too. There seems to be some limit on the number of EGL contexts you can create until you run out. Unfortunately figuring the number out is virtually impossible. If anyone has an idea on how to tackle this it would be much appreciated.

[2020-07-17 15:44] codeofcarson opened #7344 "Speaker order tracking through the hand-raised feature"
**Is your feature request related to a problem you are facing?**
Yes, I am unable to reliably determine the order of hands raised.

**Describe the solution you'd like**
I would like to know the order in which hands were raised so that I, as chair/moderator, can properly keep track of speaker order to ensure meetings run smoothly. A small icon beside the hand-raised icon on participant tiles with a

[2020-07-18 00:26] sixfeetaway commented on #6557
I’m experiencing this on public Jitsi meet using the external api to the point that it’s unusable. Has anyone else had this issue?

[2020-07-18 01:41] 532910 commented on #7139
Could you point me to apk?

[2020-07-18 03:23] dandv opened #7348 "Warning sign for insecure meeting name has no tooltip on self-hosted instance"
### Description:

The warning icon for insecure meeting names has no tooltip. On an intranet server, where there was no concern for bombings, I entered a short meeting name and started the meeting. I didn't realize why I was seeing the warning icon in the upper right corner.

### Steps to reproduce:

1. Navigate to your self-hosted Jitsi Meet instance
2. Enter a short meeting name
3. Start the mee

[2020-07-18 04:17] ngen-brett commented on #7344
This would be a great addition.

[2020-07-18 06:32] saghul commented on #7139
https://www.apkmirror.com/apk/8x8-inc/jitsi-meet/jitsi-meet-19-5-1-release/

(I can’t vouch for the website, but I have no other easy way to give you an apk)

[2020-07-18 12:25] damencho commented on #7348
That is fixed in latest builds. Soon stable will be updated with those.

[2020-07-18 12:25] #7348 closed

[2020-07-18 12:25] damencho commented on #7348
Please use the community forum before opening new issues.

[2020-07-18 14:57] JohnProv commented on #6736
I think this has been solved: translations are enabled when visiting https://meet.jit.si/.
Can the status of this ticket now change from _open_ to _closed_?

[2020-07-18 17:11] AliKarpuzoglu commented on #5252
@saghul  Screenshare is working. Now our only issue is keeping the app alive in the background. Any ideas?

[2020-07-18 21:03] #6736 closed

[2020-07-18 21:48] 532910 commented on #7139
Looks like this issue is not Hermes related, as even 19.1.0 from apkmirror starts slowly.

Possibly I confused it with ios version, that starts fine enough.

[2020-07-18 22:54] kno10 commented on #5550
I'd love to see meetfromhome.io/gather.town like capabilities. There also appears to be a similar open-source project: https://github.com/capnmidnight/Calla

For me, it **must** be self-hosted open-source. It won't pass the privacy requirements otherwise.

[2020-07-19 03:16] JVillella commented on #5550
@kno10 That's certainly an option. What use cases do you have in mind for it?

[2020-07-19 11:51] kno10 commented on #5550
Virtual hangout for students to socialize. They'd certainly prefer to run it on their own servers.

[2020-07-19 15:36] JIBSIL commented on #5295
Forked ep_draw, changed /d/ to /boards/.

https://github.com/JIBSIL/ep_draw
npm install ep_whiteboard

[2020-07-19 16:30] manojverma-net commented on #6552
Hi @saghul, Could you please progress update like where can we updated sdk? Thanks !!

[2020-07-19 23:53] memcopy opened #7349 "Neither video nor audio on IPv6-only system"
### Description:

I disabled IPv4 on my PC and only kept the IPv6 addresses. After that I visited meet.jit.si.
While the website itself works fine, there is neither video nor audio in the conferences.
On my own hosted jitsi instance I have the same issues.

I assume IPv6 support is broken, or the default configuration is wrong.

### Steps to reproduce:

1. Remove all ipv4 addresses: ip addr del xx

[2020-07-20 00:23] memcopy opened #7350 "Blur plugin tries to establish connections to https://storage.googleapis.com"
### Description:

On my server I host a jitsi-meet instance according to DSGVO (GDPR) and therefore disabled all connections to external services like Gravatar and Google. The jitsi-meet config contains the following entry:
`disableThirdPartyRequests: true`

My Content Security Policy directive contains "connect-src 'self'" to not accidentally establish connections to
foreign sites which may log u

[2020-07-20 01:04] sagz opened #7351 "Firefox upload not showing up in HD"
### Description:
When joining meeting from Jitsi in Firefox it shows up in SD on all recipients, while Chrome works in upto HD

### Steps to reproduce:

1. Open a Jitsi Meet url on Firefox
2. Check resolution on other clients (Android, iOS, Chrome)

### Expected behavior:

HD 720p from Firefox just as it is from Chrome

### Actual behavior:

Firefox client shows up as SD even with a gigabit upload

[2020-07-20 01:58] baijianghai commented on #6917
Android 2.8.2
how to access and Hide 3 dots on the right side of the video button
i use below code to hide chat and invite but no any method for hiding 3 dots
builder.setFeatureFlag(“chat.enabled”, withBoolean: false)
builder.setFeatureFlag(“invite.enabled”, withBoolean: false)

but no option to remove 3 Dots to

is it any way to remove it

[2020-07-20 02:41] samlll42-github commented on #5252
The app should work in the background with the right Audio/VOIP setting.
https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-ios-sdk
"In order for app to properly work in the background, select the "audio" and "voip" background modes"

Have you tried that?

We are also working on this - would you mind sharing what you have so we can join forces?

[2020-07-20 02:54] jbg commented on #5252
@AliKarpuzoglu @linuxpi what is your `[SocketShim getNextFrame]` method doing?

[2020-07-20 05:09] heylix commented on #5496
@no-identd https://github.com/jitsi/jitsi-videobridge/issues/1173

[2020-07-20 05:21] saghul commented on #6917
Same answer as before, sorry. We have no flag for this.

[2020-07-20 05:22] saghul commented on #7350
Thanks for the report!

[2020-07-20 05:29] saghul commented on #7139
Thanks dr investigating.

[2020-07-20 06:57] charuchinmay commented on #1437
Hi all,

Apart from the jitsi electron based desktop app, is there any other way to enable remote desktop control through jitsi ? We have installed standalone jitsi-meet as well as containerised jitsi-meet application in our servers and we have embedded jitsi into our custom application through external jitsi APIs. So, I wanted to ask if it’s possible to enable remote desktop control feature throu

[2020-07-20 10:26] sanyakop98 opened #7353 "When connecting the third client, the audio / video disappears"
HI
When connecting the third client, the audio / video disappears
Alt linux server 9 is installed
Nginx, prosody, and jitsi are downloaded from the official repository
All ports are available
Set up according to the article https://www.altlinux.org/Jitsi_Meet

/var/log/jitsi/jvb.log
jvb.log            [----] 78 L:[  1+ 0   1/2015] *(78  /242046b) 0032 0x020

[2020-07-20 11:51] santhosh1190 commented on #7139
@532910 & @saghul

Did you guys find a way to fix this issue?

I have been scratching my head past three days on this issue. Not able to fix it. If you guys have any temporary solution also, I can try. Because of this one issue, I stuck in one place.
Please help me guys.

[2020-07-20 11:54] damencho commented on #1437
There is nothing to enable through external API, if you add the electron-utils to your electron app as in the example when running the client in electron, will see and advertise the new feature ...

[2020-07-20 12:07] aspiers commented on #5550
I wrote most of that wiki page, and I've lost my edit access too :-(  This is a pretty unfriendly thing to do to contributors without any warning/explanation.  I hope it can be reversed.

[2020-07-20 12:16] aspiers commented on #5550
I've posted about the wiki issue here: https://community.jitsi.org/t/edit-access-for-jitsi-jitsi-meet-wiki-was-removed/71402

[2020-07-20 12:20] soorajjaivas commented on #7265
sometimes ths issue happening, saying that app is crashing due to the following issue
Fatal Exception: android.app.RemoteServiceException
Context.startForegroundService() did not then call Service.startForeground(): ServiceRecord{7e76698 u0 /org.jitsi.meet.sdk.JitsiMeetOngoingConferenceService}
android.app.ActivityThread$H.handleMessage (ActivityThread.java:1983)

[2020-07-20 12:23] soorajjaivas commented on #7277
oh ok, but sometimes duplicate issue happening while joing to a call.Sometimes Reonnecting now window shows and suddenly it closes when user joins call for first time. Could you please help on this

[2020-07-20 12:50] MrSparklle opened #7354 "IFrame API Most configOverwrite and interfaceConfigOverwrite don't work"
### Description:

Most params passed to configOverwrite and interfaceConfigOverwrite don't work.

Ex:
`defaultLanguage: 'pt'` = Don't works. No matter what value you pass, interface always showed in English.

Some of `interfaceConfigOverwrite` also don't work, check example below.

### Steps to reproduce:

1. Create a index.html locally with this code:
[code]
2. start server with this index.hmtl
3

[2020-07-20 13:02] Echolon commented on #7322
@AnthonyGies thanks for reporting. Please specify the Jitsi Meet version

[2020-07-20 13:05] Echolon commented on #7326
Do I understand correctly that you talk about the mobil android version?

[2020-07-20 13:07] Echolon commented on #7328
Hello @rananajam1,

I have to close this as this is a support reqiest and you need to reach out to the Jitsi Community Forum please!

Anyway thank you and kind regards!

[2020-07-20 13:07] #7328 closed

[2020-07-20 13:08] Echolon commented on #7329
Same here, please see the other closed issue!

[2020-07-20 13:08] #7329 closed

[2020-07-20 13:15] LohithBlaze opened #7355 "Multiple moderators when using password based authentication"
### Description:

When using password based authentication, if guest users are waiting for host and when the host enters the password, all the users who were waiting for host become moderators.
 ,,., ,

### Steps to reproduce:

1. I have enabled,  internal_hashed in the main virtual host.
2. Added org.jitsi.jicofo.auth.URL=XMPP:jitsi-meet.example.com to jicofo and restarted the jicofo and prosody

[2020-07-20 13:46] saghul commented on #7354
The interface_config options you kind not working are intentional. If you want those changes you need your own deployment, you cannot do that against meet.jit.si

[2020-07-20 13:55] MrSparklle commented on #7354
@saghul Ok, but this needs to be more clear in your documentation. There is no mention to any exception those these parameters.

I clone the repository locally, and I changed some parameters directly in config.js and interface_config.js. Run `make dev`, change the script source to `<script src='https://localhost:8080/external_api.js'></script>` but it doesn't seem to have had any effect either.

s

[2020-07-20 14:19] jallamsetty1 commented on #7129
I tested it on an iPhone 8 plus and didn't see any issues. I was able to get the preview and switch cameras as well. I did see the unable to access camera error but that seem to affect the above behavior, will try to take a look why we are getting the error.
I am trying to resurrect an old android phone to test this. Are you saying that the preview and switching don't happen on android phones at a

[2020-07-20 16:02] Echolon commented on #7331
@maxguru Thanks for reporting! May you please provide the version number you use?

[2020-07-20 16:03] Echolon commented on #7331
@saghul I dont know really how to tag this correctly

[2020-07-20 16:12] maxguru commented on #7331
I am using the AppIamge which auto-updates (https://appimage.github.io/jitsi-meet/). However, it seems like it happens for all users, even the browser users. It is whatever version was live at the time we encountered the issue, which was recently.

[2020-07-20 16:21] harish-aka-shivi opened #7356 "getCurrentDevices() returning the wrong selected devices"
### Description:
I am using [epocCam](https://www.kinoni.com/) to simulate multiple multiple devices. When using jitsi-meet getCurrentDevices() it returns epocCam microphone for both `audioinput` and `audiooutput` even though the selected devices are different.
This discrepancy only happens if one of the selected devices is epocCam, otherwise it is returning right results.
Some of our users are fa

[2020-07-20 16:46] rananajam1 commented on #7329
@Echolon no response on Jitsi Community Forum brought me here

[2020-07-20 16:46] sirinath opened #7357 "Finer Control"
**Is your feature request related to a problem you are facing?**
Finer control over enabling audio and video

**Describe the solution you'd like**
I like to:
- Admin
  - Set default to no/off video and audio for group meetings for different participants when they connect
  - Selectively on/off the audio and/or video of participants during a session
  - Have groups of participants where the setting

[2020-07-20 17:43] mebassett opened #7359 "unexpected meeting name collision when there's a "/" in url."
### Description:

When I type in a meeting url, e.g.,
"https://meet.jit.si/is-this-a-bug/20/07/2020" (or something else with
slashes) I expect the full string after the first slash to be the name
of the meeting, e.g. "is-this-a-bug/20/07/2020".

### Steps to reproduce:

1.  Using firefox on the deskptop, start a meeting at "https://meet.jit.si/is-this-a-bug/20/07/2020"
2.  Have a friend (also usin

[2020-07-20 19:33] Echolon commented on #7329
@rananajam1 okay I understand. However the rule is to post issues and bug reports only here. 😞

But I am only a supporter and not part of the official Jitsi Meet Team.

@saghul @damencho shall I reopen?

[2020-07-20 19:50] rananajam1 commented on #7329
@Echolon that's why i posted it under feature request

[2020-07-20 22:10] sqraw opened #7360 "i cant access my camera on laptop"

[2020-07-20 23:27] aaronkvanmeerten commented on #7359
This issue is related to the way we handle 'tenant' URLs, where we do nginx redirects interally.  We are currently inadvertently redirecting multiple times until we find the format "/ROOM" or "/TENANT/ROOM", and then serving the index.html page.  This means all rooms above are actually just 07/2020 no matter what else you prepend.

The immediate solution is to stop handling the longer URLs at all,

[2020-07-21 03:49] sebastiantoro commented on #6767
@blainegarrett, what you did was to serve the iframe from your server app but you used `meet.jit.si` as the domain for `JitsiMeetExternalAPI(domain, options)`?

[2020-07-21 04:25] augustinejenin commented on #7129
@jallamsetty1  we tested in these both android phones showing the same issues. When switching the camera preview not available.
Lenovo 6010 , android 5.0.2
Samsung  SM-G610F,  android 8.1.0

I will explain scenario as detail:

Front cam will be working as default when  we access the url  and we go to settings and change camera it will show preview not availble. when click on ok it will show messag

[2020-07-21 04:53] jbis9051 commented on #5836
So, I've been doing some more testing and was able to get it to near zoom like speed when doing background replacement, however the blur effect really slows it down. Its still much more performant than the current Jitsi implementation but very slow. I don't really want to take the time to build a Jitsi image upload for replacement interface so I am just going to fix the current script to implement

[2020-07-21 05:19] #7360 closed

[2020-07-21 06:34] soorajjaivas commented on #7265
Hi JItsi team,

This is a serious crash issue happening in jitsi sdk to many app users.Crash log getting in firebase services for past 1 month.So please have a look and help me to sort out this issue please.Crash log is provided below

Fatal Exception: java.lang.RuntimeException
java.lang.reflect.InvocationTargetException
org.jitsi.meet.sdk.ListenerUtils.runListenerMethodOnUiThread (ListenerUtils.

[2020-07-21 06:46] lilong7676 opened #7361 "Invariant Violation: Module AppRegistry is not a registered callable module (calling runApplication)"
### Description:

I used xcode 11.6 (11E708) to compile the framework from source code, and the operation was successful according to this tutorial. But after integrating into my project, an error was reported:

### Steps to reproduce:

1. pull from last master branch
2. build framework (xcodebuild -workspace ios/jitsi-meet.xcworkspace -scheme JitsiMeet -destination='generic/platform=iOS' -configu

[2020-07-21 07:16] vineetStartele commented on #6341
steps to install jitsi
sudo apt update
sudo apt install apt-transport-https
sudo apt-add-repository universe
sudo apt update
sudo apt install curl
sudo curl https://download.jitsi.org/jitsi-key.gpg.key | sudo sh -c 'gpg --dearmor > /usr/share/keyrings/jitsi-keyring.gpg
sudo echo 'deb [signed-by=/usr/share/keyrings/jitsi-keyring.gpg] https://download.jitsi.org stable/' | sudo tee /etc/apt/sources.l

[2020-07-21 07:57] AliKarpuzoglu commented on #7361
I experienced the same issue when merging the master branch into my fork

[2020-07-21 08:16] saghul commented on #7361
Does the same problem occur when using Xcode 11.5 ?

[2020-07-21 08:21] saghul commented on #7265
We've seen this one happen in a small amount of devices. If you look through the code you'll see that we do call startForeground always, so I'm not sure what's going on there.

[2020-07-21 08:22] saghul commented on #7265
I need a way to reproduce this in order to help you.

[2020-07-21 08:22] lilong7676 commented on #7361
I will try later🤔

[2020-07-21 08:24] pesicivan commented on #7265
@soorajjaivas I believe that, compared to previous versions, you should not count on JitsiView being alive when JistiMeetActivity.onDestroy is called. I did some rearranging of the code and my app is no longer crashing on finishing calls.

I could not reproduce it with beta app and SDK samples. After updating from 2.8.2 to 2.9.0 I had to change the code in my class that inherits JitsiMeetActivity,

[2020-07-21 08:26] AliKarpuzoglu commented on #7361
I use Xcode 11.5 and I had that issue

[2020-07-21 08:55] anand-hsc commented on #5252
@AliKarpuzoglu : can u tell us what is meaning of getting screen content to Swift/React native. May be share high-level design approach u followed that will be helpful for us

[2020-07-21 09:05] heikar commented on #7016
Hi,

i have seen, that there is a new stable release.
But if i try to make a new clean install then the error `gpg: no valid OpenPGP data found.` appears again like in my last post.

Please can you check it?

[2020-07-21 09:13] HuskarHuang commented on #7361
android has the same problem

[2020-07-21 09:32] saghul commented on #7361
Ah wait, this is for master! Yes, this is known, it will be fixed shortly. In the interim you can use the "mobile-20.3" branch, which is the one which matches the latest release.

Sorry for the trouble.

[2020-07-21 11:14] l3d00m commented on #7016
This does not happen for me, are you sure you followed all of [these steps](https://jitsi.github.io/handbook/docs/devops-guide/devops-guide-quickstart) and especially did an `sudo apt update` before?

[2020-07-21 11:42] 11081595s commented on #7139
Hi Team,
I appreciate your effort for made this kind of app. It's really amazing & working fine all the process till now. But having one problem that the app starts slowly. Approximately takes 8-10 secs to display the welcome page. It gives feel like waiting for long time to use the app.

May I know due to what it's taking this much time to load or is there any solution to fix it?

[2020-07-21 11:55] heikar commented on #7016
@l3d00m Thank you. I was too fast. It works perfect :)

[2020-07-21 12:02] saghul commented on #7139
If we knew the answers to those questions it would've already been fixed :-)

[2020-07-21 12:21] 11081595s commented on #7139
Thanks & Hope you would post here If you find the solution.

[2020-07-21 14:22] jcalfee opened #7368 "Clarification: "Jitsi Meet is a fully encrypted, ""
### Description:

Can you please clarify:

On "https://jitsi.org/jitsi-meet/" I see "**Jitsi Meet is a fully encrypted,**"

I am not sure which is true, but I would suggest that full disclosure is better.  For example, one of the following:

1) "Self-hosted Jitsi Meets are end-to-end encrypted, "
OR:
2) "All Jitsi Meets, self-hosted or web-hosted, are end-to-end encrypted, "

It is not clear to me

[2020-07-21 14:29] #5659 closed

[2020-07-21 14:30] saghul commented on #7368
This is a duplicate of: https://github.com/jitsi/jitsi-meet/issues/7270

All meetings are encrypted hop-by-hop. On supported devices, E2EE can be enabled too. This applies to any deployment.

[2020-07-21 14:30] #7368 closed

[2020-07-21 14:37] jallamsetty1 commented on #7351
This is a bug in FF 80 where RTX has been enabled by default. Bandwidth probing using RTX has issues and this has been reported to the Mozilla guys. Do you see the same issue with FF 78 ?

[2020-07-21 14:59] uppuluriaditya opened #7369 "Screenshare issue with Firefox when Video is not enabled"
I have been observing a screenshare issue with firefox on the https://meet.jit.si.
Here are the steps to reproduce:

- Create/Join a meeting with firefox and in the landing page disable video
- Start screen share from firefox and other users (chrome browser based users) will be able to see the screenshare without any issues
- Stop screenshare from firefox

**_Expected:_**
Other users will be able

[2020-07-21 15:31] Echolon commented on #7353
@sanyakop98 may you please remove the terminal out put and use a tool like Pastebin and only post the link to it?

[2020-07-21 18:29] heikar commented on #7313
Hi @saghul
i have installed the current stable Version and it works perfect.
Because of this i close the issue.

[2020-07-21 18:29] #7313 closed

[2020-07-22 01:24] 532910 opened #7371 "mobile: VoIP hot action buttons"
Buttons:
1. switch front-back camera
2. sound device selection
are first-class actions and must be accessible in one tap.

[2020-07-22 01:26] 532910 commented on #7371
Native android dialer:
![image](https://user-images.githubusercontent.com/14617699/88123391-7a61f700-cbd3-11ea-9866-9e6b10fa02b5.png)

[2020-07-22 02:27] lilong7676 commented on #7361
mobile-20.3 branch is working normally, thanks!

[2020-07-22 02:27] #7361 closed

[2020-07-22 03:48] augustinejenin commented on #7129
@jallamsetty1  can you tell me when this will be working in all device. it should be working in all iphones because most of the clients are using iphones,

[2020-07-22 05:53] saghul commented on #7361
master is now fixed too.

[2020-07-22 05:56] saghul commented on #7371
Those are heavily dependent on your use case.

The dialer app is not particularly a good example because it doesn’t have video so it has a lot more scree real state to put controls on.

This topic is highly subjective and we keep making improvements to our UI as we move forward. There is a redesign which has been delayed a bit, but expect changes in this area.

[2020-07-22 05:56] #7371 closed

[2020-07-22 08:23] rohitjagtap12 commented on #7326
Yes. I have created an Android App and I am using the Jitsi's Android SDK.

[2020-07-22 09:10] Lominean opened #7373 "Mobile app forgets server address"
### Description:

Jitsi Meet on iOS doesn't save custom server address, but changes back to meet.jit.si on each relaunch.

### Steps to reproduce:

1. Open Jitsi Meet app on iOS.
2. Open Settings view.
3. Enter a server address, other than `meet.jit.si`.
4. Leave settings.
5. Leave app and then force quit.
6. Reopen app, check what it says in server field and try to join the room.

### Expected be

[2020-07-22 10:35] gcoretech commented on #7373
Rooms that used to work with the previous Jitsi Meet version don't work anymore because all rooms are openend on meet.jitsi.si. Entering the self-hosted Jitsi server's address in preferences did not work until deleting and re-installing the app.
While the app is running it is possible to use those rooms on the self-hosted server again but just until the app is closed.
Then the server defaults back

[2020-07-22 10:36] saghul commented on #7373
I could reproduce the issue and have a pretty good guess as to what caused this, I hope to have a fix soon.

[2020-07-22 11:04] saghul commented on #7373
Fix on https://github.com/jitsi/jitsi-meet/pull/7374 New builds are on the way. Sorry for the trouble!

[2020-07-22 12:52] jallamsetty1 commented on #7053
@pgnd, Is this still the case on meet.jit.si ? We have made some updates recently that might improve the experience on CM83 and newer releases of Chrome. Also, are your experiencing these issues on Linux only ?
Also, what issues are you seeing with Firefox on Linux ? We are not aware of or actively working on any such issues.

[2020-07-22 13:23] #7373 closed

[2020-07-22 13:25] gcoretech commented on #7373
That was quick, thanks a lot!

[2020-07-22 13:32] ashirwad007786 commented on #7005
Hey @saghul. Does the support for mobile has been developed or it's just pending for a release?

If I compile the app from the latest source code(master), will that contain the lobby support for the mobile?

[2020-07-22 13:47] saghul commented on #7005
Mobile support is already in as of release 20.3.0.

[2020-07-22 13:48] saghul commented on #7005
Oh, forgot to close this @awlx. Please drop a line if you run into issues. We are waiting to enable it on meet.jit.si until we have a good number of users running the latest version.

[2020-07-22 13:48] #7005 closed

[2020-07-22 14:41] heikar opened #7375 "Disable blur bakground in config.js"
Is it possible to disable the "blur background item" in the "three dots menu" in config.js, like e.g. `liveStreamingEnabled: false,`?

If its not possible now, please can you add the setting?

Many greetings,
heikar

[2020-07-22 15:14] saghul commented on #7375
You can remove the `videobackgroundblur` entry from `TOOLBAR_BUTTONS` in interface_config.js.

[2020-07-22 15:14] #7375 closed

[2020-07-22 16:25] Echolon commented on #6497
@saghul I close this with reference to this previous issue, ok? Otherwise please reopen!

**Screen sharing on mobile app does not exist** #5252

[2020-07-22 16:25] #6497 closed

[2020-07-22 16:32] saghul commented on #6497
Sounds good, thanks!

[2020-07-22 16:38] jallamsetty1 commented on #7129
It is working fine on the iPhone and Android devices that I tested, both of them recent models and running latest versions of the OS. If the preview and switching isn't working fine on the older models, I am inclined to blame it on the mobile browser. Are you able to able to update and check ?

[2020-07-22 16:46] kevin-olbrich opened #7376 "Make focus username configurable (ex. focusUserJid)"
**Is your feature request related to a problem you are facing?**
The username "focus" is hardcoded in many places and thus can not be customized.
Community thread: https://community.jitsi.org/t/no-traffic-to-jvb-from-client/70817

**Describe the solution you'd like**
Make username for "focus" configurable.
Example config.js: focusUserJid: 'meet-focus@auth.jitsi-meet.example.com',

**Describe alter

[2020-07-22 17:41] maneesh12345 opened #7378 "not able to set avatar in jitsi sdk ios"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server information:

- Jitsi Meet version:
- Operating System:

### Client information:

- Browser / app version:
- Operating System:

### Additional information:

[2020-07-22 18:04] pgnd commented on #7053
@jallamsetty1

hi

I'd rm'd Jitsi from ops here -- simply can't get/keep it working.

Happy to revisit, as it's my preferred solution.

Atm,  with
Firefox 78.0.2/linux on both ends of an @meet.jit.si, 2-party, peer-to-peer call,
~ 1/2 of the desktops' cameras simply aren't recognized/used by Jitsi at all.
When they are, and go active, I can get bidirectional audio, most of the time -- but video on

[2020-07-22 18:08] paweldomas commented on #7376
thanks for the report, yeah it needs to be cleaned up

[2020-07-22 18:38] monnier commented on #6497
AFAICT, #5252 only discusses the iOS app, whereas this issue is about the Android app.  AFAIU the two are separate implementations, so I think it makes sense to keep both issues open and separate.

[2020-07-22 18:48] Echolon commented on #6497
@monnier I am preparing a general overview of the issues at the moment. both will be mentioned. I cannot imagine this will be only implemented for one platform

[2020-07-22 18:55] Echolon commented on #7378
@maneesh12345 Sorry for being a bit strict but please fill out the issue template first. When done I will reopen your issue. If this is a support request please go to the Jitsi Community website. Thank you!

[2020-07-22 18:55] #7378 closed

[2020-07-22 18:56] Echolon commented on #6570
@fcorallini have you tried the suggested steps?

[2020-07-22 18:57] Echolon commented on #6981
I will close this until feedback is provided.

[2020-07-22 18:57] #6981 closed

[2020-07-22 18:58] Echolon commented on #6864
@saghul @damencho any response to this?

[2020-07-22 19:00] Echolon commented on #7258
@MohamedZiad I think we cannot provide support on this. Please refer to the Jitsi Community Website for help.

@saghul I will close this.

[2020-07-22 19:00] #7258 closed

[2020-07-22 19:12] monnier commented on #6497
I'm not familiar enough with the codebase to be sure, but I find it hard to believe that implementing it for iOS will inevitably lead to it being implemented for Android (especially since the chunks of code that appear in the other issue seem to be written in Objective C which is very Apple-centric).

[2020-07-22 20:13] nishantt12 commented on #6412
RNJitsiMeetConferenceOptions options = new RNJitsiMeetConferenceOptions.Builder()
   .setRoom(url)
   .setWelcomePageEnabled(false)
   .setAudioOnly(false)
   .setFeatureFlag("pip.enabled",false) // <- this line you have to add
   .setFeatureFlag("calendar.enabled",false)  // optional
   .setFeatureFlag("call-integration.enabled",false)  // optional
  .setFeatureFlag("pip.enabled",false)
    .setF

[2020-07-22 20:36] Echolon commented on #5945
I will close this as duplicate with reference to:

**Screen sharing on mobile app does not exist** #5252

[2020-07-22 20:36] #5945 closed

[2020-07-22 20:48] Echolon commented on #2835
@jallamsetty1 Could you find any updates from the Firefox side?

[2020-07-22 20:58] Echolon commented on #2737
@saghul  ^

[2020-07-22 21:14] Echolon opened #7381 "Meta - overview"
Dear Community :heart:

hereby an overview for the current important issues for Jitsi Meet is provided. :tada:

:spiral_notepad: Please, consider this as an **orientation** and not a holistic or complete list. It also help you to see if your issue or feature request is already known. As you can see we collected significant issues, where other existing ones are neglected for the moment. Of course t

[2020-07-22 21:16] Echolon commented on #7381
@saghul that is a first start. You can pin it to the top. I will expand and update this by time. Suggestions welcome!

Next I will try to summarize related issues.

[2020-07-22 22:12] rvacarij opened #7383 "all recorders busy"
We are facing a problem when try to record a call ...

There is a message abou "records busy"

[2020-07-22 22:17] Echolon commented on #7383
Hello,

please refer to this: https://github.com/jitsi/jitsi-meet/issues/5403

Sorry, I have to close as duplicate!

[2020-07-22 22:17] #7383 closed

[2020-07-22 22:19] rvacarij commented on #7383
No problem, I see you're trying to solve already

[2020-07-23 03:25] andorardo opened #7384 "OPUS max bitrate cannot be overridden due to config key mismatch"
According to libjitsi:
https://github.com/jitsi/lib-jitsi-meet/blob/cf584f56e47ed918b196f93b9fff16de70d155ea/modules/xmpp/moderator.js#L271

shouldn't the config key be **`opusMaxAverageBitrate`**, not `opusMaxAvgBitrate`?
https://github.com/jitsi/jitsi-meet/blob/a23dac2ab6191e007efe5c8253ab7e4a7bcffa1b/config.js#L119

Presumably the configWhitelist would also need to be updated
https://github.com

[2020-07-23 05:15] saghul commented on #2737
Yes it can!

[2020-07-23 05:15] #2737 closed

[2020-07-23 05:20] saghul commented on #6570
That is just for measuring the remote audio levels, not the system volume.

In fact, we don’t change the volume because there is no API for it.

I think what you’re experiencing is the AGC. You can disable it by appending #config.disableAGC=true to the URL.

[2020-07-23 05:20] #6570 closed

[2020-07-23 06:38] claysauruswrecks commented on #7384
Even when changed, and the changes incorporating modified offers, the `maxaveragebitrate` was not present in the SDP offer in browser console.

[2020-07-23 08:16] mfts opened #7385 "Turn on lobby by default for each newly created room"
**Is your feature request related to a problem you are facing?**
I differentiate conference participants between moderators and regular participants. I authenticate users with JWT, where I also set a moderator boolean field. To achieve this, I use a custom prosody plugin: https://github.com/mfts/jitsi-token-moderation-plugin/

Now I would also like to have lobby turned for each room so only modera

[2020-07-23 08:25] saghul commented on #7385
We currently don't have a setting for enabling the lobby by default. I guess we'd need that first.

Allowing a moderator to skip the lobby is a bit of a chicken and egg problem, because you can only be a moderator once *inside* a room, and the lobby prevents you from entering.

At a glance I think we'd need some extra info in the token to make it work, thus limiting that functionality only to toke

[2020-07-23 08:59] saghul commented on #7384
The option name is bad for sure. Fixed in https://github.com/jitsi/jitsi-meet/pull/7386

[2020-07-23 10:50] asnagni opened #7390 "Removing (Hide) the option "share a YouTube video" doesn't work on iOS and Android SDK"
### Description:

Hello,
   I’m trying to disable (hide) the “Share a Youtube video” option in menu but it doesn’t work. The strange thing is that I can successfully disable (hide) the other options that I don't them to be visible. Please see the code that I have for iOS and Android in the "Additional information" section.

Thank you for helping.

### Steps to reproduce:

1.
2.
3.

### Expected be

[2020-07-23 11:32] saghul commented on #7390
That flag landed after the branch for 2.9.3 was cut, so it's not part of the release.

[2020-07-23 11:32] #7390 closed

[2020-07-23 11:38] asnagni commented on #7390
Ok, thank you for the feedback.

[2020-07-23 12:10] SplendornetTech commented on #6983
Any updates on this? Actually I am not receiving any message on mobile application, using react-native SDK

[2020-07-23 12:11] SplendornetTech commented on #6752
For me none of the participants are seeing any chat message, using react-native SDK

[2020-07-23 12:31] augustinejenin commented on #7129
@jallamsetty1  we tested in iphone. still the preview is not available when change the camera and phone is getting hang. issue exist in the android latest version also(android 9 lenovo).

preview screen shows black screen but camera shift is working. Now these two issues are reporting.
1. preview not available when shifting the camera.
2. phone is getting hang.

[2020-07-23 12:37] jallamsetty1 commented on #7129
@augustinejenin,
Can you pls let me know what is the model and iOS version of the iPhone that you are seeing these 2 issues on ? If that is a device specific issue, we will not be able to fix the part where the device hangs, you will have to open a bug report in webkit.

@saghul helped me test few other Android devices like Galaxy S9, Pixel 3, Xiaomi Poco F1, Xiaomi MiPad 2 and they all seem to be

[2020-07-23 12:48] jallamsetty1 commented on #7053
Thank you for the detailed information. Unfortunately, I don't have a Linux desktop to test. Will you be able to provide console logs for the cases where the Jitsi fails to start the mic and camera ?

[2020-07-23 13:14] #7384 closed

[2020-07-23 13:15] saghul commented on #6752
Should be fixed by this PR: https://github.com/jitsi/jitsi-meet/pull/7387

[2020-07-23 13:15] #6752 closed

[2020-07-23 13:57] saghul commented on #7381
This is incredibly useful, thank you so much!

[2020-07-23 14:09] OsamaBadr01 opened #7391 "LoadBalancing"
Hello

I have this setup HAProxy and 2 jitsi meet i have problem the partciapant don’t go to the same room while haproxy configured with balance url_param room

This is HAProxy configuration

`frontend haproxynode
bind *:80
bind *:443 ssl crt /etc/haproxy/certs/domainname.pem
http-request redirect scheme https unless { ssl_fc }
mode http
default_backend backendnodes

backend backendnodes
mode http

[2020-07-23 14:48] bhavesh18 opened #7393 "setVideoQuality() only changing receiver video not sender video in Mobile"
Path:- jitsi-meet-stable-jitsi-meet_4857/react/features/video-quality/actions.js

export function setVideoQuality(frameHeight: number) {
    return (dispatch: Dispatch<any>, getState: Function) => {
        const { conference, maxReceiverVideoQuality } = getState()['features/base/conference'];

        if (frameHeight < VIDEO_QUALITY_LEVELS.LOW) {
            logger.error(`Invalid frame height for

[2020-07-23 14:57] saghul commented on #7393
This feature is not currently available on mobile. You can control the send (and receive) resolution with the "resolution" feature flag.

[2020-07-23 15:37] ryanwohara commented on #5425
Vivaldi 3.1.1929.45, Windows 10
[code]

Appending #config.disableSimulcast=true to a call did not change the problem.

[2020-07-23 15:57] jallamsetty1 commented on #2835
Unfortunately no, I don't have any updates from them. There is a lot of tech debt for making this work looks like, will check with them again.

[2020-07-23 17:22] Echolon commented on #7391
@OsamaBadr01 Hi,

would you be so kind an fill out the provided issue template?

[2020-07-23 17:25] Echolon commented on #5632
reminder @saghul

[2020-07-23 17:47] OsamaBadr01 commented on #7391
I can't find it can you provide it? Thanks

[2020-07-23 20:11] Echolon commented on #7391
When you click "New Issue" templates will be provided. However, I think you should actually head for help in the Jitsi Community Portal first. I think your problem is not a bug, right?

[2020-07-23 20:54] 404Prachi commented on #2728
I am facing same issue. I see apache2 index page not jitsi home page ....:(

[2020-07-24 03:43] augustinejenin commented on #7129
@jallamsetty1
iOS version is 13.6 latest one
iPhone XR is model

[2020-07-24 05:45] bhavesh18 commented on #7393
Hi, thank you for the information.

- Can you please give me brief or example on how to use this "resolution" feature flag?
- Is there any action to dispatch to set the resolution?

I can see the flag (Path: jitsi-meet-stable-jitsi-meet_4857/react/features/base/flags/constants.js)
/**
 * Flag indicating the local and (maximum) remote video resolution. Overrides
 * the server configuration.
 * Defa

[2020-07-24 05:51] Malik464 commented on #7393
Hi, I also tried to use this flag to set the resolution in mobile but couldn't find anything.

[2020-07-24 06:34] shubhamvishwakarma19 opened #7397 "React js installation for web"
### Description:

There is no documentation for installation in the react js and also there is no commands available in the package.json file how can i run. Anyone can help please how can i run this project in my local machine i want to run react code for web.

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

i want to create react js based jitsi web demo  and customize the UI

### Actua

[2020-07-24 06:34] dipankar08 opened #7398 "Allow auto join feature"
I want to use jitsi inside web application as a iframe.but it should join automatically when user create the object.

I see that there is an api for hang up. Is it possible to api for join and restart ?

[2020-07-24 06:53] analyserdmz opened #7399 "After almost a year, everything stopped (500 server error)"
Hello, I need help to find the cause of a sudden **internal server error**. I have Jitsi Meet installed and running perfectly for about a year, with JWT tokens, SSL (Let's encrypt) and everything were alright until now.

I need help to debug my installation and find what causes the error. I've never been in such a situation so I don't know where to start looking.

Thanks.

[2020-07-24 07:33] hasgardee commented on #4265
`react-native-codepush` was causing issues for me. try disabling it. codepush bundle name is different than app.bundle I guess. So, want to make both same to run codepush and react-native-jitsi-meet

[2020-07-24 07:33] hasgardee commented on #4574
`react-native-codepush` was causing issues for me. try disabling it. codepush bundle name is different than app.bundle I guess. So, want to make both same to run codepush and react-native-jitsi-meet

[2020-07-24 08:04] saghul commented on #7397
Take a look here: https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-web

[2020-07-24 08:04] #7397 closed

[2020-07-24 08:07] saghul commented on #7393
See: https://github.com/jitsi/jitsi-meet/commit/f32140c4b7f4bc9654067cb68882118bbdfae952

[2020-07-24 08:07] #7393 closed

[2020-07-24 08:08] saghul commented on #7398
When you use the iframe API the room is one of the parameters you pass, so the room will be auto-joined. https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-iframe#api--new-jitsimeetexternalapidomain-options

[2020-07-24 08:08] #7398 closed

[2020-07-24 08:10] saghul commented on #7399
Did you update any of the server components? Check the logs for everything: nginx, jicofo, prosody and jvb.

[2020-07-24 08:13] Echolon commented on #7399
@analyserdmz also consider the Jitsi Community Website for support requests in the future please.

[2020-07-24 08:15] analyserdmz commented on #7399
Could you please help me find the paths of jicofo, prosody and jvb logs?
I've found that when I restart the VideoBridge service, it uses port 443. Is it normal? (I mean, without starting nginx).

@Echolon I am sorry, had no idea this is the wrong place. May we keep it open just this time until I find the source of the problem please?

[2020-07-24 08:31] analyserdmz commented on #7399
@saghul Here are the logs I've found. (I've replaced the actual domain)

JVB:
[code]

JICOFO:
[code]

[2020-07-24 10:05] OsamaBadr01 commented on #7391
It isn't a bug but i asked many times in jitsi community no one answered the question

[2020-07-24 10:37] #7391 closed

[2020-07-24 10:41] saghul commented on #7354
No, the development server takes the config from the live deployment it points to. If you did make dev thats alpha.jitsi.net.

[2020-07-24 11:28] saghul commented on #7399
What do you have in /etc/hosts ?

[2020-07-24 14:01] damencho commented on #7399
Isn't this the old bridge? Where it does not support DTLS 1.2 ... and  DTLS 1.0 was dropped from Firefox very recently ...
You need to make sure you are updating, cause in the world of browsers everything changes every 6 weeks.

[2020-07-24 15:34] AliKarpuzoglu commented on #6979
couldn't this be fixed by completely removing the "closed shared document" option in the settings?

[2020-07-24 15:37] analyserdmz commented on #7399
127.0.0.1       localhost
51.75.69.248    my-vps-hostname-here       vps-hostname.company.net
127.0.1.1       my-vps-hostname-here       vps-hostname.company.net

(Changed the names due to the nature of the website [medical services])

[2020-07-24 19:16] rawars opened #7404 "Jitsi Picture In Picture Not Working <PIP> Android Sdk"
@xrmx @nud @monkeydom @jcfischer
### Description:
Good afternoon, I don't know if it's the medium, but I couldn't post in the jitsi forum, I can't find the option, I don't know if it's because I'm new to the forum, I don't know if you can lend me a hand, it turns out that I'm having  problems with the implementation of the sdk in Android, it turns out that I cannot access the PIP mode the console

[2020-07-24 20:12] rawars commented on #4495
I have problems with the implementation of the SDK in Android and your comments would be very helpful, it turns out that I cannot access PIP mode, the Android Studio console shows me an error message when trying to minimize the application to enter PIP mode, the message notifies me that PIP mode cannot be accessed, I appreciate your help, I don't know if you can share your MainActivity to check if

[2020-07-24 21:21] ErwanF76 opened #7405 "Issue with 2 instances of Jitsi Meet and self hosting Openfire running into 2 different domains"
Hi

I'm facing some issues to make

A short summary of my settings:

2 Openfire self hosting servers running into 2 differents domains;
The ofmeeting plug-in embedding Jitsi Meet is installed and running at each Openfire instances

That gives:
Client 1 (Edge Chromium) <-> Openfire@domain1.org <-> Openfire@domain2.org <-> Client 2 (Edge Chromium)
Everything works fine (videoconf between the 2 domai

[2020-07-25 11:14] saghul commented on #4495
Can you please paste the full error message and the code you have which triggers it?

[2020-07-25 12:27] sanvila commented on #7399
Hi. I can guess the URL of at least one server in such IP address. Therefore if you intend to keep it private, I suggest that you edit the IP address as well.

[2020-07-25 13:11] rawars commented on #4495
AndroidManifest.xml
[code]

activity_main.xml
[code]
MainActivity.java
[code]
The error occurs in this part of the MainActivity.java code.
[code]

![Captura de Pantalla 2020-07-24 a la(s) 9 22 55 p  m](https://user-images.githubusercontent.com/3655598/88457726-46ded100-ce4e-11ea-857f-51496d261c13.png)

The error is described in the attached image, I would appreciate your help

@saghul

[2020-07-25 13:43] rawars commented on #4495
@saghul , en un issues comentas que desactiven "Connection Service integration" para poder hacer funcionar el PIP, pero no estoy muy claro donde puedo desactivar esa opción, cuando abro el aplicativo en mi celular aparece un telefono emitiendo una señal como si estuviera realizando una llamada, cuando solo estoy en la sala de video chat solo, en el issues el usuario tenia el mismo problema yo y le

[2020-07-25 13:44] rawars commented on #4495
@saghul , in an issues you comment that they deactivate "Connection Service integration" in order to make the PIP work, but I am not very clear where I can deactivate that option, when I open the application on my cell phone a phone appears emitting a signal as if it were making a call, when I'm only in the video chat room alone, in the issues the user had the same problem myself and asked him to

[2020-07-25 15:32] saghul commented on #4495
That option is not related to PiP, must be something else.

What does your AndroidManifest.xml look like? You need to have some options there in order for pip to work.

[2020-07-25 15:36] rawars commented on #4495
<activity android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="adjustResize"></activity>

[2020-07-25 15:36] rawars commented on #4495
<activity android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="adjustResize"></activity>

@saghul

[2020-07-25 15:37] rawars commented on #4495
[code]
@saghul

[2020-07-25 18:18] saghul commented on #4495
That looks about right. What Android version are you running? Does it happen to be Android Go?

[2020-07-25 18:28] rawars commented on #4495
I have android 8.1.0 and all the apps are Go, does that result in a problem?

[2020-07-26 05:49] saghul commented on #4495
Android Go doesn’t support PiP, it’s a platform limitation. I noticed this after testing an Android Go device, and current master won’t have PiP available on those devices. This change is not on a released SDK version yet though.

[2020-07-26 05:51] saghul commented on #7399
Are the IP addresses still correct? Nothing changed there?

[2020-07-26 12:26] mohdsafadsaal opened #7406 "How to debug UI changes for iOS and Android?"
Is there any way to debug UI changes for mobile apps? I can make changes in react native component and then i need build framework and test it in ios and android app. Is there any easier way to make changes and debug?

[2020-07-26 14:03] tna76874 commented on #5295
hi,
https://meetzi.de/ did integrate https://github.com/cracker0dks/whiteboard into jitsi. Is there any possibility to have this whiteboard without etherpad - just the plain whiteboard?

[2020-07-26 20:28] awlx commented on #5295
Just setup a nginx redirect rule ... should be easy.

[2020-07-27 04:13] augustinejenin commented on #7129
@jallamsetty1  Can we use your unstable release for our customers.
When your all unstable releases will be available in production?

You had time to check in the iphone model i mentioned above?

[2020-07-27 05:04] tna76874 commented on #5295
I'm not sure how to embed this into the jitsi front-end. Would be nice if someone provide an example of the config. Thanks :)

[2020-07-27 06:42] arunvc commented on #5295
The background is transparent in WBO so add a background color in wbo **board.css**

html, body, svg {
  ....
  background: #ececec;
}

![image](https://user-images.githubusercontent.com/9069988/88511409-60c11500-d002-11ea-9719-1b92a0c85255.png)

[2020-07-27 06:48] BreakerSAMA opened #7407 "when using Android SDK, will call 4887763385474123456??"
when using Android SDK, will call number:4887763385474123456

https://github.com/jitsi/jitsi-meet-sdk-samples/

I just want to use video conferencing. Don't want to use the phone dialing . What should I do?

[2020-07-27 10:07] dyros26 opened #7408 "is it posible to create a pagination in tileview just like in zoom?"
is it posible to create a pagination in tileview just like in zoom?

[2020-07-27 14:03] jallamsetty1 commented on #7129
We have plans to push the latest to stable repo sometime this week. You can also use unstable releases for your customer if you prefer not to wait for the stable releases.
I don't have access to an iPhone XR, will check if someone else in the team does.

[2020-07-27 17:30] Echolon commented on #7408
Hi @dyros26

There are many open issues about the tile-views. I recommend you comment there, as there seems to be several improvements necessary. I will close this therefore.

rel.
#7267
#7210
#5870
#5764
#5142

[2020-07-27 17:30] #7408 closed

[2020-07-27 17:35] Echolon commented on #7407
Hi,
If you have a question about Jitsi Meet that is not a bug report or feature request, please post it in https://community.jitsi.org

Unfortunately, I have to close this :(

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-07-27 17:35] #7407 closed

[2020-07-27 17:36] Echolon commented on #7407
@saghul

[2020-07-27 17:38] Echolon commented on #7406
Hi,
If you have a question about Jitsi Meet that is not a bug report or feature request, please post it in https://community.jitsi.org

Unfortunately, I have to close this :(

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-07-27 17:38] #7406 closed

[2020-07-27 17:45] Echolon commented on #7405
Hi,
If you have a question about Jitsi Meet that is not a bug report or feature request, please post it in https://community.jitsi.org

Unfortunately, I have to close this :(

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-07-27 17:45] #7405 closed

[2020-07-27 18:21] andrewerix commented on #5295
Does this work if we change the URL to any other website? I have a WordPress form, can I integrate the form with Jitsi Meet using this method? Will each user be able to fill up the form independently?

[2020-07-27 20:29] amorixpod opened #7409 "Setting a custom URL does not work - iOS SDK"
Hello there,

Currently I'm facing an issue with the iOS SDK which is that I can't set jitsi to use my server. the only way to use my server is open the app and then change it from the inside, but I want to code it in, which I did by typing in
        builder.serverURL = URL(string: "serverurl")
But this for some reason doesn't work! I was able to implement this perfectly on android, so I'm almost

[2020-07-27 22:45] ErwanF76 commented on #7405
Ok, sorry. My mistake.Kind regards
Envoyé depuis Yahoo Mail pour Android

  Le lun., juil. 27, 2020 à 19:45, Echolon<notifications@github.com> a écrit :

Hi,
If you have a question about Jitsi Meet that is not a bug report or feature request, please post it in https://community.jitsi.org

Unfortunately, I have to close this :(

I'm a community contributor and not directly affiliated with the Jitsi

[2020-07-28 03:39] shidcordero opened #7412 "Automate Process of installing certificate"
### Description:

I wan't to automate the process on installing the certificate. I wan't to execute the install script non-interactively and I cannot successfully pass the email address.

### Steps to reproduce:

1. I run this bash command `/usr/share/jitsi-meet/scripts/install-letsencrypt-cert.sh` to execute the script
I tried to use `echo, printf, yes` but all of them did not successfully add th

[2020-07-28 04:39] jallamsetty1 commented on #7129
@augustinejenin, one of the team members tried it on an iphone max and was not able to reproduce the issue. Will you be able to provide us with the logs from iPhone XR where you are reproducing the issue ?

[2020-07-28 06:23] amirisback opened #7413 "Customize Layout Android SDK with layout xml / java"
**Is your feature request related to a problem you are facing?**
I need customize the ui for video conference, replacing audio button with my own button style

**Describe the solution you'd like**
i need function for setup drawable button for ui (ex: setAudioButtonRes(R.drawable.my_own_audio_button))

**Describe alternatives you've considered**
make UI from xml especially for android SDK

Thank yo

[2020-07-28 06:47] 11081595s commented on #7139
Hi Team,
Any solution on this issue? My management not approving the product due to this issue. it will be highly appreciated if you provide the solution.

[2020-07-28 07:41] MisMagJr opened #7414 "I added a new attribute to Conference and added setter but doesn't seem to change for remote users"
I tried different ways including firing events but even the event seems to be fired only for the current user.

[2020-07-28 08:18] saghul commented on #7139
Sorry but no, we have no update on the matter and alas this won't be looked into for a few weeks.

[2020-07-28 09:49] javikr opened #7415 "Can't build JitsiMeet with XCode 12.0 beta 3"
### Description:

After installing XCode 12.0 (beta 3) and trying to compile a project that includes the cocoapod JitsiMeet SDK, I can not build.

### Steps to reproduce:

1. Install XCode 12.0 beta 3 from iTunes Developer Center.
2. Open a project with a dependency of JitsiMeet SDK as a cocoapod and 'import JitsiMeet'
3. Build in iOS Simulator 14.0 & iOS Simulator 12.4

### Expected behavior:

Bu

[2020-07-28 10:04] thite-amol commented on #5677
same issue. Do we have news for it?

[2020-07-28 12:10] augustinejenin commented on #7129
@jallamsetty1  one client informed that its not working in this model 6S y iPhoneX, version iOS 13.5.1.
Can you please let me where you checking this? i hope you tested in this https://grupo.testme.es/videopage/ . Currently doing some updation in this server.

If you checking in your unstable repo pls let us know the repo.

Can you please check in  6S y iPhoneX, version iOS 13.5.1.? clients waitin

[2020-07-28 13:47] akalana commented on #7337
Hi @mhuber84 ,
Could you please let me know the steps to enable the lobby feature in Jitsi?

[2020-07-28 14:35] jallamsetty1 commented on #7129
Hi @augustinejenin, as much as we would like to help, we don't have the resources to debug this issue on each and every device. It would be really helpful if you could narrow it down for us.
Do you know if this issue is specific to iFrame ?
Does the issue reproduce when you try directly on the browser w/o iFrame on your deployment ?
You can also try against https://meet.jit.si to rule out config i

[2020-07-28 14:48] mhuber84 commented on #7337
Hi @akalana ,
I don't know how to configure the server. But if the feature is enabled on the server (like on meet.ffmuc.net) you get the option in the session's security settings:

![grafik](https://user-images.githubusercontent.com/957178/88681567-00110580-d0f2-11ea-8168-e6b08f3adc80.png)

[2020-07-28 15:06] akalana commented on #7337
Hi @mhuber84
I want to know, what did you do to enable that button for you. Because I got and built up the latest Git Hub repo but that feature wasn't enabled for me. That's why.

[2020-07-28 17:25] crprata commented on #7227
Can anyone help me? The same issue is happening on the latest stable Jibri with youtube.

[2020-07-28 23:09] sagz commented on #7351
Didn't try in FF78. Is there a bugzilla bug for this regression in FF80?

Thanks @jallamsetty1

[2020-07-29 00:13] jbis9051 commented on #5836
Alrighty. Virtual Background working without noticeable performance impact even with bodypix on high. Blur has performance impacts but its very usable.

I'm going to clone jitsi this weekend and add it. Someone will prob need to test it.

[2020-07-29 00:26] ilmarmors opened #7416 "Sounds of Jitsi events ignore audio output device setting"
### Description:

User can change audio output device in settings. Audio streams from other participants are played via selected audio output device after change, but event sounds (like participant joining or leaving) ignores this setting and are played via default / first audio output device.

### Steps to reproduce:

1. Open latest Jitsi Meet https://alpha.jitsi.net/ and join the same room in tw

[2020-07-29 04:13] internetErik commented on #4697
Thanks for creating and maintaining Jitsi - it's been such a help during the pandemic.

I host a meetup group that has been using Jitsu, and I've been told by members that they wish they could hide their own video for reasons similar to linndavis. They opt to use no video because of this even though they wish they could (and it is helpful for others to see each other). I wouldn't suggest it as a d

[2020-07-29 04:30] #6416 closed

[2020-07-29 06:29] SriramScorp opened #7418 "jigasi configuration for jwt"
Jigasi dial-in, which was working with 'Secure Domain' setup, broke after switching to token authentication. What is the additional configuration required to make it work? Can you provide working example for prosody (if another virtualhost is required), jicofo (if 'org.jitsi.jicofo.auth.URL=' needs to be configured) and jigasi (whether I should add a token or use xmpp authentication)?

[2020-07-29 06:42] alternadom commented on #7017
Any idea ?

[2020-07-29 06:57] Dmxy opened #7419 "When using screen sharing on the computer, the application does not display the screen correctly."
Hello:
    When I use screen sharing on my computer, if I select enter tile view, the screen will be lost on the app.
 _like this_
#
![enterTileViewError](https://user-images.githubusercontent.com/9995805/88765842-b7b51e80-d1a9-11ea-8689-efe1465a3a1d.jpg)

    And when I select exit tile view, the main screen will return to normal, but the small window below will lose the screen.
![exitTileViewErr

[2020-07-29 07:44] thiyagatrev commented on #7139
hi team,
Can we atleast know what is the root cause for this issue... we are scartching the head for almost 1 month..

[2020-07-29 08:35] saghul commented on #7139
Stop it, really. This is not a new issue, and if we knew the cause it would've been fixed already. Asking the same question over and over again will only stress out the developers and won't get you any better answers.

[2020-07-29 12:17] asad175 commented on #4976
The solution is very simple. I have shared it here in my article. [Solution: Unable to resolve module lib-jitsi-meet/lib-jitsi-meet.min ](https://handyopinion.com/unable-to-resolve-module-lib-jitsi-meet-lib-jitsi-meet-min/).
We just need to go inside "lib-jitsi-meet" directory and need to run yarn command.

[2020-07-29 15:18] saghul commented on #7419
This is the currently intended behavior on mobile (screen-share is only shown in stage view) but we are changing that here: https://github.com/jitsi/jitsi-meet/pull/7339

[2020-07-29 15:50] Echolon commented on #7409
Hi,
If you have a question about Jitsi Meet that is not a bug report or feature request, please post it in https://community.jitsi.org

Unfortunately, I have to close this :(

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-07-29 15:50] #7409 closed

[2020-07-29 15:52] Echolon commented on #7413
@saghul is this a suitable feature request?

[2020-07-29 15:53] Echolon commented on #7414
Hi,
If you have a question about Jitsi Meet that is not a bug report or feature request, please post it in https://community.jitsi.org

Unfortunately, I have to close this :(

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-07-29 15:53] #7414 closed

[2020-07-29 15:54] Echolon commented on #7415
@javikr can you please fill out the bug report template when creating a new issue? That would help a lot!

[2020-07-29 15:58] Echolon commented on #7418
Hi,
If you have a question about Jitsi Meet that is not a bug report or feature request, please post it in https://community.jitsi.org

Unfortunately, I have to close this :(

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-07-29 15:58] #7418 closed

[2020-07-29 16:02] Echolon commented on #7265
@soorajjaivas can you provide steps how to reproduce this?

[2020-07-29 16:46] ericavijay commented on #6759
This issue is resolved. The Android API has a sort of different approach for accessing and customizing the class.

Thanks
Vijay

[2020-07-29 16:46] #6759 closed

[2020-07-29 18:47] crprata opened #7421 "Audio output crackling on iOS Safari -"Launch in web""
### Description:

After some time participating in a meeting on meet.jit.si and using Safari on iOS (Launch in web) with more than 3 participants, the audio starts to crack and gets worse until it is not possible to stay in the meeting.

### Steps to reproduce:

1. Enter in a room on meet.jit.si usando iOS Safari - "Launch in web"
2. If have more than 3 participants, after some minutes the audio o

[2020-07-29 21:43] bennythomps opened #7424 "Publish React [Native] NPM Package"
There is a great amount of functionality in this code base with React & React Native functionality that would be great to take advantage of in custom development.

It would be great if this functionality could be published as a standalone package to use in custom applications.

Currently the only option, at least for React Native, is https://github.com/skrafft/react-native-jitsi-meet which is a ve

[2020-07-30 00:26] diegodorado commented on #3445
this would be useful

[2020-07-30 04:22] amirisback commented on #7413
Used to develop my application with my own design

[2020-07-30 05:25] saghul commented on #7413
The mobile apps UI is built with React Native. Thus you need to modify the code in this repo (in JavaScript) and then rebuild the SDK.

[2020-07-30 05:25] #7413 closed

[2020-07-30 05:37] saghul commented on #7424
Unfortunately our codebase is not (yet) ready for consumption as an npm package.

We tailored the design for consumption by native apps, and that’s what the module you mention does, which is not ideal for a number of reasons.

We may get there one day, but this is not currently in our roadmap, sorry.

[2020-07-30 06:35] javikr commented on #7415
Sorry. I have updated the original post.

[2020-07-30 07:21] saghul commented on #7415
The SDK is currently built with Xcode 11.4 and works ok with 11.5. I'd suggest you try to build the SDK yourself with 11/5 and try to use it with 12.

[2020-07-30 09:14] zd13572538541 commented on #7361
I installed JitsiMeet.framework with cocopods . Run the Device (13.5.1) with Xcode 11.1 and report the following error:
[JitsiMeetSDK] TypeError: undefined is not an object (evaluating 't.replace')
[JitsiMeetSDK] Unhandled JS Exception: TypeError: undefined is not an object (evaluating 't.replace')
[JitsiMeetSDK] FATAL ERROR: RCTFatalException: Unhandled JS Exception: TypeError: undefined is not a

[2020-07-30 09:42] alternadom opened #7428 "Lobby and password not working simultaniously"
### Description:

When we activate Lobby and put a password, the password is not working...

Just a password ✅
Just lobby ✅
Lobby and password ❌

### Steps to reproduce:

1. Activate lobby
2. Put a password
3. Try to connect with a guest

### Expected behavior:

The guest should join the room...

### Actual behavior:

Return "Password invalid"

### Server information:

- Jitsi Meet version: Master

[2020-07-30 09:48] saghul commented on #7428
Can you reproduce this with beta.meet.jit.si? (it has the lobby available)

[2020-07-30 09:53] SriramScorp opened #7429 "UI option to pin specific user to override channelLastN"
As per [lastn documentation](https://github.com/jitsi/jitsi-videobridge/blob/master/doc/last-n.md#pinning), pinning a specific user/endpoint requires sending an event through the LastN data channel. It would be better if there is an option in the UI to pin an endpoint. Is there already such an option I'm not aware of?

[2020-07-30 11:53] andreasmjg commented on #409
This makes sense - great thread. So basically Jitsi meetings, even if one-to-one, are *maybe* end-to-end encrypted unless you switch on the experimental E2EE feature which is supported in only Chromium-based browsers and the Jitsi electron-based app.

IMO there is one amendment needed to https://jitsi.org/security/ (my emphasis):

The security page should make it clear that the connection is not n

[2020-07-30 13:07] Eluminati commented on #7354
Well I am using an own deployment and it's not possible to use this possibility to overwrite the config. It is just ignored especially the watermarks settings.

I don't have any error on console.

[2020-07-30 13:40] saghul commented on #7354
If you are using your own deployment then edit config.js / interface_config.js directly.

[2020-07-30 13:48] saghul commented on #409
I don't think we need to make such amendment. Of course a single sentence out of a longer article can be confusing. We are are not claiming to be E2EE in cases where we aren't.

I don't really know what you expect from these tangents.

I'm going to lock this issue since the current state of affairs is dramatically different than when it was first opened in 2015. Please open new issues henceforth.

[2020-07-30 15:08] alternadom commented on #7428
I was looking for that kind of link after meet.jit.si lost the lobby! Thanks

To answer at your question, no I can't reproduce.. and i don't know why 😕

[2020-07-30 22:30] Echolon commented on #7428
@alternadom I will close this. If it still appears we will reopen, ok?

[2020-07-30 22:30] #7428 closed

[2020-07-30 22:34] Echolon commented on #7429
Hey @SriramScorp,
please refer to the communtiy forum first!

I have to close this, sorry!

[2020-07-30 22:34] #7429 closed

[2020-07-31 03:37] ecommerce-technician commented on #6473
I'm getting this error as well
Jul 31 02:40:50 portmanager     error   Error binding encrypted port for https: No key present in SSL/TLS configuration for https port 5281
Jul 31 02:40:50 portmanager     error   Error binding encrypted port for https: No key present in SSL/TLS configuration for https port 5281

[code]

[2020-07-31 05:49] saghul commented on #7429
Highlighting a user by clicking on their thumbnail will pin it.

[2020-07-31 06:47] SriramScorp commented on #7429
FYI, it was a feature request. Infact, I have searched the community but didn't find any mention of a UI option to pin a participant. And I had already tried clicking/selecting a participant's thumbnail to pin them, but that didn't work. When I do that, the participant is highlighted but I'm not receiving their video. I can only see their avatar.

[2020-07-31 08:52] heikar commented on #4787
Hi @puthli ,

there are news about the deployment of the solution?
If you need support (e.g. for testing), so let me know.

Many greetings
heikar

[2020-07-31 08:53] goldyliang commented on #5462
That will make Jitsi the greatest forever for music teachers.

Is there a technical limitation for mobile phones that the options of disabling audio processing is not possible in native app, or is it just not implemented?

Neither Zoom nor www.playwithapro.com provides that option, and in playwithapro.com it says that it supports mobile phone client as long as they use Chrome browser. To met, it s

[2020-07-31 08:59] alternadom commented on #7428
Is it possible to see the cfg.lua for beta.meet.jit.si ?
Because our installation is based on master and the problem persists 😢

[2020-07-31 09:24] Tenorio4 opened #7430 "A different video/audio input"
I am developing a project in which you need to use a different video / audio input than the one that comes from default (webcam, microphone, etc). Could a file be set as a video / audio input? This file could be a video file for example.
I am using jitsi-meet and lib-jitsi-meet for the project.

[2020-07-31 09:34] saghul commented on #7428
We don't have any special config / commits nor we are aware of an issue that needs fixing. Can you share your config and live instance so we can take a look?

[2020-07-31 12:43] Echolon commented on #7430
Hi,
If you have a question about Jitsi Meet that is not a bug report or feature request, please post it in https://community.jitsi.org

Unfortunately, I have to close this :(

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-07-31 12:43] #7430 closed

[2020-07-31 13:10] Echolon opened #7431 "UI: Generated Room Title exceeds borders of entry field"
### Description:

This is only a minor UI problem. Jitsi Meet Android does generate funny room titles, However, long ones exceeds borders of entry field:

<img src="https://user-images.githubusercontent.com/29168011/89037750-6343a780-d33f-11ea-9c7f-3a18f1c2d8cb.png" width="250">

### Steps to reproduce:

1. Open Jitsi Meet Android on a rather small mobile device
2. Wait till a large room name is g

[2020-07-31 17:13] alternadom commented on #7428
Sorry, it is not possible, we are in developpement and the live instance is not open to the world 😢

[2020-07-31 22:18] goldyliang commented on #5462
I tried the audio setting like this today in meetings using Chrome, but I dont hear the difference.  How to effectiently test if the options work?

And for meetings with 8x8,vc is these options also available?

[2020-08-01 00:00] nimaam commented on #5550
I can add breakout to your jitsi meet instance with local recording and etherpad to full funtionality, and you can have control to all of them in your API, I can handle a webinar mode that guest can not sea each other too, I made a change to jitsi alot and now is ready to others but not for free and not expensive.
- Break out
- Local Record no jibri needed
- Local Snapshopt
- Etherpad
- HIde guest

[2020-08-01 00:00] nimaam commented on #7381
I can add breakout to your jitsi meet instance with local recording and etherpad to full funtionality, and you can have control to all of them in your API, I can handle a webinar mode that guest can not sea each other too, I made a change to jitsi alot and now is ready to others but not for free and not expensive.

Break out
Local Record no jibri needed
Local Snapshopt
Etherpad
HIde guests from gu

[2020-08-01 00:00] nimaam commented on #6992
I can add breakout to your jitsi meet instance with local recording and etherpad to full funtionality, and you can have control to all of them in your API, I can handle a webinar mode that guest can not sea each other too, I made a change to jitsi alot and now is ready to others but not for free and not expensive.

Break out
Local Record no jibri needed
Local Snapshopt
Etherpad
HIde guests from gu

[2020-08-01 00:00] nimaam commented on #6014
I can add breakout to your jitsi meet instance with local recording and etherpad to full funtionality, and you can have control to all of them in your API, I can handle a webinar mode that guest can not sea each other too, I made a change to jitsi alot and now is ready to others but not for free and not expensive.

Break out
Local Record no jibri needed
Local Snapshopt
Etherpad
HIde guests from gu

[2020-08-01 00:42] czp6 opened #7433 "Add drawing feature"
**Is your feature request related to a problem you are facing?**
I want to be draw and sketch some things on jitsi in a way like I do on like zoom.

**Describe the solution you'd like**
I would like to be able to draw on jitsi with text and color.

[2020-08-01 01:49] SamBflint opened #7434 "Video will not work"
I use ManyCam virtual webcam to get my unique webcam to work (Ps3 Camera lol) but regardless it works everywhere including facebook,  but I cant use it on videochat,  Not sure what Github has to do with this but whatever, I was directed here.  Anyways, I go to google chrome settings and I set the website to "Allow" my webcam.  Should work, but doesn't still.  Please help Thanks.

[2020-08-01 05:48] ovari commented on #4758
* Firefox release date [2020-08-25](https://wiki.mozilla.org/Release_Management/Calendar)
* [Firefox 80 Release Notes](https://www.mozilla.org/en-US/firefox/80.0/releasenotes/)

[2020-08-01 06:44] ovari commented on #4758
Is there 100% support with [Jitsi Meet Electron](https://github.com/jitsi/jitsi-meet-electron#jitsi-meet-electron) (Desktop application for [Jitsi Meet](https://github.com/jitsi/jitsi-meet) built with [Electron](https://electronjs.org/))? Is it better than using a web browser?

[2020-08-01 06:51] shubhamvishwakarma19 opened #7435 "production build and deployment"
Hello i'm trying to create a compile code in my react js project.
How can i create the build compile code like as other react application i made some UI changes and i want to deploy my new code on the server can you please help how can i deploy the new code my own and where is the location of compile code.

i have tried
npm install lib-jitsi-meet --force && make
npm install lib-jitsi-meet --force

[2020-08-01 06:51] jbg commented on #4758
Electorn _is_ a web browser (slightly-out-of-date Chromium).

[2020-08-01 07:21] Otto-AA commented on #7433
There's already an issue for this: #5295

[2020-08-01 08:05] Razzeee commented on #4758
It's like using Chrome, as electron is based on that.

On Sat, Aug 1, 2020, 08:45 ovari <notifications@github.com> wrote:

[2020-08-01 11:37] TivanDev opened #7436 "add new language"
How can I add another language?
I want to add Persian language and RTL direction in jitsi meet
please share a way to add new language

[2020-08-01 11:38] richb-hanover commented on #4758
This looks promising. But the FF release notes also look as if FF80 turns off DTLS 1.0.

Is this going to cause problems with people running older versions of Jitsi? How will people with those installations know that it's essential they upgrade? (Or is this a non-issue?)

[2020-08-01 11:47] TivanDev commented on #7436
CLA Already signed

[2020-08-01 12:07] czp6 commented on #7433
Oh, sorry!

[2020-08-01 12:07] #7433 closed

[2020-08-01 14:03] uppuluriaditya commented on #7369
Hello All,
May i know if there is an update on this issue? Is there any estimated timeline for the fix?
Thanks in advance..

[2020-08-01 14:14] saghul commented on #4758
The JVB has supported DTLS 1.2 for quite a while now, so it shouldn't be an issue unless you're running a really old version of it.

[2020-08-01 14:21] saghul commented on #5550
@nimaam First and last warning. This issue tracker is not an advertising platform.

[2020-08-01 14:36] mgalalsalem commented on #7173
any quick way to fix this problem on the already installed version

[2020-08-01 17:10] AshiqMehmood opened #7437 "Screen Sharing of Application Window & Entire Screen- Problem faced in Linux"
### Description:

Even though i resolved the problem  using an alternate method, i had to report this issue for collective good. When I tried to share my screen through jitsi meet, i could'nt share the entire screen of my computer or could possibly share one of application window other than the browser window. The browser window and its tabs were perfectly alright.
### Steps to reproduce:

1.  Ope

[2020-08-01 18:30] richb-hanover commented on #4758
Maybe I'm catastrophizing (worrying about a problem that won't exist...) But what will happen in this situation:

* Ancient version of Jitsi that has been running just fine
* All people using it are happy (including those with FF-pre version 80 which still uses DTLS 1.0)
* FF80 gets pushed out...

What will people see? What error messages, etc? What behavior will the (now-version 80) FF users see?

[2020-08-01 18:35] jbg commented on #4758
Isn't JVB2 the first release that supports DTLS 1.2?

[2020-08-01 18:44] jbg commented on #4758
As far as I'm aware, it will stop working unless the Jitsi installation is using at least JVB2. JVB1 uses ancient (~ a decade old) crypto libraries -- lack of DTLS 1.2 support is probably the least of the issues with them -- and will likely never get DTLS 1.2 support.

[2020-08-01 19:19] julie-nguyen-projects commented on #2895
Hello, it appears the application isn't easily usable for blind users yet. They can't use their voice assistant to log in a room. Could you see if it's improvable ?

[2020-08-01 22:01] jonassmedegaard commented on #4758
Quoting Rich Brown (2020-08-01 20:30:32)

Those who wish to not upgrade software and are happy with that, should continue to not upgrade software and be happy with that.

I. e. they should continue to use also older browsers.

No, I am not at all recommending such approach: Those not upgrading their software are strongly advices to not expose their systems to the public internet - which severely r

[2020-08-01 23:06] richb-hanover commented on #4758
I am asking these questions on behalf of the people who're happy with their (ancient) version of Jitsi, who haven't paid much attention to the new versions (because it *has* been working fine) and whose life will suddenly get worse when FF80 hits the streets.

Because they haven't been paying attention to Jitsi's evolution, and especially its relationship to all the browsers in the world, they wil

[2020-08-02 04:17] jbg commented on #4758
- I don't think it's "such an old version". JVB2 only went stable for people using the Debian packages in March. Plenty of people unfortunately don't maintain their servers if they're "working", so there are probably a lot of installations affected.
- Bear in mind that enforcing DTLS 1.2 will not be unique to Firefox. Chrome is likely to do it in the next few releases too; it's been [discussed](ht

[2020-08-02 05:28] nishantt12 opened #7438 "java.lang.RuntimeException: java.lang.RuntimeException: Duplicate class com.facebook.hermes.BuildConfig found in modules hermes-0.2.1-runtime.jar"
Jitsi SDK version: 2.9.3

I am using Jitsi in Rocket chat application, I am getting

`java.lang.RuntimeException: java.lang.RuntimeException: Duplicate class com.facebook.hermes.BuildConfig found in modules hermes-0.2.1-runtime.jar (com.facebook:hermes:0.2.1) and hermes-debug-runtime.jar (hermes-debug.aar)
`

I have excluded hermes from Jitsi sdk using `exclude group: 'com.facebook',module:'hermes

[2020-08-02 05:58] nils-ohlmeier commented on #4758
Indeed turning off DTLS 1.0 is done by Firefox and Chrome (roughly) at the same time. So who ever wants/needs to continue to use DTLS 1.0 needs to stay on old browser versions to keep it working with their setup.
I agree that highlighting in some form of documentation why recent versions of Chrome and Firefox have stopped working seems like a good idea.

BTW Firefox users could switch to Firefox E

[2020-08-02 08:08] mrjohnson22 commented on #6449
Did the videobridge recently change how it loads the SCTP library? Ever since `jitsi-videobridge2 2.1-273-g072dd44b-1`, it complains about a mismatched architecture even after I follow all of the provided steps, which worked great for me before:

[code]

Stranger still, I tried removing `/usr/share/jitsi-videobridge/lib/jniwrapper-native-1.0-SNAPSHOT.jar` to see what would happen, and the same err

[2020-08-02 12:13] richb-hanover commented on #4758
Two thoughts:

1. I don't think many people will be interested in running their existing (old) server for very long. It will be too hard to support their users - FF80 will stop working first, then Chrome in the near future, etc. Each time it happens, the server admin needs to tell the caller to find a different browser, or download "that Electron thing..." Not fun.

2. Who could write such a note?

[2020-08-02 20:51] Echolon commented on #7434
I will close this with reference to this https://github.com/jitsi/jitsi-meet/issues/5425

Please fill out the template and provide a detailed report. Also see the Jitsi Meet community website!

[2020-08-02 20:51] #7434 closed

[2020-08-02 20:53] Echolon commented on #7435
Hi,
If you have a question about Jitsi Meet that is not a bug report or feature request, please post it in https://community.jitsi.org

Unfortunately, I have to close this :(

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-08-02 20:53] #7435 closed

[2020-08-02 20:56] Echolon commented on #6751
@saghul do translations work again?

[2020-08-02 20:58] Echolon commented on #7436
Hi,
If you have a question about Jitsi Meet that is not a bug report or feature request, please post it in https://community.jitsi.org

Unfortunately, I have to close this :(

@TivanDev: Please checkout those two links: https://github.com/jitsi/jitsi-meet/issues/6751 and https://github.com/jitsi/jitsi-meet/tree/master/lang#translating-jitsi-meet. To my understanding it does not work at the moment.

[2020-08-02 20:58] #7436 closed

[2020-08-02 21:01] Echolon commented on #7438
@nishantt12 can you please fill you the issue template properly?

[2020-08-03 00:56] jbis9051 commented on #5836
So...good news and bad news.

The bad news is I wasn't able integrate it into Jitsi yet as I didn't realize jitsi used flow (why?)  so I need to figure out how to implement it.

The (really) good news is I finally got blur to be near virtual background speed. It works really fast and with virtually no performance impact.

[2020-08-03 06:23] tzezlcy opened #7440 "how to add rtmp to WebRTC conference"
Now, we want add a rtmp to conference,  but we don't know how to do it.

Can you give us any advice?

Thanks

[2020-08-03 08:50] Dastnbek commented on #6987
@manthan3105 I have faced the same error. It is because you did not install git.

[2020-08-03 09:42] ketak opened #7441 "Pin Button Videolayout/smallVideo.js"
hi all,
As i am new to this can any 1 help me
i have copied code from below path in jitsi-meet source code to check the behaviour
https://github.com/jitsi/jitsi-meet/pull/3649/files
in below path i got error can any one help me plzz
![image](https://user-images.githubusercontent.com/25436037/89169200-8c607400-d59b-11ea-8320-26a9eb3bd287.png)
code error :-
      755 |     * @returns {void}
      75

[2020-08-03 09:54] julianladisch opened #7442 "vct.testsrv.gwdg.de discontinued"
### Description:

GWDG has discontinued their Jirsi Meet Instance vct.testsrv.gwdg.de.

### Steps to reproduce:

1. Open https://github.com/jitsi/jitsi-meet/wiki/Jitsi-Meet-Instances
2. Pick any listed instance
3. Use it

### Expected behavior:

Each listed instance is available.

### Actual behavior:

When picking vct.testsrv.gwdg.de the hostname is not found, the instance has been discontinued:

[2020-08-03 10:07] anjanabnath opened #7443 "Couldnot connect to jitsi live video stream, Network request failed getting"
Hi Jitsi team,

When I connect to jitsi activity, Reconnect now  window  showing and a white blank screens appears after.Log error report is as follows
JitsiMeetSDK: [features/base/lib-jitsi-meet] Failed to load configError(TypeError){"message":"Network request failed","stack":"TypeError: Network request failed\n    at anonymous (index.android.bundle:137:7285)\n    at call (native)\n    at dispatc

[2020-08-03 10:07] sebo361 commented on #5462
Hi @goldyliang @Edobruni @luixxiul , i set up the music optimized video conferencing platform https://sirius.video/. Just drop me an email to [mail@sirius.video](mailto:mail@sirius.video) and I will give you free access. Also we are working on a even better music optimized solution with very low latency (70ms - 100ms) - stay tuned!

[2020-08-03 13:06] saghul commented on #7440
Please use our community for such questions. We don't currently have RTMP source support, so your best avenue today would be to turn that into a fake webcam device and use a headless Chrome browser (or electron, or puppeteer) to join the meeting.

[2020-08-03 15:41] #7440 closed

[2020-08-03 15:42] Echolon commented on #7441
Hi,
If you have a question about Jitsi Meet that is not a bug report or feature request, please post it in https://community.jitsi.org

Unfortunately, I have to close this :(

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-08-03 15:42] #7441 closed

[2020-08-03 15:43] Echolon commented on #7442
@julianladisch can you create a PR for this?

[2020-08-03 15:44] Echolon commented on #7443
Hi,
If you have a question about Jitsi Meet that is not a bug report or feature request, please post it in https://community.jitsi.org

Unfortunately, I have to close this :(

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-08-03 15:44] #7443 closed

[2020-08-03 15:46] Echolon commented on #7415
@javikr have you been able to try out the suggestion?

[2020-08-03 15:48] Echolon commented on #7438
@nishantt12 and at least provide a better title?

[2020-08-03 17:18] saghul commented on #7442
Done. I also added a depreciation notice to the wiki. All Gelo migrating the content to the Handbook is welcome.

[2020-08-03 17:18] #7442 closed

[2020-08-03 22:16] sqraw opened #7444 "camera keeps deactivating in jitsi call"

[2020-08-03 22:34] sqraw opened #7445 "my laptop camera keeps disconnecting"
the error says there is no camera found

[2020-08-04 00:50] sashi01 opened #7446 "Cannot enable Google Analytics tracking"
### Description:

Uncommented Google Analytics in `config.js`

[code]

Made build using the build script
`xcodebuild -workspace ios/jitsi-meet.xcworkspace -scheme JitsiMeet -destination='generic/platform=iOS' -configuration Release archive`

Cannot observe events under my app in analytics.google.com

[2020-08-04 01:22] sashi01 commented on #7446
On console
`[JitsiMeetSDK] [features/analytics] Loaded 0 analytics handlers`

[2020-08-04 03:08] devhyunjae opened #7448 "Background color issue when filmstrip-only"
### Description:

<img width="678" alt="Screen Shot 2020-08-04 at 12 03 43 PM" src="https://user-images.githubusercontent.com/12890257/89248480-d2284580-d64a-11ea-9bb7-d33725fb6475.png">

<img width="668" alt="Screen Shot 2020-08-04 at 12 04 14 PM" src="https://user-images.githubusercontent.com/12890257/89248478-d05e8200-d64a-11ea-9806-fe943b06abff.png">

![208](https://user-images.githubuserconte

[2020-08-04 04:10] wolftune commented on #5462
@sebo361 that's great! It would be good, especially for credibility / clarity / trust etc. to explicitly mark that your instance is a music-optimized Jitsi. You'd want most bug-reports and other things to go directly here. If you could also put your fork up on GitHub (or maybe GitLab or SourceHut or other place), that would allow others to submit patches or otherwise contribute.

[2020-08-04 04:26] goldyliang commented on #5462
@sebo361 , personally I agree with @wolftune , unless your project is going to be purely commercial.  I also thought of ideas of this or that improvement, but I found it not easy without community support.

[2020-08-04 04:32] wolftune commented on #5462
@goldyliang That's not necessarily a conflict, people run commercial services hosting fully free/libre/open (FLO) software. It can be both FLO and commercial without any compromises. I'd most hope that feature updates get pushed upstream to Jitsi itself whenever feasible.

[2020-08-04 06:46] anjanabnath commented on #7443
Hi,

This is not a question. Its an issue that happened while connecting to live streaming in jitsi. Please have a look at this issue and help me pls

[2020-08-04 06:47] naveenbabusa commented on #6014
Hi Nimaam

Can you reach out to me with details - mail2sowma@gmail.com

Thanks
Naveen

[2020-08-04 06:48] naveenbabusa commented on #6014
Shared my email id . Do contact me on my maild id mail2sowma@gmail.com

[2020-08-04 07:56] Echolon commented on #7443
Then please fill out the issue template first and replace it in your first message. Ping me and I will reopen

[2020-08-04 08:00] Echolon commented on #6014
@nimaam please stop advertising here, there is a job board for this.

@saghul @damencho

[2020-08-04 08:05] saghul commented on #7446
Does this file exist in your deployment?

[2020-08-04 08:14] sashi01 commented on #7446
libs/analytics-ga.min.js - No
analytics-ga.js - Yes , but in root

<img width="1677" alt="Screenshot 2020-08-04 at 1 42 47 PM" src="https://user-images.githubusercontent.com/5857539/89270174-9a27ff00-d658-11ea-8fc2-f127a5c2c3bf.png">

[2020-08-04 08:16] saghul commented on #7446
Ah wait, I had missed this is mobile related. We don't have GA support there.

[2020-08-04 08:21] sashi01 commented on #7446
Ok. GA not supported on mobile then. Thanks !!

[2020-08-04 09:32] cubico commented on #5707
It works for me with JitsiMeetExternalAPI:

[code]

[2020-08-04 09:34] Echolon commented on #7446
I close this then.

[2020-08-04 09:34] #7446 closed

[2020-08-04 09:36] #6034 closed

[2020-08-04 10:50] sebo361 commented on #5462
My current beta version is non-commercial and freely available to everyone interested. Besides disabling audio filters, as recommended in previous posts, I have set up Jitsi (according to the setup instructions) on an own server, which helps to ensure a stable connection. You can check the detailed settings via "Inspect" on my website. The new version I am currently working on is not based on Jits

[2020-08-04 10:51] sebo361 commented on #5462
@wolftune @goldyliang My current beta version is non-commercial and freely available to everyone interested. Besides disabling audio filters, as recommended in previous posts, I have set up Jitsi (according to the setup instructions) on an own server, which helps to ensure a stable connection. You can check the detailed settings via "Inspect" on my website. The new version I am currently working o

[2020-08-04 11:03] simolev commented on #7274
Updated to jitsi-meet/stable,now 2.0.4857-1 but the issue persists.

[2020-08-04 11:09] ips-illuminz opened #7450 "Build is not running"
I have cloned the latest repo and installed modules with `npm i`

When i'm running `react-native run-android` i'm getting below error:

`jitsi-meet/react/index.native.js: Unexpected token, expected ";" (14:8)`

Before it was working fine and now it's not working with any previous commit, i had tried with previous month commits as well, but nothing seems to be working. Kindly look into this and let

[2020-08-04 11:14] utkarshmarwaha commented on #7129
@jallamsetty1 @saghul
I am facing a similar issue on iPhone X. Whenever I go to settings and come back to video screen, The video and audio stops working. Other person on call cannot see my video or listen to my audio and I can't even listen to other person's audio. Plus There comes a message showing **"Unable to access camera"** which I can't even dismiss from the screen. If I try to restart the

[2020-08-04 11:44] saghul commented on #7450
I have experienced the same behavior. We'll look into it.

[2020-08-04 12:07] ssaini14 opened #7451 "Camera & microphone not working in chrome browser in an iframe"
### Description:
We have added Jitsi meet url in an iframe.

<iframe id="iframe_4_canvas" height="0px" width="0px" src="https://meet.jit.si/TestRoom" allow="camera; microphone" style="min-height: 600px; min-width: 1200px; scroll-behavior: auto;"></iframe>

We are getting "Error obtaining camera permission" and "Error obtaining microphone permission" error and not able to access the camera & microp

[2020-08-04 14:11] dofl opened #7453 "Jitsi Android does not reconnect to room after losing network connection"
### Description:

The official Jitsi Android application does not reconnect back to the server after the network is disrupted.

### Steps to reproduce:

1. Start a chat on any server (meet.jit.si or my own server: https://meet.helmchat.eu. I tested both with the same results) with 2 streams. Use for example a PC and and Android phone with the Android application 20.3.2. build 4911829.
2. Make sure

[2020-08-04 15:38] augustinejenin commented on #7129
@jallamsetty1  i was waiting for the customer reply. This is now they says.
 Cameras now work on iPhone and iPad
- When the host switches to the rear camera, the microphone is canceled and it is no longer heard.
- In the session with the computer it does not work, directly it cannot connect, it stays in the loop all the time trying to connect

if this issue is fixed. client is ok. Please check thi

[2020-08-04 16:13] wolftune commented on #5462
@sebo361 thanks, that sounds pretty intriguing. I hope you will make your new product still free/libre/open and fully privacy respecting.

On a side-note about Jitsi specifically: I've used some other systems like Big Blue Button and had different sorts of glitches. With Jitsi, the audio and video can get really off from each other. And somehow with BBB that never ever happens.

[2020-08-04 17:20] shaileshjadav commented on #2506
I am facing same issue with dolby conference tool. any one can help me?

[2020-08-04 21:22] jallamsetty1 commented on #7129
We are aware of this issue, it happens when we try to grab a second stream from a camera while the stream capture is already in progress. We can mitigate this on mobile web by providing a toggle cam/mic button instead of the select cam/mic button. This will need a little bit of re-work on the mobile web UI and unfortunately we won't be able to get to it soon.

[2020-08-04 21:30] jallamsetty1 commented on #7129
This seems to be the same issue that the other user reported above, opening mic twice seems to be messing up the original stream. The only alternative would be to provide a toggle button.

Can you please explain what you mean this ? Which client keeps reloading ? Is it the mobile client or the desktop browser client ?

[2020-08-04 22:25] jesusvilla opened #7456 "JitsiMeetExternalAPI: configOverwrite.tokenAuthUrl is not assigned"
### Description:

### Steps to reproduce:

1. Copy from official example:
[code]
2. On the embed iframe:
[code]

### Expected behavior:

As developed, it should allow token validation by calling that configured url. This should go in here: https://github.com/jitsi/jitsi-meet/blob/master/modules/UI/authentication/AuthHandler.js#L20

https://github.com/jitsi/jitsi-meet/pull/728

### Actual behavior:

[2020-08-05 03:10] augustinejenin commented on #7129
@jallamsetty1 i didnt understand this "The only alternative would be to provide a toggle button."

What Update we need to do for this?

This is the code we are using
<script src='https://mydomain/external_api.js'></script> <script type="text/javascript"> jQuery(document).ready(function() { var domain = 'mydomain'; var options = { roomName: 'chatroom', width: '100%', height: 700, configOverwrite: {

[2020-08-05 04:24] ips-illuminz commented on #7450
Hey Guys, thanks for confirming the issue. Meanwhile can you please share a commit that i can use to run build on android, that would be very helpful.

[2020-08-05 09:03] AliKarpuzoglu commented on #5252
@saghul it's now running in the background for a longer time (we ran it for 20 mins, unless you open sth like youtube). There are some small issues left, like the button being a bit ugly, but we would love to share it. Are you interested in checking out the testflight, before we place a pull request?

[2020-08-05 09:03] saghul commented on #7450
You can use the `mobile-20.3` branch, which corresponds with the last release.

[2020-08-05 09:04] saghul commented on #5252
@AliKarpuzoglu Sure thing mate! saghul @ jitsi . org Cheers!

[2020-08-05 09:31] javikr commented on #7415
Sorry but I haven't had time to try it yet

[2020-08-05 15:06] Medien-Treibhaus commented on #6584
Is this in the works? It would really make life easier!

[2020-08-05 15:20] RicardoDolNL opened #7461 "Button/textfield taps inside JitsiMeetView will also tap custom other buttons (on previous routes)"
### Description:

I created a wrapper based on https://github.com/skrafft/react-native-jitsi-meet/ for my react native. I mostly just updated the jitsi-meet-sdk version.

The problem: when pressing buttons within the JitsiMeetView it also presses buttons that are shown above that jitsi view or even buttons from a different route (that was visible before the current route is shown). For example i h

[2020-08-05 17:56] saghul commented on #7461
We don't maintain that plugin so we can't really help you, sorry.

[2020-08-05 17:57] saghul commented on #6584
This is not being worked on right now, sorry.

[2020-08-05 18:04] RicardoDolNL commented on #7461
Why not? I know you don't maintain that plugin but it uses the SDK. It just a wrapper for react native, so it's also very likely that the my problem has nothing to do with that plugin and instead has something to do with jitsi-meet-sdk itself.
And since a lot of developers use react native for their jitsi meet app, so they also need to create some sort of wrapper, i think i'm here at one of the be

[2020-08-05 19:02] Nicramus commented on #5230
good point - in my case that was the problem

[2020-08-05 19:07] mmdaz opened #7463 "record automatically"
**Is your feature request related to a problem you are facing?**
Because of low limitations for my work, I have to record meets from the server-side.

**Describe the solution you'd like**
I wanna record and save meets from the server-side.

[2020-08-05 19:07] bbaldino commented on #4758
I thought I had made such an announcement (regarding DTLS 1.0) on the community at some point, but searching now I don't see one so I guess not.  I don't know the details of the specific failure modes, but I can make a general post regarding the DTLS 1.0 deprecation and the requirement to move to jvb 2.

[2020-08-05 19:17] maximilianschmelzer commented on #3445
I'd appreciate this feature, too.

[2020-08-05 20:24] Echolon commented on #7463
Hi,
The team is aware of recording issues. Any reports are now grouped in the pinned issue #5403.

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-08-05 20:24] #7463 closed

[2020-08-05 20:25] Echolon commented on #7444
Hi,
If you have an issue with your camera, please see the pinned issue #5425, which has more information on how to help the Jitsi team to resolve the issue.

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-08-05 20:25] #7444 closed

[2020-08-05 20:25] Echolon commented on #7445
Hi,
If you have an issue with your camera, please see the pinned issue #5425, which has more information on how to help the Jitsi team to resolve the issue.

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-08-05 20:25] #7445 closed

[2020-08-05 20:26] Echolon commented on #7451
Hi,
If you have an issue with your camera, please see the pinned issue #5425, which has more information on how to help the Jitsi team to resolve the issue.

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-08-05 20:26] #7451 closed

[2020-08-05 20:56] nedimf commented on #6584
@Medien-Treibhaus still, you can use SharedPreferences for this. Before starting the session check if the user is logged in and then apply those credentials that have been stored.

[2020-08-06 02:23] e18r opened #7465 "iFrame API: conference subject reverts back to room name after a participant changes their display name or media device"
### Context:

The **conference subject** is the text that appears at the top of the videoconference when you hover your cursor over it.
![Screenshot from 2020-08-05 20-58-25](https://user-images.githubusercontent.com/16065447/89481980-8a92de00-d75e-11ea-812d-fbd6fc09d5ec.png)
Usually, the conference subject is a human-friendly version of the **room name**, i.e. the identifier of the videoconferenc

[2020-08-06 05:56] ips-illuminz commented on #7450
Hey @saghul , Thanks for you response. I have tried the above build that is also not working. It's giving me the following error:

`bundling failed: Error: Unable to resolve module `./getDisplayMedia` from `node_modules/react-native-webrtc/MediaDevices.js`:`

I have removed and tried with fresh `npm i` and `npm audit fix` but nothing seems to be working. Could you please provide me previous branch

[2020-08-06 06:54] saghul commented on #7450
You must have local changes, there is no such file in react-native-webrtc.

[2020-08-06 09:47] ips-illuminz commented on #7450
I have fresh cloned the repo and install node modules, but after the `react-native run-build`, it's displaying the following error.

![image](https://user-images.githubusercontent.com/40974105/89517583-84047500-d7f7-11ea-986c-3987eda70bbc.png)

Can anybody please provide me the working commit so that i can use, this is making a lot of trouble to me and i'm not able to edit anything, it was working

[2020-08-06 09:54] dieug commented on #7331
we had seeing this effect too.
it's not so often as disconnects, but had been present some times.

[2020-08-06 11:09] saghul commented on #7450
Have you tried the mobile-20.3 branch? I tried it from scratch yesterday and it's working.

[2020-08-06 11:16] ips-illuminz commented on #7450
Yes, i tried with `mobile-20.3`, cloned the repo and then checkout with mobile-20.3 branch with npm install and react-native run-android and i'm getting above error

[2020-08-06 11:54] rakibulinux commented on #2461
How I can execute this? Is it any command? I try it on server but don't know how to execute this. Please help me to work on this.

[2020-08-06 11:56] denova commented on #7450
@ips-illuminz yesterday I had the same error even for `mobile-20.3` branch. It looks like it's a cache issue but I'm not sure. Steps that helped me (I use android studio for building the app):

1. Remove avd instance
1. Clean build (Build -> Clean Project)
1. Close project in android studio
1. Close android studio
1. Remove node_modules
1. Remove build folder
1. Remove all iml files in the project

[2020-08-06 12:13] KadambariN commented on #6730
Facing same error.. I am using Xcode 11.3.1 . Trying to create distribution build for this. Also found that in this project fixup-frameworks.sh is already present  which removes unwanted architecture i.e.  i386 and x86_64. run script name in project is : Adjust embedded framework architectures.

![Screenshot 2020-08-06 at 5 38 35 PM](https://user-images.githubusercontent.com/30400473/89530205-c0da

[2020-08-06 13:52] ips-illuminz commented on #7450
Hi @denova , thanks for your reply, but i'm cloning repo from scratch and installing all the modules and not opening in android studio, i had another build that i was opening with Android studio but now i'm not using that, but still i'm getting issue

[2020-08-06 15:09] mqureshi831 commented on #7428
Hi All,

I am having the same issue. In addition, when guest joins the room, they are being given moderator rights.

What I am also looking for is to completely remove the option of having to enable the lobby and have the lobby set to true at all times.  Is it possible to achieve this requirement through backend?

Thank you very much and I appreciate all the help!

[2020-08-06 18:51] HelloWorldUser123 opened #7469 "Firefox not able to establish connection over TURN"
### Description:

We are using TURN server over TCP/UDP 443. Chrome works well but Firefox doesn't choose the right candidate. It seems to be that the right candidate is not nominated (Screen 1) Somehow after some retries of activating camera/mic in the other browser (i.e. Chrome) sometimes FF choses the right candidate (Screen 2)

![image](https://user-images.githubusercontent.com/63649981/895705

[2020-08-06 18:53] HelloWorldUser123 commented on #7469
@jallamsetty1 any ideas?

[2020-08-06 21:58] fred-dev opened #7471 "Chrome permissions issue"
I am having an issue with chrome not asking for camera permissions on chrome Version 84.0.4147.105 (Official Build) (64-bit). I am using jitsi meet on my site, but also see this exact same behaviour when visiting https://meet.jit.si. In firefox the behaviour is correct. Checking the console I see these errors in this order:

`[modules/RTC/RTCUtils.js] Failed to get access to local media.  NotAllow

[2020-08-06 23:04] lagmoellertim commented on #5252
Hey @AliKarpuzoglu ,
Would you mind sharing your current state of work? I'm really interested on how you managed to achieve this, I tried to implement it myself, but due to no experience with WebRTC Native, I haven't completed it.

Cheers

[2020-08-06 23:45] vinodlee opened #7472 "how cam i solve this features/app] Error(TypeError){"message":"undefined is not a function error"
JitsiMeetSDK(20016): [features/app] Error(TypeError){"message":"undefined is not a function","stack":"TypeError: undefined is not a function\n    at f (index.android.bundle:174:332)\n    at anonymous (index.android.bundle:390:500)\n    at apply (native)\n    at value (index.android.bundle:49:1280)\n    at apply (native)\n    at value (index.android.bundle:36:3685)\n    at anonymous (index.android.

[2020-08-07 01:48] jbis9051 commented on #5836
TimerWorker seems to break chrome so i'm removing, someone can add it back one they fix it

[2020-08-07 04:51] augustinejenin commented on #7129
@jallamsetty1 can you please reply how to make this microphone works?

[2020-08-07 10:02] ips-illuminz commented on #7450
Hello Guys,
I have tried branch `mobile-19.5` and it is working fine, but it doesn't have all the new features. I have tried all the builds after that are not working and giving errors, all the issues are coming related to webrtc module. Can anybody let me know which version i have to choose with branch `mobile-20.3`.
Thanks in advance!

[2020-08-07 10:06] kushagraagent47 commented on #5872
Same problem is coming again

[2020-08-07 10:23] brimur opened #7476 "All in one Jitsi-meet, dependencies and with Jibri recording installation script?"
Hi guys, I have googled this but haven't found anything. I am having a lot of dependency issues with Jitsi-Meet on Ubuntu Server 18 when it comes to updating so I have not been able to update. Is there a bash script I can run on a clean build that will install Jitis-Meet and all its dependencies as well as all the software required for its features such as recording with Jibri? I did look up the J

[2020-08-07 10:34] brimur commented on #7476
Sorry didnt google hard enough. I found this.
[code]

Maybe that will do it

[2020-08-07 10:34] #7476 closed

[2020-08-07 11:40] Echolon commented on #7469
@HelloWorldUser123 please fill out the issue template properly.

[2020-08-07 11:42] Echolon commented on #7471
@fred-dev can you please fill out the issue template?

[2020-08-07 11:43] Echolon commented on #7472
Please fill out the issue template first.

[2020-08-07 12:51] fred-dev commented on #7471
Can you share a link to the template?

[2020-08-07 13:36] Echolon commented on #7471
@fred-dev if you click new issue a template is provided. You can copy that

[2020-08-07 14:13] fred-dev opened #7478 "Chrome camera permissions issue"
### Description:

I am having an issue with chrome not asking for camera permissions on chrome Version 84.0.4147.105 (Official Build) (64-bit). I am using jitsi meet on my site, but also see this exact same behaviour when visiting https://meet.jit.si. In firefox the behaviour is correct.
 It seems the method that jitsi meet uses to get camera permissions has been depreciated, it will only get micr

[2020-08-07 14:15] fred-dev commented on #7471
Now clearer in #7478 I closing this issue

[2020-08-07 14:15] #7471 closed

[2020-08-07 14:36] HelloWorldUser123 commented on #7469
@Echolon sorry I added additional information as it is in the template

[2020-08-07 15:35] davenlin19 opened #7480 "Mobile app, need user signal to show who is really talking"
Hello,

In the mobile app, we only have the blue horn icon, but do you see that often does not show who is really talking. It shows who is the dominant speaker but it changes a little bit slow.

<img width="277" alt="signal" src="https://user-images.githubusercontent.com/3631130/89662429-476f7100-d8fe-11ea-91d3-e62a55bbb5a6.PNG">

In desktop's browser, we can see the signal from every participant,

[2020-08-07 15:56] Echolon commented on #7478
Very good, thanks!

[2020-08-07 16:13] Echolon commented on #5653
rel. #5407

[2020-08-07 17:43] Gerard-ODonnell opened #7482 "API Encryption method exists?"
Hi,

In the same way we have

`api.executeCommand('password', 'ThePassword');`

which can set the room password, has there been deployed something like

`api.executeCommand('e2eePassword', 'TheE2EEPassword');`

for setting the E2EE password, or at the moment, must it remain a procedure that is done

1. manually or
2. https://meet.jit.si/theRoomName#e2eekey=TheE2EEPassword

[2020-08-07 19:14] mrphs opened #7483 "main-fa.json strings don't match main-enGB.json"
### Description:

I have started translating the strings into Persian (Farsi) [here](https://github.com/kandootech/jitsi-meet/tree/persian-translation) and I noticed a bunch of strings in [main-fa.json](https://github.com/jitsi/jitsi-meet/blob/master/lang/main-fa.json) don't match [main-enGB.json](https://github.com/jitsi/jitsi-meet/blob/master/lang/main-enGB.json) which I assume is the main file.

[2020-08-07 19:16] mrphs commented on #7483
Additionally I was wondering if we could coordinate to add this project under the umbrella of [Localization Lab](https://www.localizationlab.org/) to have the community work more actively on updating the translations.

[2020-08-07 19:21] Rahulin15 opened #7484 "AppStore Processing fails and builds are showing "Invalid Build", when using Jitsi SDK in iOS Application"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server information:

- Jitsi Meet version:
- Operating System:

### Client information:

- Browser / app version:
- Operating System:

### Additional information:

[2020-08-07 19:21] nils-ohlmeier commented on #4758
FYI looks like we are going to delay removal of DTLS 1.0 once more https://bugzilla.mozilla.org/show_bug.cgi?id=1657808

[2020-08-07 21:48] mrose17 opened #7485 "`JitsiMeetExpernalAPI`options additional parameters"
**Is your feature request related to a problem you are facing?**
Yes. I'd like to specify an invite URL. At present, the invite URL presented to the user consists of the `domain` parameter and the `options.roomName` parameter, e.g., `"https://meet.jit.si/theRoomName"`)

**Describe the solution you'd like**
Add a parameter to `options` such as `inviteURL` (e.g., `inviteURL: "https://together.brave.

[2020-08-07 21:48] mrose17 opened #7486 "`JitsiMeetExpernalAPI`support persistance of video quality or current device list"
**Is your feature request related to a problem you are facing?**
Yes. I want to be able to persist the `videoQuality` between sessions. The problem is that there isn't a way to get the current `videoQuality` nor is there an event that reports a change in `videoQuality`.

I'd also like to be able to persist the current device choices. While `api.getCurrentDevices().then(devices => { ... })` is defi

[2020-08-07 21:48] mrose17 opened #7487 "`JitsiMeetExpernalAPI options.userInfo.displayName` ignored on prejoin page"
### Description:

### Steps to reproduce:

        const options = {
          "roomName": generateRoomName(),
          "parentNode": document.querySelector('#meet'),
          "configOverwrite": {
            "prejoinPageEnabled": true,
            "startWithAudioMuted": true,
            "startWithVideoMuted": true
          },
          "userInfo": {
            "displayName": "John Q. Public"

[2020-08-08 01:13] rananajam1 commented on #3741
Facing the same issue can you help me out @vortecsone
![Screenshot_1596740719](https://user-images.githubusercontent.com/51153575/89699088-30507380-d93e-11ea-81da-d371b1534f04.png)

[2020-08-08 01:21] rananajam1 commented on #6416
@hmharshit did you fix this?

[2020-08-08 07:59] AliKarpuzoglu commented on #5252
@lagmoellertim sure. Send me a mail, it’s on my Website

Also of antoje Else Wants to join the TestFlight, send me a mail. We’re still working on optimizing it

[2020-08-08 08:07] enterux commented on #5252
Hey Ali,

Can't find your email, however have sent you dm on twitter.

Please do respond back on how we can test ?

[2020-08-08 08:30] AliKarpuzoglu commented on #5252
send an email to testflight (at) alikarpuzoglu (dot) com

[2020-08-08 16:23] tigusigalpa commented on #6356
since Ubuntu 20 you have to use `python3-` prefix instead of `python-`

[2020-08-08 16:47] akalana commented on #4012
HI @saghul
Can you please explain more?

[2020-08-09 13:30] iongraphix commented on #5860
Here is a proof of concept. Source code available
http://bodypix.easyjitsi.com/

[2020-08-09 13:47] #6556 closed

[2020-08-09 15:33] snan opened #7489 "In panel view, show those with video only"
On my puny screen it's annoying that the blank squares of those who aren't connected via video (for example those who have connected via textt jabber clients) take up as much space in the **panel view** as those who do.

Maybe they could be shown smaller (good for when they have icons and such) but giving them as much space as those who have video is kinda hopeless.

[2020-08-10 06:59] dyros26 opened #7491 "How can i hide video of a specific participant so that i will not receive their stream?"
How can i hide video of a specific participant so that i will not receive their stream to lower my bandwidth consumption. It’s like the “low bandwidth” or “audioOnlyMode” feature but for a specific participant only, not all participant.

[2020-08-10 07:23] kushagraagent47 opened #7492 "I am trying to install jitsi nightly version in ubuntu AWS but i am getting an error"
The following packages have unmet dependencies:
 jitsi-meet : Depends: jitsi-meet-web (= 1.0.4328-1) but 1.0.4337-1 is to be installed
              Depends: jitsi-meet-web-config (= 1.0.4328-1) but 1.0.4337-1 is to be installed
              Depends: jitsi-meet-prosody (= 1.0.4328-1) but 1.0.4337-1 is to be installed
              Recommends: jitsi-meet-turnserver (= 1.0.4328-1) but it is not goi

[2020-08-10 07:41] huzaifaaak commented on #7450
None of the branch is working for me. They all throw this error. @saghul I think this has to do something with babel config.

[2020-08-10 07:42] saghul commented on #7450
@huzaifaaak That's my suspicion as well, but `mobile-20.3` doesn't have those changes.

[2020-08-10 08:14] s-xync commented on #7450
I was just trying to run the `master` branch and faced the issue mentioned in the issue description and came upon this issue. Now i have switched to `mobile-20.3` and getting this issue mentioned by @ips-illuminz in [this comment](https://github.com/jitsi/jitsi-meet/issues/7450#issuecomment-669829723).

[2020-08-10 09:27] Echolon commented on #7484
@Rahulin15 Hello, I will close this until you fill out the issue template. Then I can reopen.

[2020-08-10 09:27] #7484 closed

[2020-08-10 09:30] Echolon commented on #7491
Hello,

please refer to the Jitsi Meet Community Website with questions. This is only for bugs and feature requests.

[2020-08-10 09:30] #7491 closed

[2020-08-10 09:32] Echolon commented on #7492
@kushagraagent47 can you please fill out the issue template when clicking new issue?

[2020-08-10 09:33] saghul commented on #7450
https://github.com/jitsi/jitsi-meet/pull/7495 fixes it. You can locally delete the babel.config.js file, for the same effect. Now, after doing that you need to reset the transform cache. Currently the easiest way to do this is to run `react-native-start --reset-cache` and quit the bundler afterwards.

[2020-08-10 11:03] haary commented on #5425
Getting the error "Unable to access camera" as well at https://meet.jit.si/ with chromium. Same on many other instances.
BUT: On instances which still have an older version of Jitsi installed, e.g. https://jitsi.uni-due.de/, the webcam still works.

Several WebRTC tests with the webcam do work as well, e.g. https://janus.conf.meetecho.com/echotest.html

So it seems to be a problem only with newer

[2020-08-10 11:07] saghul commented on #5425
@haary What results do you get on https://test.webrtc.org/

[2020-08-10 11:11] haary commented on #5425
![screenshot](https://user-images.githubusercontent.com/4052999/89776889-04361d80-db0b-11ea-9cdd-2debd8e29126.jpg)

[2020-08-10 11:34] saghul commented on #5425
@jallamsetty1 can you PTAL? Looks like we might have broken "old, 4:3 only" camera support again :-(

[2020-08-10 11:36] saghul commented on #7489
Jitsi Meet is designed with video conferencing in mind first and foremost. Supporting a different UI for text-only clients is not something we can spend time on, sorry.

[2020-08-10 11:36] #7489 closed

[2020-08-10 11:47] snan commented on #7489
Hold on, the experience is fine who those have text-only clients.

**The problem is for those who do use the app for video conferencing.**
For example I have one guy that connects in with voice only and doesn't
turn on his camera (or maybe he doesn't have a camera, IDK.)

For those of us who _do_ use the app, we just see this big gray square
taking up as much space as the real video feeds (in pane

[2020-08-10 11:54] snan commented on #7489
That guy does use the app. I think mentioning text client in my first post was a red herring and I regret that.

[2020-08-10 14:24] Naveenkhasyap commented on #6014
[This is](https://www.webrtc-experiment.com/RecordRTC/) surely a useful resource to look into if anyone is planning to implement local recording feature.

[2020-08-10 14:39] #7450 closed

[2020-08-10 14:48] HoppFoundation commented on #5252
https://github.com/HoppFoundation/jitsi-meet/tree/screenshare

Here's the source code. If anyone is able to contribute:
- Performance could be improved, by sending raw bytes in SampleHandler.swift and receiving them in SocketShim.swift
- Maybe by improving this performance we don't have to scale down the images as much. However, we need to manage the memory usage
- we sometimes have an orange scre

[2020-08-10 14:53] damencho commented on #7456
URLs are intentionally not whitelisted to be able to be overwritten as this opens doors for bad behavior and forwarding people to bad locations.
To be able to use that you need to change it on your deployment.

[2020-08-10 14:53] #7456 closed

[2020-08-10 15:58] joe733 commented on #5252
Is it ready for android clients too?

[2020-08-10 16:00] AliKarpuzoglu commented on #5252
#5244  already has a working implementation. Maybe there is a way to combine them, but we only worked on iOS

[2020-08-10 17:08] #7267 closed

[2020-08-10 18:06] hristoterezov commented on #7487
Thanks for the report!

I've just verified that we are not updating the display name on the prejoin page when you set it trough the Iframe API. We'll be working on fixing it.

[2020-08-10 18:34] hristoterezov commented on #7486
Indeed we currently don't have events that notify for video quality changes or current devices changes. I agree that it make sense to implement them!

On the other hand, about persisting the current device choice, I believe this is currently handled anyway inside the iframe in Jitsi Meet. Isn't this working for you? If this is the case please let us know!

[2020-08-10 18:41] ctheune opened #7501 "Automatically copy invite URL after creating a room?"
**Is your feature request related to a problem you are facing?**

Zoom has the feature where creating a new room will automatically copy the URL (and just the URL) into your system's copy buffer for immediate pasting into chat, mail, etc. I notice that even after having switched to Jitsi a number of months ago I keep pasting (accidentally) whatever is in my buffer because my brain keeps thinking t

[2020-08-10 18:54] mrose17 commented on #7486
This isn't work, briefly: the `'localStorage` for "meet.jit.si" is always empty. i will privately send you a screen shot with a URL to the site that you can examine!  Thank you!

[2020-08-10 19:22] mrose17 opened #7502 "Using the iFrame API, the subject resets to "" when someone changes a media device"
### Description:

When a conference is running using the iFrame API, if someone changes a media device, the subject is reset to `""`

### Steps to reproduce:

1. Start with

           JitsiMeetJS = new JitsiMeetExternalAPI(domain, options);
           JitsiMeetJS.executeCommand('subject', options.interfaceConfigOverwrite.APP_NAME);

2. Join the conference

3. Change one of your media devices

###

[2020-08-10 19:47] damencho commented on #7482
There is no option to set that using an API function. There is UI to set it when it is supported.

Please use the community forum for questions before opening new issues.

[2020-08-10 19:47] #7482 closed

[2020-08-10 19:49] damencho commented on #7483
Take a look at https://github.com/jitsi/jitsi-meet/issues/5056
We still haven't managed to transition that ... there were few legal stuff to figure out that slowed it down and now the vacation season ...

[2020-08-10 19:50] damencho commented on #7483
For now the translation work is done by hand. The main file to check for strings is main.json.

[2020-08-10 19:50] #7483 closed

[2020-08-10 20:15] jbis9051 commented on #5836
Any update on the PR?

[2020-08-11 02:29] benasocj opened #7503 "UI: can't click on "show more" for additional stats when too many participants"
### Description:

When there are too many participants in the meeting (26 as it was in my case) I can no longer click on the "show more" button to see additional stats on my connection (such as local and remote IP address).

![jitsi_screenshot_bug](https://user-images.githubusercontent.com/986086/89849955-006acf80-dbcd-11ea-8d74-ec6d4a52ac5c.jpg)

As soon as I try to hover the mouse over the "show

[2020-08-11 02:33] cesarcorzo opened #7504 "Disable recording popups/notifications"
**Is your feature request related to a problem you are facing?**
When a conference recording is started, a popup notification shows. Same when a conference recording is stopped.

![image](https://user-images.githubusercontent.com/65993266/89850945-5c940c00-db59-11ea-9c2d-973c4e36015c.png)

**Describe the solution you'd like**
I would like to enable/disable this through a **interface_config.js** or

[2020-08-11 04:25] johnxie commented on #6279
Any updates on this?

[2020-08-11 04:29] alternativesurfer opened #7505 "Enable Encryption missing from security options"
### Description:

### Steps to reproduce:

1.
Jitsi meeting
2.
Shield, enter password.
Encryption key section missing.
![image](https://user-images.githubusercontent.com/10135929/89856993-b0015c80-db4f-11ea-82a1-17f702d1d007.png)

3.

### Expected behavior:

Last week when I clicked the shield there was a second section under Password for me to enable encryption and set a key.

### Actual behavior

[2020-08-11 05:33] #6566 closed

[2020-08-11 06:56] applejian commented on #7450
Build is not running too,

[2020-08-11 07:45] fritzfr opened #7506 "Participants That Joined Later Cant See Raised Hand of Existing Participants"
### Description:

User A is in a room and raises it's hand, and then User B joins. User B does not see that User A raised it's hand. User A still sees it's hand as raised (actually sometimes it seems that the server lowers Users' A hand when User B joins, but cant reproduce this 100%). Tested with both latest Chrome and iOS App.

### Steps to reproduce:

1. Join any meeting, raise hand
2. Join the

[2020-08-11 08:36] 532910 commented on #6334
Is it stale?

[2020-08-11 09:23] saghul commented on #7450
Have you reset the transformation cache?

[2020-08-11 09:24] ips-illuminz commented on #7450
Thanks @saghul , now it's fixed and everything is working fine now.

[2020-08-11 09:26] saghul commented on #5802
We are not going to pursue this for the time being, since there are implications as we are part of a larger company.

We may revisit it in the future.

Thanks for the suggestion though!

[2020-08-11 09:26] #5802 closed

[2020-08-11 09:36] s-xync commented on #7450
After removing `babel.config.js` as suggested by @saghul, I had to first do `rm -rf node_modules`, then `npm install` and `npx react-native start --reset-cache` to get it fixed. Thanks @saghul.

[2020-08-11 10:28] shijilspark commented on #5773
Has anyone has the issue of turning off/on camera in mobile browser after enabling disableDeepLinking: true ?

I can mute/unmute mike though.

Any help would be appreciated.

[2020-08-11 11:08] #6762 closed

[2020-08-11 14:09] jallamsetty1 commented on #5425
@saghul, I don't think we have changed anything with the video constraints lately.  https://jitsi.uni-due.de/ seems to request an ideal height of 240 and that is why its working there.
@haary, can you please expand the "Check supported resolutions" tab that lists all the capabilities that were tested and share it with us?

[2020-08-11 15:08] ovvn opened #7509 "Tiles are very small in the tile view"
**Is your feature request related to a problem you are facing?**
Can't make tile sizes bigger, wasting too much of useful space
<img width="442" alt="Zoom_Meeting" src="https://user-images.githubusercontent.com/2973998/89914169-4dff3080-dbfd-11ea-8ae9-bcb760cf8ac6.png">

**Describe the solution you'd like**
Be able to customize tiles, e.g. via the interface config https://github.com/jitsi/jitsi-me

[2020-08-11 16:20] godpit opened #7510 "How to toggle the call type between video and audio within android?"
How to toggle the call type between video and audio within android?

[2020-08-11 17:08] keithrdsouza opened #7511 "video not working"
Hi there, video not working for video chat.ca,

[2020-08-11 18:08] jallamsetty1 commented on #4758
In the Jitsi community call, we have been receiving reports of audio/video issues when using Firefox in large calls. As part of the client performance optimization work, we have been working on different features lately that are designed to bring down the client's cpu utilization. One such feature is called layer suspension that lets the client suspend sending HD simulcast streams when the bridge

[2020-08-11 18:22] #7511 closed

[2020-08-11 18:38] rugk commented on #4758
Commented there, because with the last activity being 5 months ago and the fact that the issue is not on their "jitsi-meet" whiteboard, this is something we need to make them aware.
Thanks for the link, @jallamsetty1 in any case.

[2020-08-11 18:46] mrphs commented on #7483
So, does this mean I should over-write the strings that don't match? What's the process like to get them included in the next release? I couldn't find any documentation around this.

[2020-08-12 07:12] augustinejenin commented on #7129
hi @jallamsetty1 do you have any update for the mic is not working. Clients asking when this will fixed. Mic is not working when they shift the camera.

[2020-08-12 07:26] haary commented on #5425
![screenshot](https://user-images.githubusercontent.com/4052999/89987189-28aa0b00-dc6d-11ea-968c-c8bb52330c4b.jpg)

[2020-08-12 08:26] Ark74 commented on #6359
Has anyone tried this con Secure rooms?
Does it changes?

[2020-08-12 10:36] AliKarpuzoglu commented on #7510
open the button in the call with the 3 dot menu in the bottom right and click on "Enable Audio only mode"

[2020-08-12 10:43] AliKarpuzoglu opened #7514 "Lobby - mobile. When the moderator leaves, no mobile user takes over as the host"
### Description:

When Opening a lobby - via the app or the browser, people can join. The moderator can let people in. But if the moderator disconnects, he can not rejoin, because no one can let him back in. A client that is logged in via the browser can take over though

### Steps to reproduce:

1. person1 opens a room with an android/ iOS phone
2. enable the lobby mode
3. person2 joins on mobile

[2020-08-12 11:53] #7510 closed

[2020-08-12 11:54] saghul commented on #7514
I assume you are not using the all moderators plugin? Is participant 2 promoted to a moderator on web?

[2020-08-12 12:25] AliKarpuzoglu commented on #7514
Yes, Participant 2 is promoted to a moderator on web. I have to ask my team about the moderators plugin

[2020-08-12 12:36] AliKarpuzoglu opened #7515 "Feature Request - add option for custom toolbar button without having to fork the repository"
**Is your feature request related to a problem you are facing?**
Yes, we want to add an additional button to our Jitsi Web instance, but we don't want to manually have to follow the jitisi-meet repository. Some Buttons might be useful for a lot of people (Mute all, Kick all, etc), but some might be very custom needs.

**Describe the solution you'd like**
an option in the interface_config for a  cu

[2020-08-12 12:44] HuskarHuang commented on #7472
I have the same problem，but use normal

[2020-08-12 14:59] dominikandreas opened #7516 "Participants audible even though muted"
### Description:

Some users are audible even though their microphone is turned off in jitsi web. Once they turn it on, they sound like a robot (probably duplicate sound stream slightly offset by a couple of ms). I regard this issue as very severe because users can't trust that the rest of the participants can't hear them. There is no indication of transmission (blue dots that are normally visible

[2020-08-12 16:14] saghul commented on #7472
We need a way to reproduce this, a stack trace without any more context is not very useful in this case alas.

[2020-08-12 16:15] saghul commented on #7514
Can you reproduce this on beta.meet.jit.si? It has the lobby enabled and the all-moderators plugin disabled.

[2020-08-12 16:19] saghul commented on #7509
That's really weird, they should be larger indeed. What resolution was that?

[2020-08-12 16:39] damencho commented on #7514
Nope, beta has all-moderators enabled. alpha.jitsi.net is the place with lobby and not all-moderators enabled.

[2020-08-12 17:28] AliKarpuzoglu commented on #7514
reproduced it on alpha.jitsi.net:

1. open lobby with chrome
2. join lobby with iphone
3. leave with chrome
4. try to join with chrome

-> the iPhone can not allow the user

When I reversed the roles (open with iPhone etc), I was  also not able to let the the next users back in via the browser

So no, not on alpha.jitsi.net

[2020-08-12 17:36] AliKarpuzoglu commented on #6260
This also happened to me just now, I think when entering a lobby with a password. (for #7514 ) We disabled native call integration in our fork quite a while ago and I have not noticed any adverse effects.
I feel like disabling it will make a lot of users feel better about the usability of the app, especially since a lot of similar apps don't use native call integration.

[2020-08-12 17:46] ovvn commented on #7509
@saghul
<img width="879" alt="localhost_3000_v3_negotiation_cfcecaad-3d08-456c-9392-875815fbfc0a_fiveTricks_fiveTricks1 4" src="https://user-images.githubusercontent.com/2973998/90048797-a822f300-dcdc-11ea-836a-d9dd2a1af5f1.png">
<img width="871" alt="localhost_3000_v3_negotiation_cfcecaad-3d08-456c-9392-875815fbfc0a_fiveTricks_fiveTricks1 3" src="https://user-images.githubusercontent.com/2973998/

[2020-08-12 18:53] damencho commented on #7514
I just tested on alpha jitsi net and if the moderator leaves a random person from the meeting is promoted for moderator. You can guess that by the star on the thumbnail.

[2020-08-12 19:31] AliKarpuzoglu commented on #7514
Did you try entering the lobby with another device? I think(not sure) I saw the star, too...

[2020-08-12 19:40] damencho commented on #7514
Now, I was checking only the web. I don't think mobile shows the star. And the moderator rights are handled in the backend so ...

[2020-08-13 01:42] HuskarHuang commented on #7472
Thank you very much,here is the log:
2020-08-12 19:41:20.405 7461-7778/org.jitsi.meet E/JitsiMeetSDK: [features/analytics] Error(Error){"message":"No analytics handlers created!","stack":"Error: No analytics handlers created!\n    at http://localhost:8081/index.android.bundle?platform=android&dev=true&minify=false:214691:15\n    at tryCallOne (http://localhost:8081/index.android.bundle?platform=an

[2020-08-13 06:13] paisuchen commented on #6341
Hi, is there any update for this error?

[2020-08-13 06:50] cbm755 commented on #6863
I checked: it effects only my local view.

I think this can be closed.

[2020-08-13 06:53] AliKarpuzoglu commented on #7514
But ignoring the star and the moderator permissions, were you able to let new people enter the lobby as a promoted moderator?

[2020-08-13 07:05] l3d00m commented on #6341
You might check the linked issue in my comment above, if that helps.

[2020-08-13 07:08] ruedigerkupper commented on #6863
Thanks!

[2020-08-13 07:08] #6863 closed

[2020-08-13 07:55] saghul commented on #7514
Mobile does show stars except in the case everyone is a moderator. We might be missing some role update handler perhaps? (on mobile)

[2020-08-13 08:16] saghul commented on #7514
Ok, I tested and could reproduce the problem. Steps:

- browser: join a meeting on alpha and enable lobby
- mobile: join the same meeting and ask for permission
- mobile: check there is no star for their own thumbnail nor the disable lobby option visible
- browser: leave
- mobile: check the disable lobby option is now visible
- browser: rejoin
- mobile: no notification is received, but we have a s

[2020-08-13 08:18] saghul commented on #7472
That is just a harmless error message, which we have actually removed and won't show up on the next release. You can ignore it, it's not an indication of a problem.

[2020-08-13 08:20] paisuchen commented on #6341
Thanks @l3d00m for your response.

I think the issue is jitsi not support Ubuntu 20.4 yet. Jitsi using the previous version of python an Ubuntu 20.4 using python 3.
For this issue I work around with generating let's encrypt in my domain service then copy certificate and key (.crt & .key) manually to jitsi server. It works for me.

[2020-08-13 08:24] saghul commented on #6341
The latest stable version should have this fixed, since we now use the `certbot` package provided by Ubuntu. Can you please give the latest stable a try?

[2020-08-13 08:51] Echolon commented on #7509
Thank you for reporting @ovvn

May you change the title into a statement not a question? That would be great!

[2020-08-13 09:18] HuskarHuang commented on #7472
hello saghul，do you have the android sdk or ios sdk that not use react-native，if not how can we  do with native android or ios

[2020-08-13 09:38] ovvn commented on #7509
@Echolon done

[2020-08-13 09:48] saghul commented on #7514
Actually, I can also reproduce the problem with 2 browsers. I think I have a lead on where the problem is.

[2020-08-13 10:39] panwar67 opened #7522 "Jitsi reconnects on hosting meeting"
### Description:

 The jitsi call is initiated on loop if i try to create a meeting

### Steps to reproduce:

1. Open app
2. Enter room name and join
3. After the popup where host can login the app reconnects to the room again and it happens on loop

[2020-08-13 11:25] saghul commented on #7514
@damencho This is very weird. When I use the "grant moderator" functionality things work ok. But if the initial owner leaves instead, I do get promoted to moderator, but joining the lobby fails like so:

[code]

[2020-08-13 11:41] hasgardee commented on #7461
same issue

[2020-08-13 11:57] saghul commented on #7522
Please provide browser console logs.

[2020-08-13 11:59] saghul commented on #7509
That is an incredibly small window size. We are not currently ready to work properly at such small sizes. I know strides have been made towards this end though. See:  https://github.com/jitsi/jitsi-meet/pull/7380

[2020-08-13 12:10] Echolon commented on #7509
@ovvn I will close this so far for now, okay?
Sorry, we couldnt help.

[2020-08-13 12:10] #7509 closed

[2020-08-13 12:13] Echolon commented on #7438
@nishantt12

[2020-08-13 12:14] Echolon commented on #7472
@vinodlee @HuskarHuang I will close this until you have provided a way to reproduce it. Please ping me then.

[2020-08-13 12:14] #7472 closed

[2020-08-13 12:25] ovvn commented on #7509
@saghul what minimum window size do you consider appropriate for Jitsi's tile view to look good? The pull request #7380 doesn't solve the tile view issue.
@Echolon, no worries :) Anyway, I set up my own instance and made tile view look better.

[2020-08-13 12:29] nimaam commented on #6014
I made this code and it is ready to install, but not free

[2020-08-13 12:56] damencho commented on #7514
Hum, I will take a look, I have another lobby bug to track next on my plate. Thanks for the tests.

[2020-08-13 15:43] ghassen11 opened #7525 "getAvatarURL always returns undefined"

[2020-08-13 15:45] individual-it commented on #5367
Is this done?
The changelog claims it is https://github.com/jitsi/jitsi-meet-release-notes/blob/master/CHANGELOG-MOBILE-APPS.md#2030-2020-07-14
And I can see the sharing function in the app

[2020-08-13 15:48] damencho commented on #5367
Yep.

[2020-08-13 15:48] #5367 closed

[2020-08-13 16:14] christianvw commented on #4892
Same here.

[2020-08-13 22:16] edemaine opened #7526 "Tile view uses tiny video tiles when low Jitsi window height"
### Description:

The tile view seems to have a hard-coded margin of 100px on top and 100px on bottom. This makes the tile view especially useless when the window has low height (say, around 200px), even if the window is wide so could accommodate video quite well.

### Steps to reproduce:

1. Open any Jitsi meeting
2. Enter tile view
3. Shrink the height of the window

### Expected behavior:

Vide

[2020-08-14 02:55] bluecloudRaj opened #7527 "When 3rd person joined muted audio and video"
Issue : - When 3rd person joined muted audio and video.

I followed the below steps to resolve.

Google VM Instance system Configuration
Ubuntu 18.04
4vCPUs, 15GB memory
Allow HTTP traffic
Allow HTTPS traffic
Created

sudo apt update
sudo apt install apt-transport-https
sudo apt-add-repository universe
sudo hostnamectl set-hostname meet.example.org
hostname
sudo nano /etc/hosts
127.0.0.1 localhost

[2020-08-14 03:27] paisuchen commented on #6341
Hi saghul, I try withi this step:
sudo apt-get upgrate certbot <--- nothing updated, still on vertion 0.40.0

and I try also to run :
sudo /usr/share/jitsi-meet/scripts/install-letsencrypt-cert.sh

same error occurred.

cmiiw if the steps was wrong

[2020-08-14 03:45] damencho commented on #7527
Check out quick install guide advanced section https://jitsi.org/qi. This is firewall, jvb not announcing public address(you had covered that) or port forwarding not working.

[2020-08-14 03:45] #7527 closed

[2020-08-14 03:46] damencho commented on #7527
Please use community forum before opening new issues.

[2020-08-14 08:25] saghul commented on #6341
Have you updated jitsi-meet to the latest stable version? What package versions do you have?

[2020-08-14 11:48] woweil opened #7529 "Can not invoke a special subdirectory in /usr/share/jitsi-meet"
Hallo everyone;

I want to use on the same machine owncloud.
So I extracted the owncloud-archive in /usr/share/jitsi-meet/owncloud
This is the Document_root from the regarding config file.
But jitsi interprets the expression as a new room.
Can I prevent this behaviour. If yes, how can I create a new room by an alternative way?

Man thanks and regards!
Wolfram

[2020-08-14 12:15] woweil commented on #7529
I have found a solution for preventing to create new rooms in a restricted way:
https://community.jitsi.org/t/can-i-prevent-creation-of-rooms-other-than-a-pre-authorised-list/25041
But I cannot invoke the subdirectory owncloud. I only see a white page.
So I ask, if there is a solution, to invoke subdirs in the rootdir.

Regards
Wolfram

[2020-08-14 12:42] dpanic opened #7530 "Start Audio and Video muted while they're not"
### Description:
If one dissables welcome screen in config.js (enableWelcomePage: false) than when opens jitsi page with video and audio unmuted, enabled.

1. His own video is not shown on his own screen
2. Top right thumbnail is showing muted audio and video, while they're not

### Expected behavior:
Expected to work normaly even if user disables Welcome Page

### Actual behavior:
![Screen Shot 2

[2020-08-14 17:34] Echolon commented on #7525
Hi,
Please detail your issues so it's clearer what the problem is. If you still have problems, feel free to reopen this.

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-08-14 17:34] #7525 closed

[2020-08-14 17:35] Echolon commented on #7526
related: #7509

[2020-08-14 17:36] Echolon commented on #7529
Hi,
If you have a question about Jitsi Meet that is not a bug report or feature request, please post it in https://community.jitsi.org

Unfortunately, I have to close this :(

---
*I'm a community contributor and not directly affiliated with the Jitsi team.*

[2020-08-14 17:36] #7529 closed

[2020-08-14 22:56] #7514 closed

[2020-08-15 01:10] reesericci commented on #2196
Can this be re-opened? I created my own CA and trusted it on my iPad but the app won't join to it.

[2020-08-15 08:32] psi-4ward commented on #7465
It is because XMPP sends the update message:
[code]
and the new subject is the _real_ roomName and not the subject set by external_api

[2020-08-15 09:06] maxfloden commented on #7487
Maybe it is the same thing as iframe api, but it does not work from url either, for example: meet.jit.si/meeting-refererence#userInfo.displayName="nwoodhouse"

[2020-08-15 09:19] psi-4ward commented on #7465
My workaround is to ignore the `XMPPEvents.SUBJECT_CHANGED` Message in `https://github.com/jitsi/lib-jitsi-meet/blob/master/modules/xmpp/ChatRoom.js#L1011`

[2020-08-15 09:22] psi-4ward commented on #7502
related to https://github.com/jitsi/jitsi-meet/issues/7465 ?

[2020-08-15 11:07] maxguru commented on #5709
I think this should be closed. The new version of jitsi-meet-electron seems to have this bug fixed. It worked for me for a while already.

[2020-08-15 11:17] davidak commented on #4927
This is still needed.

[2020-08-15 11:19] davidak commented on #5254
This is still needed.

[2020-08-15 12:47] Dastnbek commented on #4282
did you find answer ?

[2020-08-15 15:57] vkruoso commented on #6706
Any thoughts on that?

[2020-08-15 22:51] franckadil commented on #7240
@saghul Any update? Thank you.

[2020-08-15 23:51] pgenderson commented on #5425
On the latest version of Firefox the camera doesn't work when I run my own server instance of Ubuntu Server 20.04:
![jitsi](https://user-images.githubusercontent.com/65199540/90323516-1e676580-df28-11ea-9fb1-faf29b0d2c35.PNG)

But the camera works fine when I run the latest stable Chromium for Windows (84.0.4147.125).

[2020-08-16 00:19] nodiscc commented on #2544
/unstale

I think @echristiaans' configuration is correct, will try to test it when time allows

[2020-08-16 01:47] Razzeee commented on #6409
I don't think this should be closed

[2020-08-16 05:54] rishabhmalik759 commented on #3874
Hello,
I am using Jitsi to teach people Yoga online, and when the shared youtube video stops in the tile view I can't see where I am at.
If I don't go to tile view, I can't really correct the participants if they are doing some wrong move.

This feature of playing youtube video in tile view is must needed. Please tell me how can I implement it, if it's not so complicated?

[2020-08-16 06:48] MurzNN commented on #5758
Hey, bump! This is very annoying issue!

[2020-08-16 06:51] licaon-kter commented on #5779
/unstale

[2020-08-16 07:45] allo- commented on #6631
bump

[2020-08-16 13:17] mdannehl commented on #5836
I also can't wait to hear something about the PR.

I think improving the performance of the blurring feature is very important - especially in context of the still ongoing discussion about different video conference tools and their features. Blurring is currently barely usable.

[2020-08-16 14:22] rhonz10 commented on #7354
I'm also using an own deployment. Is there any way to make this work without having to edit core files? Using the config overwrite enables us to dynamical change settings depending on conditions, such as language of the user.

[2020-08-16 14:53] mrose17 commented on #7486
It looks like current device persistence is now working. So i guess that's left is being able to persist video quality...

[2020-08-16 15:13] 532910 commented on #6182
Is any update there?

[2020-08-16 16:22] Nokia808 commented on #6559
@saghul
Hi. This issue is still existing. Moreover, it is not limited to Honor 8X ! I bought new mobile (Nokia 7.2 with Android one - Android 10) & suffer from same issue.

Kindly, remove automatic label "wontfix"

[2020-08-16 16:25] Nokia808 commented on #6559
I changed title to be more accurate for the case.

[2020-08-16 20:24] Echolon commented on #6188
unstale

[2020-08-17 00:58] mikelpr opened #7536 "install-letsencrypt-cert.sh fails on focal as it wants python-virtualenv"
### Description:
the script fails as ubuntu moved to python3 default and python-virtualenv is no longer packaged

### Steps to reproduce:
run /usr/share/jitsi-meet/scripts/install-letsencrypt-cert.sh on focal

### Expected behavior:
should generate let's encrypt certs successfully

### Actual behavior:
fails because it wants python-virtualenv which is no longer available

### Server information:

[2020-08-17 03:34] daxiondi commented on #5507
I think you need to uninstall your app and` PersistenceRegistry.js `Add the following code to work
![image](https://user-images.githubusercontent.com/26639571/90355008-94311580-e07d-11ea-8352-e843372e22bc.png)

[2020-08-17 04:04] augustinejenin commented on #7129
@jallamsetty1 Do You have any update for this ? clients still asking about this. Can You let me know when this will be fixed?

[2020-08-17 07:31] c-stubbe commented on #5540
This should really be fixed. With this logo, Jitsi cannot reasonable be used for screen sharing (so we have to use TeamViewer for this, with all its drawbacks compared to Jitsi).
Please fix this!

[2020-08-17 07:36] thetechguy-cpu opened #7537 "Accessibility issues with screen readers."
Hi.
I am a completely blind user of jitsi. I would like to report accessibility issues with jitsi. For reference, I am using NVDA with google chrome.
### Description:

Here are some of the accessibility issues I found:
- NVDA does not report the toggle state of the button. E.G when clicking on the mute button.
- Buttons are not marked as buttons to NVDA.
- The more options menu in the participants

[2020-08-17 08:22] hasgardee commented on #3783
@saghul still facing this issue on MI phone.. any fix?

[2020-08-17 09:16] pkramme opened #7538 "letsencrypt-renew generates info output"
**Is your feature request related to a problem you are facing?**
Currently the `letsencrypt-renew` cronjob is generating nonerror output, which gets send as an email. This is not ideal for us, because humans need to analyse these messages. Example Output:
[code]

**Describe the solution you'd like**
It would be great to either disable the nonerror output by default, or make that option available w

[2020-08-17 10:11] mavit commented on #6360
The issue is still present.

[2020-08-17 10:51] kida7 opened #7539 "[IOS] Error when display other member video"
### Description:
**TypeError: undefined is not an object (evaluating '_this9.peerconnection.addTrack')**
workFunction
JingleSesssionPC.js:1046:40

### Steps to reproduce:

1. Clone source code from master branch. Patch **react/features/base/lib-jitsi-meet/_.native.js**  with:
[code]
2. Run
[code]
3. Create room with any name (`<room name>`). Accept microphone and camera permission request.
4. Open

[2020-08-17 11:26] Echolon commented on #7537
Hi, thank you for your report. I labeled it accordingly, there were also other topics on this.

[2020-08-17 13:23] elanfer opened #7540 "Mapping of TURN and Web Requests breaks TLS Handshake"
I was wondering why after a new installation the jitsi web frontend was running on port 4444 and I haven't found a 443 listener in sites-enabled. Moreover, openssl_client and ssllabs.com failed in doing a proper SSL Handshake. Aditionally NextGen Firewall blocked our jitsi service, because no proper handshake could be issued.

A test with ssllabs showed: No secure protocols supported, probably bec

[2020-08-17 13:31] damencho commented on #7540
The reason is simple to be able to run nginx on port 443, but to be able to run and coturn on the same address and port.
coturn is used for relay of tcp media.
We decided sometime ago that we will remove that from the default install and will use standard turn ports and will just add doc how to make coturn use separate dns for the turn connections on port 443.

[2020-08-17 13:31] damencho commented on #7540
Please use the community forum before opening new issues.

[2020-08-17 13:31] #7540 closed

[2020-08-17 13:45] elanfer commented on #7540
I think we're missing the point here. Based on this config from the current master branch, in a nginx setup, the ssl handshakes are not working properly. You can see this by executing `openssl s_client -connect meet.example.com` this is because an initial tls connection is failing before proxying is established, some firewalls and clients will have problems with this behaviour (like checkpoint fir

[2020-08-17 14:02] damencho commented on #7540
So those requests are not h2 requests so that is the reason. Everything that is http/2 and have alpn web will be served as web the rest will be forwarded to the turn.
https://github.com/jitsi/jitsi-meet/blob/master/doc/debian/jitsi-meet/jitsi-meet.conf#L14

[2020-08-17 14:13] TimDowker commented on #6473
I'm also receiving this error - anybody ever get it figured out?

[2020-08-17 14:16] elanfer commented on #7540
Okay I understand, thank you. Wouldn't it be better than if web upstream is the default and turn requests are handled seperatly by header? I think the strict checkpoint firewall case I had, is not the only one. It seems like that the firewall is performing a preliminary SSL/TLS check, like OpenSSL client is doing this, with other packet types than http, when this check fails the connection will be

[2020-08-17 14:21] jallamsetty1 commented on #7129
Unfortunately, we don't have a quick fix for it since it is a mobile browser issue. We will have to implement a workaround by changing the way we switch between devices which would need a bit of rework on the UI. At this point, I don't have an estimate on when this will be prioritized.

[2020-08-17 14:27] damencho commented on #7540
That would be perfect, and that was how we started doing it, but we needed to open an issue on chrome side reporting they do not set ALPN for the turn tcp connections. They are currently working on that, but even when they fix it it will take 3 to 6 months to propagate that to clients.

I see. We will be removing that as I said and leave turn on default ports.

[2020-08-17 15:22] fritzfr commented on #3261
`/etc/init.d/jicofo restart && /etc/init.d/jitsi-videobridge2 restart && /etc/init.d/prosody restart`

Copy paste oneliner.

[2020-08-17 17:56] jbguerraz commented on #6332
not stale ;) I'd be happy to know!

[2020-08-17 18:52] jhonatanpiffer commented on #4412
Hi, @damencho I really need this feature for my project and my intention now is to develop this feature of using 3 webcams simultaneously.
Can you help me with some directions?
Can I use only lib-jitsi-meet to achieve this or I need to customize JVB too?

[2020-08-17 20:48] damencho commented on #4412
Probably you can achieve this by using the lib, like entering multiple times in the conference with different local settings ... Otherwise the whole arch, around jicofo, jvb and lib-jitsi-meet are one video and one audio stream per participant.

[2020-08-17 20:49] damencho commented on #6332
Yes this was removed and is not used through the UI

[2020-08-17 23:24] samopus1io commented on #4412
Hi jhonatanpiffer we implemented multi camera support with picture in picture / and custom layout for a commercial project. We will contribute it eventually but we cant at the moment.

We can talk about it If you are interested, or at the very least we can give you some pointers.

https://www.reddit.com/r/jitsi/comments/i371gm/multi_camera_support_in_jitsi_meetings/

[2020-08-18 03:35] llacb47 commented on #5831
.

[2020-08-18 04:40] ismael-bernier commented on #1422
so, I do not understand solution... Seems to be that the reference is to a remote file instead of the local one that you create when building... odd choice. I can however affect change to the react files... Changed the welcome page and the react/features/base/config/functions.any.js file variable interfaceConfig as follows:

[code]

[2020-08-18 06:18] sagz commented on #6055
Wait why is this a wontfix now?

[2020-08-18 06:29] aniyanm opened #7542 "Unable to kick out user from meeting"
### Description:

I tried to kick someone from the meeting but it is not working as expected.

### Steps to reproduce:

1. User A  joined the meeting.
2. Moderator trying to kick out user A

### Expected behavior:

User A should leave the meeting once he is kicked out of the meeting

### Actual behavior:

User A's screen will freeze for  few seconds and then he will be asked to rejoin the meeting.

[2020-08-18 08:46] fritzfr commented on #6665
@saghul Maybe I'm missing something but I implemented it exactly like you, it doesn't seem to do much though. There is still a 5-15 second delay after app termination and the participant actually disappearing.

[2020-08-18 12:25] chirayu25 commented on #4552
Here is the code to change the username

[code]

[2020-08-18 12:58] damencho commented on #7542
Is this default installation without altering any config?

[2020-08-18 16:56] Echolon commented on #7492
I will close this until the reporter haven't provided steps to reproduce.

[2020-08-18 16:56] #7492 closed

[2020-08-18 16:57] Echolon commented on #7522
@panwar67

[2020-08-18 23:28] jhonatanpiffer commented on #4412
Amazing to know this. Thanks in advance.

[2020-08-18 23:40] jhonatanpiffer commented on #4412
Thanks @damencho for your answer. Entering some times in a room does not supply my needs for this project. I will need the whole arch.

[2020-08-19 04:57] ankar84 commented on #6859
I have same problem and seems to be only on Android with orientation change
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2410

[2020-08-19 06:45] augustinejenin commented on #7129
@jallamsetty1 Thank you for the update. But clients still asking about this. if you fix this issue please let me know.
Thank You

[2020-08-19 06:55] bhavesh18 opened #7547 "Not receiving frameRate for remote users in mobile, in web it's working fine."
Hello,
I'm using getTrackByMediaTypeAndParticipant() method for getting users constraints but i'm only receiving values of local user that is same all the time. However, in the case of remote user(mobile/web) I'm getting empty object.

const videoTrack = getTrackByMediaTypeAndParticipant(this.props.state['features/base/tracks'], MEDIA_TYPE.VIDEO, item.id)

videoTrack && console.log('track-detail '

[2020-08-19 08:11] Echolon commented on #7547
Can you please fill out the issue template?

[2020-08-19 10:02] parveensachdeva commented on #6497
![image](https://user-images.githubusercontent.com/45853238/90621266-1ada2400-e231-11ea-94f2-eed7424aa495.png)
We getting same issue

[2020-08-19 12:18] baijianghai opened #7548 "Add Android UI Featureflag"
Can android add a featureflag that hides more (three points) @saghul @jcfischer

[2020-08-19 14:28] LouisDinatale commented on #1259
I just started using jitsi and I am running into this issue on mobile web browser.

[2020-08-19 14:34] LouisDinatale commented on #1259
on android, works flawlessly everywhere else.

[2020-08-19 15:38] Echolon commented on #7548
@baijianghai please fill out the full issue template if you request a feature.

Please refuse from mentioning the developers.

[2020-08-19 15:39] sherfuTechie opened #7549 "Mute/Unmute microphone once join the channel on mobile SDKs"
I am trying to use your native mobile SDK.
When I join the channel, I can mute/unmute the microphone with the option.
But after join the channel, there is no way to mute/unmute the microphone without leaving the channel and re-join.
Can you please help me?
Thanks

[2020-08-19 17:26] e18r commented on #7502
@psi-4ward @mrose17 This is definitely the same bug as #7465. I just tested this and indeed the subject resets to "" when someone changes a media device, and also when someone changes their display name. I originally reported it as resetting to the room name because it seems that, when the subject is blank, the room name is shown instead.